Repository razorpay/blade, pull requests merged in 2022-08, with the labels that each got.

#604 fix: button styling for native
  .changeset/silly-spies-grin.md
  packages/blade/src/components/Button/BaseButton/BaseButton.tsx
  packages/blade/src/components/Button/BaseButton/StyledBaseButton.native.tsx
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.native.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.web.test.tsx.snap
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.native.test.tsx.snap
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.web.test.tsx.snap
Labels: Review - L1

#593 fix(Typography): expose text styles
  packages/blade/src/components/Button/BaseButton/BaseButton.tsx
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.native.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.web.test.tsx.snap
  packages/blade/src/components/Button/Button/Button.stories.tsx
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.native.test.tsx.snap
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.web.test.tsx.snap
  packages/blade/src/components/Checkbox/CheckboxLabelText.tsx
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.native.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.web.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.native.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.web.test.tsx.snap
  packages/blade/src/components/Form/FormHintText.tsx
  packages/blade/src/components/Form/FormLabelText.tsx
  packages/blade/src/components/Link/BaseLink/BaseLink.tsx
  packages/blade/src/components/Link/BaseLink/__tests__/__snapshots__/BaseLink.native.test.tsx.snap
  packages/blade/src/components/Link/BaseLink/__tests__/__snapshots__/BaseLink.web.test.tsx.snap
  packages/blade/src/components/Link/Link/Link.stories.tsx
  packages/blade/src/components/Link/Link/__tests__/__snapshots__/Link.native.test.tsx.snap
  packages/blade/src/components/Link/Link/__tests__/__snapshots__/Link.web.test.tsx.snap
  packages/blade/src/components/SkipNav/SkipNav.web.tsx
  packages/blade/src/components/Typography/BaseText/BaseText.d.ts
  packages/blade/src/components/Typography/BaseText/BaseText.native.tsx
  packages/blade/src/components/Typography/BaseText/BaseText.stories.tsx
  packages/blade/src/components/Typography/BaseText/BaseText.tsx
  packages/blade/src/components/Typography/BaseText/BaseText.web.tsx
  packages/blade/src/components/Typography/BaseText/BaseTextTypes.ts
  packages/blade/src/components/Typography/BaseText/StyledBaseText.d.ts
  packages/blade/src/components/Typography/BaseText/StyledBaseText.native.tsx
  packages/blade/src/components/Typography/BaseText/StyledBaseText.web.tsx
  packages/blade/src/components/Typography/BaseText/__tests__/BaseText.native.test.tsx
  packages/blade/src/components/Typography/BaseText/__tests__/BaseText.web.test.tsx
  packages/blade/src/components/Typography/BaseText/__tests__/__snapshots__/BaseText.native.test.tsx.snap
  packages/blade/src/components/Typography/BaseText/__tests__/__snapshots__/BaseText.web.test.tsx.snap
  packages/blade/src/components/Typography/BaseText/getBaseTextStyles.ts
  packages/blade/src/components/Typography/BaseText/index.ts
  packages/blade/src/components/Typography/Heading/Heading.stories.tsx
  packages/blade/src/components/Typography/Heading/Heading.tsx
  packages/blade/src/components/Typography/Heading/__tests__/Heading.native.test.tsx
  packages/blade/src/components/Typography/Heading/__tests__/Heading.web.test.tsx
  packages/blade/src/components/Typography/Heading/__tests__/__snapshots__/Heading.native.test.tsx.snap
  packages/blade/src/components/Typography/Heading/__tests__/__snapshots__/Heading.web.test.tsx.snap
  packages/blade/src/components/Typography/Heading/index.ts
  packages/blade/src/components/Typography/Text/Text.stories.tsx
  packages/blade/src/components/Typography/Text/Text.tsx
  packages/blade/src/components/Typography/Text/__tests__/Text.native.test.tsx
  packages/blade/src/components/Typography/Text/__tests__/Text.web.test.tsx
  packages/blade/src/components/Typography/Text/__tests__/__snapshots__/Text.native.test.tsx.snap
  packages/blade/src/components/Typography/Text/__tests__/__snapshots__/Text.web.test.tsx.snap
  packages/blade/src/components/Typography/Text/getTextStyles.ts
  packages/blade/src/components/Typography/Text/index.ts
  packages/blade/src/components/Typography/Title/Title.stories.tsx
  packages/blade/src/components/Typography/Title/Title.tsx
  packages/blade/src/components/Typography/Title/__tests__/Title.native.test.tsx
  packages/blade/src/components/Typography/Title/__tests__/Title.web.test.tsx
  packages/blade/src/components/Typography/Title/__tests__/__snapshots__/Title.native.test.tsx.snap
  packages/blade/src/components/Typography/Title/__tests__/__snapshots__/Title.web.test.tsx.snap
  packages/blade/src/components/Typography/Title/index.ts
  packages/blade/src/components/Typography/index.ts
Labels: Review - L2

#594 fix(blade): checkbox errorText alignment
  .changeset/funny-horses-exercise.md
  packages/blade/src/components/Checkbox/Checkbox.tsx
  packages/blade/src/components/Checkbox/CheckboxGroup/CheckboxGroup.tsx
  packages/blade/src/components/Checkbox/CheckboxGroup/useCheckboxGroup.ts
  packages/blade/src/components/Checkbox/CheckboxLabelText.tsx
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.native.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.web.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.native.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.web.test.tsx.snap
  packages/blade/src/components/Form/FormHintText.tsx
  packages/blade/src/components/Form/index.ts
  packages/blade/src/hooks/useControllable.ts
Labels: Review - L1

#622 chore: add appropriate types for onClick of Button & BaseButton
  .changeset/forty-parents-think.md
  packages/blade/src/components/Button/BaseButton/BaseButton.tsx
  packages/blade/src/components/Button/BaseButton/__tests__/BaseButton.native.test.tsx
  packages/blade/src/components/Button/BaseButton/__tests__/BaseButton.web.test.tsx
  packages/blade/src/components/Button/Button/Button.tsx
Labels: bug

#573 docs(Alert): add API design and decisions
  packages/blade/src/components/Alert/_decisions/alert-breakdown-alt-compound.png
  packages/blade/src/components/Alert/_decisions/alert-breakdown.png
  packages/blade/src/components/Alert/_decisions/alert-mobile-full-bleed.png
  packages/blade/src/components/Alert/_decisions/alert-without-title.png
  packages/blade/src/components/Alert/_decisions/alerts-thumbnail.png
  packages/blade/src/components/Alert/_decisions/decisions.md
Labels: API Decisions

#627 feat(blade): checkbox patch v2
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/src/components/Checkbox/Checkbox.tsx
  packages/blade/src/components/Checkbox/CheckboxGroup/CheckboxGroup.tsx
  packages/blade/src/components/Checkbox/CheckboxGroup/CheckboxGroupContent.tsx
  packages/blade/src/components/Checkbox/CheckboxGroup/useCheckboxGroup.ts
  packages/blade/src/components/Checkbox/CheckboxLabel.d.ts
  packages/blade/src/components/Checkbox/CheckboxLabel.native.tsx
  packages/blade/src/components/Checkbox/CheckboxLabel.web.tsx
  packages/blade/src/components/Checkbox/__tests__/Checkbox.native.test.tsx
  packages/blade/src/components/Checkbox/__tests__/Checkbox.web.test.tsx
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.native.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.web.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.native.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.web.test.tsx.snap
  packages/blade/src/components/Checkbox/useCheckbox.ts
  packages/blade/src/components/Form/FormHint.tsx
  packages/blade/src/components/Form/FormHintTextWrapper.d.ts
  packages/blade/src/components/Form/FormHintWrapper.d.ts
  packages/blade/src/components/Form/FormHintWrapper.native.tsx
  packages/blade/src/components/Form/FormHintWrapper.web.tsx
  packages/blade/src/components/Form/FormLabel.tsx
  packages/blade/src/components/Form/Selector/SelectorLabel.d.ts
  packages/blade/src/components/Form/Selector/SelectorLabel.native.tsx
  packages/blade/src/components/Form/Selector/SelectorLabel.web.tsx
  packages/blade/src/components/Form/Selector/SelectorSupportText.tsx
  packages/blade/src/components/Form/Selector/SelectorTitle.tsx
  packages/blade/src/components/Form/index.ts
  packages/blade/src/hooks/useFormId.ts
  packages/blade/src/hooks/useId.ts
Labels: Review - L2

#595 docs: add `Badge` API decisions
  packages/blade/src/components/Badges/_decisions/badge-thumbnail.png
  packages/blade/src/components/Badges/_decisions/decisions.md
Labels: Review - L2, API Decisions

#628 docs: add contributing and dev setup guidelines
  CONTRIBUTING.md
  README.md
Labels: Review - L2

#552 docs(blade): add input api decisions
  packages/blade/src/components/Button/_decisions/decisions.md
  packages/blade/src/components/Input/_decisions/base-inputfield-layout.png
  packages/blade/src/components/Input/_decisions/decisions.md
Labels: Review - L1, API Decisions

#634 fix(blade): Checkbox design changes
  .changeset/clever-crews-smell.md
  packages/blade/src/components/Box/Box.d.ts
  packages/blade/src/components/Box/getBoxStyles.ts
  packages/blade/src/components/Checkbox/CheckboxGroup/CheckboxGroup.tsx
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.native.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.web.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.native.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.web.test.tsx.snap
  packages/blade/src/components/Form/FormLabel.tsx
  packages/blade/src/components/Form/Selector/SelectorLabel.native.tsx
  packages/blade/src/components/Form/Selector/SelectorLabel.web.tsx
Labels: Review - L1

#635 docs(CONTRIBUTING): add android setup instructions
  CONTRIBUTING.md
Labels: Review - L2

#613 feat: add IconButton (internal)
  .eslintrc.js
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/src/components/Button/BaseButton/BaseButton.tsx
  packages/blade/src/components/Button/IconButton/IconButton.stories.internal.tsx
  packages/blade/src/components/Button/IconButton/IconButton.tsx
  packages/blade/src/components/Button/IconButton/StyledIconButton.d.ts
  packages/blade/src/components/Button/IconButton/StyledIconButton.native.tsx
  packages/blade/src/components/Button/IconButton/StyledIconButton.web.tsx
  packages/blade/src/components/Button/IconButton/__tests__/IconButton.native.test.tsx
  packages/blade/src/components/Button/IconButton/__tests__/IconButton.web.test.tsx
  packages/blade/src/components/Button/IconButton/__tests__/__snapshots__/IconButton.native.test.tsx.snap
  packages/blade/src/components/Button/IconButton/__tests__/__snapshots__/IconButton.web.test.tsx.snap
  packages/blade/src/components/Button/IconButton/index.ts
  packages/blade/src/components/Icons/index.tsx
  packages/blade/src/components/Icons/useIconProps/useIconProps.test.tsx
  packages/blade/src/components/Icons/useIconProps/useIconProps.tsx
Labels: Review - L2

#641 fix: button spinner layout
  .changeset/seven-dogs-lick.md
  packages/blade/src/components/Box/Box.d.ts
  packages/blade/src/components/Box/__tests__/Box.native.test.tsx
  packages/blade/src/components/Box/__tests__/Box.web.test.tsx
  packages/blade/src/components/Box/__tests__/__snapshots__/Box.native.test.tsx.snap
  packages/blade/src/components/Box/__tests__/__snapshots__/Box.web.test.tsx.snap
  packages/blade/src/components/Box/getBoxStyles.ts
  packages/blade/src/components/Button/BaseButton/BaseButton.tsx
  packages/blade/src/components/Button/BaseButton/StyledBaseButton.web.tsx
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.web.test.tsx.snap
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.web.test.tsx.snap
Labels: Review - L2

#645 feat(Icons): add new icons
  .changeset/ten-shrimps-brush.md
  packages/blade/src/components/Icons/ArrowDownIcon/ArrowDownIcon.native.test.tsx
  packages/blade/src/components/Icons/ArrowDownIcon/ArrowDownIcon.tsx
  packages/blade/src/components/Icons/ArrowDownIcon/ArrowDownIcon.web.test.tsx
  packages/blade/src/components/Icons/ArrowDownIcon/__snapshots__/ArrowDownIcon.native.test.tsx.snap
  packages/blade/src/components/Icons/ArrowDownIcon/__snapshots__/ArrowDownIcon.web.test.tsx.snap
  packages/blade/src/components/Icons/ArrowDownIcon/index.ts
  packages/blade/src/components/Icons/ArrowRightIcon/ArrowRightIcon.native.test.tsx
  packages/blade/src/components/Icons/ArrowRightIcon/ArrowRightIcon.tsx
  packages/blade/src/components/Icons/ArrowRightIcon/ArrowRightIcon.web.test.tsx
  packages/blade/src/components/Icons/ArrowRightIcon/__snapshots__/ArrowRightIcon.native.test.tsx.snap
  packages/blade/src/components/Icons/ArrowRightIcon/__snapshots__/ArrowRightIcon.web.test.tsx.snap
  packages/blade/src/components/Icons/ArrowRightIcon/index.ts
  packages/blade/src/components/Icons/ArrowUpRightIcon/ArrowUpRightIcon.native.test.tsx
  packages/blade/src/components/Icons/ArrowUpRightIcon/ArrowUpRightIcon.tsx
  packages/blade/src/components/Icons/ArrowUpRightIcon/ArrowUpRightIcon.web.test.tsx
  packages/blade/src/components/Icons/ArrowUpRightIcon/__snapshots__/ArrowUpRightIcon.native.test.tsx.snap
  packages/blade/src/components/Icons/ArrowUpRightIcon/__snapshots__/ArrowUpRightIcon.web.test.tsx.snap
  packages/blade/src/components/Icons/ArrowUpRightIcon/index.ts
  packages/blade/src/components/Icons/HomeIcon/HomeIcon.native.test.tsx
  packages/blade/src/components/Icons/HomeIcon/HomeIcon.tsx
  packages/blade/src/components/Icons/HomeIcon/HomeIcon.web.test.tsx
  packages/blade/src/components/Icons/HomeIcon/__snapshots__/HomeIcon.native.test.tsx.snap
  packages/blade/src/components/Icons/HomeIcon/__snapshots__/HomeIcon.web.test.tsx.snap
  packages/blade/src/components/Icons/HomeIcon/index.ts
  packages/blade/src/components/Icons/SearchIcon/SearchIcon.native.test.tsx
  packages/blade/src/components/Icons/SearchIcon/SearchIcon.tsx
  packages/blade/src/components/Icons/SearchIcon/SearchIcon.web.test.tsx
  packages/blade/src/components/Icons/SearchIcon/__snapshots__/SearchIcon.native.test.tsx.snap
  packages/blade/src/components/Icons/SearchIcon/__snapshots__/SearchIcon.web.test.tsx.snap
  packages/blade/src/components/Icons/SearchIcon/index.ts
  packages/blade/src/components/Icons/iconMap.ts
  packages/blade/src/components/Icons/index.tsx
Labels: Review - L2

#630 feat: add `Badge` component
  .changeset/nice-buses-protect.md
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/package.json
  packages/blade/src/components/Badge/Badge.stories.tsx
  packages/blade/src/components/Badge/Badge.tsx
  packages/blade/src/components/Badge/StyledBadge.d.ts
  packages/blade/src/components/Badge/StyledBadge.native.tsx
  packages/blade/src/components/Badge/StyledBadge.web.tsx
  packages/blade/src/components/Badge/__tests__/Badge.native.test.tsx
  packages/blade/src/components/Badge/__tests__/Badge.web.test.tsx
  packages/blade/src/components/Badge/__tests__/__snapshots__/Badge.native.test.tsx.snap
  packages/blade/src/components/Badge/__tests__/__snapshots__/Badge.web.test.tsx.snap
  packages/blade/src/components/Badge/badgeTokens.ts
  packages/blade/src/components/Badge/getStyledBadgeStyles.ts
  packages/blade/src/components/Badge/index.tsx
  packages/blade/src/components/Box/Box.d.ts
  packages/blade/src/components/Box/__tests__/Box.native.test.tsx
  packages/blade/src/components/Box/__tests__/Box.web.test.tsx
  packages/blade/src/components/Box/__tests__/__snapshots__/Box.native.test.tsx.snap
  packages/blade/src/components/Box/__tests__/__snapshots__/Box.web.test.tsx.snap
  packages/blade/src/components/Box/getBoxStyles.ts
  packages/blade/src/components/Button/Button/Button.stories.tsx
  packages/blade/src/components/index.ts
Labels: Review - L2

#651 fix(blade): radio & checkbox icon alignment
  .changeset/thirty-comics-enjoy.md
  packages/blade/src/components/Checkbox/Checkbox.tsx
  packages/blade/src/components/Checkbox/CheckboxGroup.stories.tsx
  packages/blade/src/components/Checkbox/CheckboxIcon/CheckboxIconWrapperStyles.ts
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.native.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.web.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.native.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.web.test.tsx.snap
  packages/blade/src/components/Form/Selector/SelectorGroupField.tsx
  packages/blade/src/components/Radio/Radio.stories.tsx
  packages/blade/src/components/Radio/Radio.tsx
  packages/blade/src/components/Radio/RadioGroup/RadioGroup.tsx
  packages/blade/src/components/Radio/RadioIcon/RadioIconWrapperStyles.ts
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.native.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.web.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.native.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.web.test.tsx.snap
Labels: Review - L2

#624 feat(Input): make baseinput field controlled - PR2
  .eslintrc.js
  packages/blade/src/components/Box/Box.d.ts
  packages/blade/src/components/Box/getBoxStyles.ts
  packages/blade/src/components/Checkbox/CheckboxGroup/useCheckboxGroup.ts
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.web.test.tsx.snap
  packages/blade/src/components/Checkbox/useCheckbox.ts
  packages/blade/src/components/Form/FormHint.tsx
  packages/blade/src/components/Form/FormLabel.tsx
  packages/blade/src/components/Form/useFormId.ts
  packages/blade/src/components/Input/BaseInput/BaseInput.stories.tsx
  packages/blade/src/components/Input/BaseInput/BaseInput.tsx
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.d.ts
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.native.tsx
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.web.tsx
  packages/blade/src/components/Input/BaseInput/getBaseInputStyles.ts
  packages/blade/src/components/Input/BaseInput/index.ts
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.web.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.web.test.tsx.snap
Labels: Review - L2

#667 feat(icons): arrow up and arrow left
  .changeset/thirty-buttons-drive.md
  packages/blade/src/components/Icons/ArrowLeftIcon/ArrowLeftIcon.native.test.tsx
  packages/blade/src/components/Icons/ArrowLeftIcon/ArrowLeftIcon.tsx
  packages/blade/src/components/Icons/ArrowLeftIcon/ArrowLeftIcon.web.test.tsx
  packages/blade/src/components/Icons/ArrowLeftIcon/__snapshots__/ArrowLeftIcon.native.test.tsx.snap
  packages/blade/src/components/Icons/ArrowLeftIcon/__snapshots__/ArrowLeftIcon.web.test.tsx.snap
  packages/blade/src/components/Icons/ArrowLeftIcon/index.ts
  packages/blade/src/components/Icons/ArrowUpIcon/ArrowUpIcon.native.test.tsx
  packages/blade/src/components/Icons/ArrowUpIcon/ArrowUpIcon.tsx
  packages/blade/src/components/Icons/ArrowUpIcon/ArrowUpIcon.web.test.tsx
  packages/blade/src/components/Icons/ArrowUpIcon/__snapshots__/ArrowUpIcon.native.test.tsx.snap
  packages/blade/src/components/Icons/ArrowUpIcon/__snapshots__/ArrowUpIcon.web.test.tsx.snap
  packages/blade/src/components/Icons/ArrowUpIcon/index.ts
  packages/blade/src/components/Icons/iconMap.ts
  packages/blade/src/components/Icons/index.tsx
Labels: Review - L2

#660 feat: add `blue` variant to `Badge`
  .changeset/green-poems-tell.md
  packages/blade/src/components/Badge/Badge.stories.tsx
  packages/blade/src/components/Badge/Badge.tsx
  packages/blade/src/components/Badge/StyledBadge.d.ts
  packages/blade/src/components/Badge/__tests__/Badge.native.test.tsx
  packages/blade/src/components/Badge/__tests__/Badge.web.test.tsx
  packages/blade/src/components/Badge/__tests__/__snapshots__/Badge.native.test.tsx.snap
  packages/blade/src/components/Badge/__tests__/__snapshots__/Badge.web.test.tsx.snap
  packages/blade/src/components/Badge/_decisions/badge-thumbnail.png
  packages/blade/src/components/Badge/_decisions/decisions.md
  packages/blade/src/components/Badge/getStyledBadgeStyles.ts
  packages/blade/src/components/Icons/index.tsx
  packages/blade/src/components/Typography/BaseText/BaseTextTypes.ts
Labels: Ready to Merge

#649 feat(BaseInput): add `keyboard` related properties - PR4
  packages/blade/src/components/Input/BaseInput/BaseInput.stories.tsx
  packages/blade/src/components/Input/BaseInput/BaseInput.tsx
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.d.ts
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.native.tsx
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.web.tsx
  packages/blade/src/components/Input/BaseInput/baseInputStyles.ts
Labels: Ready to Merge

#632 feat(BaseInput): add leading and trailing visuals - PR3
  .eslintrc.js
  packages/blade/ios/blade.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/blade/src/components/Box/Box.d.ts
  packages/blade/src/components/Box/getBoxStyles.ts
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.native.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.web.test.tsx.snap
  packages/blade/src/components/Form/FormHint.tsx
  packages/blade/src/components/Form/FormLabel.tsx
  packages/blade/src/components/Icons/index.tsx
  packages/blade/src/components/Input/BaseInput/BaseInput.stories.tsx
  packages/blade/src/components/Input/BaseInput/BaseInput.tsx
  packages/blade/src/components/Input/BaseInput/BaseInputVisuals.tsx
  packages/blade/src/components/Input/BaseInput/BaseInputWrapper.tsx
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.d.ts
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.native.tsx
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.web.tsx
  packages/blade/src/components/Input/BaseInput/baseInputStyles.ts
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.native.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.web.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.native.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.web.test.tsx.snap
Labels: Review - L1

#670 Alert PR3: add tests, more icons and final export
  .changeset/small-suns-judge.md
  packages/blade/src/components/Alert/Alert.stories.tsx
  packages/blade/src/components/Alert/Alert.tsx
  packages/blade/src/components/Alert/__tests__/Alert.native.test.tsx
  packages/blade/src/components/Alert/__tests__/Alert.web.test.tsx
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.native.test.tsx.snap
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.web.test.tsx.snap
  packages/blade/src/components/Alert/index.ts
  packages/blade/src/components/Icons/AlertIcon/AlertIcon.native.test.tsx
  packages/blade/src/components/Icons/AlertIcon/AlertIcon.tsx
  packages/blade/src/components/Icons/AlertIcon/AlertIcon.web.test.tsx
  packages/blade/src/components/Icons/AlertIcon/__snapshots__/AlertIcon.native.test.tsx.snap
  packages/blade/src/components/Icons/AlertIcon/__snapshots__/AlertIcon.web.test.tsx.snap
  packages/blade/src/components/Icons/AlertIcon/index.ts
  packages/blade/src/components/Icons/AlertOctagonIcon/AlertOctagonIcon.native.test.tsx
  packages/blade/src/components/Icons/AlertOctagonIcon/AlertOctagonIcon.tsx
  packages/blade/src/components/Icons/AlertOctagonIcon/AlertOctagonIcon.web.test.tsx
  packages/blade/src/components/Icons/AlertOctagonIcon/__snapshots__/AlertOctagonIcon.native.test.tsx.snap
  packages/blade/src/components/Icons/AlertOctagonIcon/__snapshots__/AlertOctagonIcon.web.test.tsx.snap
  packages/blade/src/components/Icons/AlertOctagonIcon/index.ts
  packages/blade/src/components/Icons/AlertTriangleIcon/AlertTriangleIcon.native.test.tsx
  packages/blade/src/components/Icons/AlertTriangleIcon/AlertTriangleIcon.tsx
  packages/blade/src/components/Icons/AlertTriangleIcon/AlertTriangleIcon.web.test.tsx
  packages/blade/src/components/Icons/AlertTriangleIcon/__snapshots__/AlertTriangleIcon.native.test.tsx.snap
  packages/blade/src/components/Icons/AlertTriangleIcon/__snapshots__/AlertTriangleIcon.web.test.tsx.snap
  packages/blade/src/components/Icons/AlertTriangleIcon/index.ts
  packages/blade/src/components/Icons/CheckCircleIcon/CheckCircleIcon.native.test.tsx
  packages/blade/src/components/Icons/CheckCircleIcon/CheckCircleIcon.tsx
  packages/blade/src/components/Icons/CheckCircleIcon/CheckCircleIcon.web.test.tsx
  packages/blade/src/components/Icons/CheckCircleIcon/__snapshots__/CheckCircleIcon.native.test.tsx.snap
  packages/blade/src/components/Icons/CheckCircleIcon/__snapshots__/CheckCircleIcon.web.test.tsx.snap
  packages/blade/src/components/Icons/CheckCircleIcon/index.ts
  packages/blade/src/components/Icons/iconMap.ts
  packages/blade/src/components/Icons/index.tsx
  packages/blade/src/components/index.ts
Labels: Review - L2

#666 Alert PR2: add native functionality and more stories
  .changeset/small-suns-judge.md
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/src/components/Alert/Alert.stories.tsx
  packages/blade/src/components/Alert/Alert.tsx
  packages/blade/src/components/Alert/StyledAlert.d.ts
  packages/blade/src/components/Alert/StyledAlert.native.tsx
  packages/blade/src/components/Alert/StyledAlert.web.tsx
  packages/blade/src/components/Alert/__tests__/Alert.native.test.tsx
  packages/blade/src/components/Alert/__tests__/Alert.web.test.tsx
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.native.test.tsx.snap
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.web.test.tsx.snap
  packages/blade/src/components/Alert/index.ts
  packages/blade/src/components/Alert/styles.ts
  packages/blade/src/components/Box/Box.d.ts
  packages/blade/src/components/Box/__tests__/Box.native.test.tsx
  packages/blade/src/components/Box/__tests__/Box.web.test.tsx
  packages/blade/src/components/Box/__tests__/__snapshots__/Box.native.test.tsx.snap
  packages/blade/src/components/Box/__tests__/__snapshots__/Box.web.test.tsx.snap
  packages/blade/src/components/Box/getBoxStyles.ts
  packages/blade/src/components/Icons/AlertIcon/AlertIcon.native.test.tsx
  packages/blade/src/components/Icons/AlertIcon/AlertIcon.tsx
  packages/blade/src/components/Icons/AlertIcon/AlertIcon.web.test.tsx
  packages/blade/src/components/Icons/AlertIcon/__snapshots__/AlertIcon.native.test.tsx.snap
  packages/blade/src/components/Icons/AlertIcon/__snapshots__/AlertIcon.web.test.tsx.snap
  packages/blade/src/components/Icons/AlertIcon/index.ts
  packages/blade/src/components/Icons/AlertOctagonIcon/AlertOctagonIcon.native.test.tsx
  packages/blade/src/components/Icons/AlertOctagonIcon/AlertOctagonIcon.tsx
  packages/blade/src/components/Icons/AlertOctagonIcon/AlertOctagonIcon.web.test.tsx
  packages/blade/src/components/Icons/AlertOctagonIcon/__snapshots__/AlertOctagonIcon.native.test.tsx.snap
  packages/blade/src/components/Icons/AlertOctagonIcon/__snapshots__/AlertOctagonIcon.web.test.tsx.snap
  packages/blade/src/components/Icons/AlertOctagonIcon/index.ts
  packages/blade/src/components/Icons/AlertTriangleIcon/AlertTriangleIcon.native.test.tsx
  packages/blade/src/components/Icons/AlertTriangleIcon/AlertTriangleIcon.tsx
  packages/blade/src/components/Icons/AlertTriangleIcon/AlertTriangleIcon.web.test.tsx
  packages/blade/src/components/Icons/AlertTriangleIcon/__snapshots__/AlertTriangleIcon.native.test.tsx.snap
  packages/blade/src/components/Icons/AlertTriangleIcon/__snapshots__/AlertTriangleIcon.web.test.tsx.snap
  packages/blade/src/components/Icons/AlertTriangleIcon/index.ts
  packages/blade/src/components/Icons/CheckCircleIcon/CheckCircleIcon.native.test.tsx
  packages/blade/src/components/Icons/CheckCircleIcon/CheckCircleIcon.tsx
  packages/blade/src/components/Icons/CheckCircleIcon/CheckCircleIcon.web.test.tsx
  packages/blade/src/components/Icons/CheckCircleIcon/__snapshots__/CheckCircleIcon.native.test.tsx.snap
  packages/blade/src/components/Icons/CheckCircleIcon/__snapshots__/CheckCircleIcon.web.test.tsx.snap
  packages/blade/src/components/Icons/CheckCircleIcon/index.ts
  packages/blade/src/components/Icons/iconMap.ts
  packages/blade/src/components/Icons/index.tsx
  packages/blade/src/components/index.ts
  packages/blade/src/tokens/theme/theme.d.ts
Labels: Ready to Merge

#676 feat(BaseInput): add animations - PR6
  packages/blade/src/components/Input/BaseInput/BaseInput.tsx
  packages/blade/src/components/Input/BaseInput/BaseInputAnimatedBorder.d.ts
  packages/blade/src/components/Input/BaseInput/BaseInputAnimatedBorder.native.tsx
  packages/blade/src/components/Input/BaseInput/BaseInputAnimatedBorder.web.tsx
  packages/blade/src/components/Input/BaseInput/BaseInputWrapper copy.tsx
  packages/blade/src/components/Input/BaseInput/BaseInputWrapper.tsx
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.d.ts
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.native.tsx
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.web.tsx
  packages/blade/src/components/Input/BaseInput/baseInputStyles.ts
Labels: Review - L1

#665 feat: make input accessible PR-5
  .eslintrc.js
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/ios/Podfile.lock
  packages/blade/src/components/Input/BaseInput/BaseInput.tsx
  packages/blade/src/components/Input/BaseInput/BaseInputAnimatedBorder.d.ts
  packages/blade/src/components/Input/BaseInput/BaseInputAnimatedBorder.native.tsx
  packages/blade/src/components/Input/BaseInput/BaseInputAnimatedBorder.web.tsx
  packages/blade/src/components/Input/BaseInput/BaseInputWrapper copy.tsx
  packages/blade/src/components/Input/BaseInput/BaseInputWrapper.tsx
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.d.ts
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.native.tsx
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.web.tsx
  packages/blade/src/components/Input/BaseInput/baseInputStyles.ts
Labels: Review - L1

#673 chore: fix path exact types
  packages/blade/src/components/Icons/_Svg/Path/Path.d.ts
  packages/blade/src/components/Icons/_Svg/Path/Path.native.tsx
  packages/blade/src/components/Icons/_Svg/Path/Path.web.tsx
Labels: Review - L2

#654 feat: add `Alert` component
  .changeset/small-suns-judge.md
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/src/components/Alert/Alert.stories.tsx
  packages/blade/src/components/Alert/Alert.tsx
  packages/blade/src/components/Alert/StyledAlert.d.ts
  packages/blade/src/components/Alert/StyledAlert.native.tsx
  packages/blade/src/components/Alert/StyledAlert.web.tsx
  packages/blade/src/components/Alert/__tests__/Alert.native.test.tsx
  packages/blade/src/components/Alert/__tests__/Alert.web.test.tsx
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.native.test.tsx.snap
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.web.test.tsx.snap
  packages/blade/src/components/Alert/_decisions/decisions.md
  packages/blade/src/components/Alert/index.ts
  packages/blade/src/components/Alert/styles.ts
  packages/blade/src/components/Box/Box.d.ts
  packages/blade/src/components/Box/__tests__/Box.native.test.tsx
  packages/blade/src/components/Box/__tests__/Box.web.test.tsx
  packages/blade/src/components/Box/__tests__/__snapshots__/Box.native.test.tsx.snap
  packages/blade/src/components/Box/__tests__/__snapshots__/Box.web.test.tsx.snap
  packages/blade/src/components/Box/getBoxStyles.ts
  packages/blade/src/components/Button/IconButton/StyledIconButton.native.tsx
  packages/blade/src/components/Button/IconButton/StyledIconButton.web.tsx
  packages/blade/src/components/Button/IconButton/__tests__/__snapshots__/IconButton.native.test.tsx.snap
  packages/blade/src/components/Button/IconButton/__tests__/__snapshots__/IconButton.web.test.tsx.snap
  packages/blade/src/components/Icons/AlertOctagonIcon/AlertOctagonIcon.native.test.tsx
  packages/blade/src/components/Icons/AlertOctagonIcon/AlertOctagonIcon.tsx
  packages/blade/src/components/Icons/AlertOctagonIcon/AlertOctagonIcon.web.test.tsx
  packages/blade/src/components/Icons/AlertOctagonIcon/__snapshots__/AlertOctagonIcon.native.test.tsx.snap
  packages/blade/src/components/Icons/AlertOctagonIcon/__snapshots__/AlertOctagonIcon.web.test.tsx.snap
  packages/blade/src/components/Icons/AlertOctagonIcon/index.ts
  packages/blade/src/components/Icons/AlertTriangleIcon/AlertTriangleIcon.native.test.tsx
  packages/blade/src/components/Icons/AlertTriangleIcon/AlertTriangleIcon.tsx
  packages/blade/src/components/Icons/AlertTriangleIcon/AlertTriangleIcon.web.test.tsx
  packages/blade/src/components/Icons/AlertTriangleIcon/__snapshots__/AlertTriangleIcon.native.test.tsx.snap
  packages/blade/src/components/Icons/AlertTriangleIcon/__snapshots__/AlertTriangleIcon.web.test.tsx.snap
  packages/blade/src/components/Icons/AlertTriangleIcon/index.ts
  packages/blade/src/components/Icons/CheckCircleIcon/CheckCircleIcon.native.test.tsx
  packages/blade/src/components/Icons/CheckCircleIcon/CheckCircleIcon.tsx
  packages/blade/src/components/Icons/CheckCircleIcon/CheckCircleIcon.web.test.tsx
  packages/blade/src/components/Icons/CheckCircleIcon/__snapshots__/CheckCircleIcon.native.test.tsx.snap
  packages/blade/src/components/Icons/CheckCircleIcon/__snapshots__/CheckCircleIcon.web.test.tsx.snap
  packages/blade/src/components/Icons/CheckCircleIcon/index.ts
  packages/blade/src/components/Icons/iconMap.ts
  packages/blade/src/components/Icons/index.tsx
  packages/blade/src/components/index.ts
Labels: Ready to Merge

#679 docs(INTRO): update current state section
  packages/blade/docs/guides/Intro.stories.mdx
Labels: Review - L2
