Repository razorpay/blade, pull requests merged in 2022-11, with the labels that each got.

#788 docs(Indicator): add api decisions
  packages/blade/src/components/Indicator/_decisions/decisions.md
  packages/blade/src/components/Indicator/_decisions/indicator-thumbnail.png
  packages/blade/src/components/Indicator/_decisions/with-label.png
  packages/blade/src/components/Indicator/_decisions/with-other-components.png
Labels: API Decisions, Ready to Merge

#767 fix(Alert): throw error if `secondaryAction` is defined without `primaryAction`
  .changeset/soft-cheetahs-flow.md
  packages/blade/src/components/Alert/Alert.tsx
  packages/blade/src/components/Alert/__tests__/Alert.native.test.tsx
  packages/blade/src/components/Alert/__tests__/Alert.web.test.tsx
Labels: Ready to Merge

#804 feat(FigmaEmbed): add Figma Embed integration to Storybook
  packages/blade/src/_helpers/storybook/FigmaEmbed.tsx
  packages/blade/src/components/Badge/Badge.stories.tsx
Labels: Review - L2

#809 feat: added counter component
  .changeset/purple-windows-call.md
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/src/components/Counter/Counter.stories.tsx
  packages/blade/src/components/Counter/Counter.tsx
  packages/blade/src/components/Counter/__tests__/Counter.native.test.tsx
  packages/blade/src/components/Counter/__tests__/Counter.web.test.tsx
  packages/blade/src/components/Counter/__tests__/__snapshots__/Counter.native.test.tsx.snap
  packages/blade/src/components/Counter/__tests__/__snapshots__/Counter.web.test.tsx.snap
  packages/blade/src/components/Counter/index.tsx
  packages/blade/src/components/index.ts
Labels: Review - L2

#803 feat(Sandbox): add CodeSandbox integration to Storybook
  packages/blade/package.json
  packages/blade/src/_helpers/storybook/FigmaEmbed.tsx
  packages/blade/src/_helpers/storybook/Sandbox/Sandbox.native.tsx
  packages/blade/src/_helpers/storybook/Sandbox/Sandbox.web.tsx
  packages/blade/src/_helpers/storybook/Sandbox/index.ts
  packages/blade/src/components/Badge/Badge.stories.tsx
  yarn.lock
Labels: Review - L2

#816 feat(Indicator): add final export
  .changeset/wise-trainers-arrive.md
  packages/blade/src/components/index.ts
Labels: Review - L1

#823 fix(Text): remove default text-align value
  .changeset/clean-badgers-clean.md
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.native.test.tsx.snap
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.web.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.native.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.web.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.native.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.web.test.tsx.snap
  packages/blade/src/components/Input/BaseInput/__tests__/__snapshots__/BaseInput.native.test.tsx.snap
  packages/blade/src/components/Input/BaseInput/__tests__/__snapshots__/BaseInput.web.test.tsx.snap
  packages/blade/src/components/Input/OTPInput/__tests__/__snapshots__/OTPInput.native.test.tsx.snap
  packages/blade/src/components/Input/OTPInput/__tests__/__snapshots__/OTPInput.web.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.native.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.web.test.tsx.snap
  packages/blade/src/components/Input/TextArea/__tests__/__snapshots__/TextArea.native.test.tsx.snap
  packages/blade/src/components/Input/TextArea/__tests__/__snapshots__/TextArea.web.test.tsx.snap
  packages/blade/src/components/Input/TextInput/__tests__/__snapshots__/TextInput.native.test.tsx.snap
  packages/blade/src/components/Input/TextInput/__tests__/__snapshots__/TextInput.web.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.native.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.web.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.native.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.web.test.tsx.snap
  packages/blade/src/components/Spinner/BaseSpinner/__tests__/__snapshots__/BaseSpinner.native.test.tsx.snap
  packages/blade/src/components/Spinner/BaseSpinner/__tests__/__snapshots__/BaseSpinner.web.test.tsx.snap
  packages/blade/src/components/Typography/BaseText/__tests__/__snapshots__/BaseText.native.test.tsx.snap
  packages/blade/src/components/Typography/BaseText/__tests__/__snapshots__/BaseText.web.test.tsx.snap
  packages/blade/src/components/Typography/BaseText/getBaseTextStyles.ts
  packages/blade/src/components/Typography/Code/__tests__/__snapshots__/Code.native.test.tsx.snap
  packages/blade/src/components/Typography/Code/__tests__/__snapshots__/Code.web.test.tsx.snap
  packages/blade/src/components/Typography/Heading/__tests__/__snapshots__/Heading.native.test.tsx.snap
  packages/blade/src/components/Typography/Heading/__tests__/__snapshots__/Heading.web.test.tsx.snap
  packages/blade/src/components/Typography/Text/__tests__/__snapshots__/Text.native.test.tsx.snap
  packages/blade/src/components/Typography/Text/__tests__/__snapshots__/Text.web.test.tsx.snap
  packages/blade/src/components/Typography/Title/__tests__/__snapshots__/Title.native.test.tsx.snap
  packages/blade/src/components/Typography/Title/__tests__/__snapshots__/Title.web.test.tsx.snap
Labels: Review - L1

#821 feat(storybook): add codesandbox examples and figma embed to all components
  packages/blade/src/_helpers/storybook/Sandbox/Sandbox.web.tsx
  packages/blade/src/components/Alert/Alert.stories.tsx
  packages/blade/src/components/Button/Button/Button.stories.tsx
  packages/blade/src/components/Checkbox/Checkbox.stories.tsx
  packages/blade/src/components/Checkbox/CheckboxGroup.stories.tsx
  packages/blade/src/components/Counter/Counter.stories.tsx
  packages/blade/src/components/Input/OTPInput/OTPInput.stories.tsx
  packages/blade/src/components/Input/PasswordInput/PasswordInput.stories.tsx
  packages/blade/src/components/Input/TextArea/TextArea.stories.tsx
  packages/blade/src/components/Input/TextInput/TextInput.stories.tsx
  packages/blade/src/components/Link/Link/Link.stories.tsx
  packages/blade/src/components/Radio/Radio.stories.tsx
  packages/blade/src/components/SkipNav/SkipNav.stories.tsx
  packages/blade/src/components/Spinner/Spinner/Spinner.stories.tsx
  packages/blade/src/components/Typography/Code/Code.stories.tsx
  packages/blade/src/components/Typography/Heading/Heading.stories.tsx
  packages/blade/src/components/Typography/Text/Text.stories.tsx
  packages/blade/src/components/Typography/Title/Title.stories.tsx
  packages/blade/src/components/VisuallyHidden/VisuallyHidden.stories.tsx
Labels: Review - L2

#822 refactor(StoryPageWrapper): create common utility to wrap storybook
  packages/blade/src/_helpers/storybook/StoryPageWrapper.tsx
  packages/blade/src/components/Alert/Alert.stories.tsx
  packages/blade/src/components/Badge/Badge.stories.tsx
  packages/blade/src/components/Button/BaseButton/BaseButton.stories.internal.tsx
  packages/blade/src/components/Button/Button/Button.stories.tsx
  packages/blade/src/components/Button/IconButton/IconButton.stories.internal.tsx
  packages/blade/src/components/Checkbox/Checkbox.stories.tsx
  packages/blade/src/components/Checkbox/CheckboxGroup.stories.tsx
  packages/blade/src/components/Counter/Counter.stories.tsx
  packages/blade/src/components/Icons/Icons.stories.tsx
  packages/blade/src/components/Input/OTPInput/OTPInput.stories.tsx
  packages/blade/src/components/Input/PasswordInput/PasswordInput.stories.tsx
  packages/blade/src/components/Input/TextArea/TextArea.stories.tsx
  packages/blade/src/components/Input/TextInput/TextInput.stories.tsx
  packages/blade/src/components/Link/Link/Link.stories.tsx
  packages/blade/src/components/Radio/Radio.stories.tsx
  packages/blade/src/components/SkipNav/SkipNav.stories.tsx
  packages/blade/src/components/Spinner/Spinner/Spinner.stories.tsx
  packages/blade/src/components/Typography/BaseText/BaseText.stories.tsx
  packages/blade/src/components/Typography/Code/Code.stories.tsx
  packages/blade/src/components/Typography/Heading/Heading.stories.tsx
  packages/blade/src/components/Typography/Text/Text.stories.tsx
  packages/blade/src/components/Typography/Title/Title.stories.tsx
  packages/blade/src/components/VisuallyHidden/VisuallyHidden.stories.tsx
Labels: Review - L2

#830 refactor(Indicator): add figma embed and sandbox
  packages/blade/src/components/Indicator/Indicator.stories.tsx
Labels: Review - L1

#815 test(Indicator): add web and native tests
  .changeset/wise-trainers-arrive.md
  packages/blade/src/components/Indicator/Indicator.stories.tsx
  packages/blade/src/components/Indicator/__tests__/Indicator.native.test.tsx
  packages/blade/src/components/Indicator/__tests__/Indicator.web.test.tsx
  packages/blade/src/components/Indicator/__tests__/__snapshots__/Indicator.native.test.tsx.snap
  packages/blade/src/components/Indicator/__tests__/__snapshots__/Indicator.web.test.tsx.snap
  packages/blade/src/components/index.ts
Labels: Ready to Merge

#831 feat(IconButton): export IconButton
  .changeset/little-frogs-happen.md
  packages/blade/src/components/Button/IconButton/IconButton.stories.internal.tsx
  packages/blade/src/components/Button/IconButton/IconButton.stories.tsx
  packages/blade/src/components/Button/IconButton/IconButton.tsx
  packages/blade/src/components/Button/IconButton/index.ts
  packages/blade/src/components/index.ts
Labels: Review - L1

#814 feat(Indicator): add indicator component
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/src/components/Box/getBoxStyles.ts
  packages/blade/src/components/Box/types.ts
  packages/blade/src/components/Indicator/Indicator.stories.tsx
  packages/blade/src/components/Indicator/Indicator.tsx
  packages/blade/src/components/Indicator/__tests__/Indicator.native.test.tsx
  packages/blade/src/components/Indicator/__tests__/Indicator.web.test.tsx
  packages/blade/src/components/Indicator/__tests__/__snapshots__/Indicator.native.test.tsx.snap
  packages/blade/src/components/Indicator/__tests__/__snapshots__/Indicator.web.test.tsx.snap
  packages/blade/src/components/Indicator/_decisions/decisions.md
  packages/blade/src/components/Indicator/index.ts
  packages/blade/src/components/index.ts
Labels: Review - L2

#825 build: fix android build
  packages/blade/package.json
  yarn.lock
Labels: Review - L1

#834 feat(Indicator): design overhaul
  .changeset/wise-trainers-arrive.md
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/src/components/Icons/_Svg/Circle/Circle.native.tsx
  packages/blade/src/components/Icons/_Svg/Circle/Circle.web.tsx
  packages/blade/src/components/Icons/_Svg/Circle/__tests__/Circle.native.test.tsx
  packages/blade/src/components/Icons/_Svg/Circle/__tests__/Circle.web.test.tsx
  packages/blade/src/components/Icons/_Svg/Circle/__tests__/__snapshots__/Circle.native.test.tsx.snap
  packages/blade/src/components/Icons/_Svg/Circle/__tests__/__snapshots__/Circle.web.test.tsx.snap
  packages/blade/src/components/Icons/_Svg/Circle/types.ts
  packages/blade/src/components/Indicator/Indicator.stories.tsx
  packages/blade/src/components/Indicator/Indicator.tsx
  packages/blade/src/components/Indicator/__tests__/Indicator.native.test.tsx
  packages/blade/src/components/Indicator/__tests__/Indicator.web.test.tsx
  packages/blade/src/components/Indicator/__tests__/__snapshots__/Indicator.native.test.tsx.snap
  packages/blade/src/components/Indicator/__tests__/__snapshots__/Indicator.web.test.tsx.snap
  packages/blade/src/components/Indicator/_decisions/decisions.md
Labels: Review - L2

#838 docs(Icons): add icon grid story
  packages/blade/src/components/Icons/Icons.stories.tsx
Labels: Review - L2

#845 feat(Sandbox): use csb preview blade version in sb previews
  .github/workflows/blade-chromatic.yml
  packages/blade/.storybook/react/main.js
  packages/blade/src/_helpers/storybook/Sandbox/Sandbox.web.tsx
Labels: Review - L2

#848 feat(blade): Counter design changes
  .changeset/cyan-ducks-chew.md
  packages/blade/.storybook/react/preview-head.html
  packages/blade/android/app/src/main/res/font/lato.xml
  packages/blade/android/app/src/main/res/font/lato_italic.ttf
  packages/blade/ios/blade.xcodeproj/project.pbxproj
  packages/blade/ios/blade/Info.plist
  packages/blade/public/fonts/Lato-Italic.ttf
  packages/blade/src/components/Counter/Counter.stories.tsx
  packages/blade/src/components/Counter/Counter.tsx
  packages/blade/src/components/Counter/StyledCounter.native.tsx
  packages/blade/src/components/Counter/StyledCounter.web.tsx
  packages/blade/src/components/Counter/__tests__/Counter.native.test.tsx
  packages/blade/src/components/Counter/__tests__/Counter.web.test.tsx
  packages/blade/src/components/Counter/__tests__/__snapshots__/Counter.native.test.tsx.snap
  packages/blade/src/components/Counter/__tests__/__snapshots__/Counter.web.test.tsx.snap
  packages/blade/src/components/Counter/_decisions/decisions.md
  packages/blade/src/components/Counter/counterTokens.ts
  packages/blade/src/components/Counter/getStyledCounterStyles.ts
  packages/blade/src/components/Counter/types.ts
  packages/blade/src/components/Typography/Text/Text.stories.tsx
  packages/blade/src/components/Typography/Text/Text.tsx
  packages/blade/src/components/Typography/Text/__tests__/__snapshots__/Text.native.test.tsx.snap
Labels: Review - L1

#844 feat(RecipeSandbox): add ci example and CodeSandbox iframe embed
  .codesandbox/ci.json
  .eslintrc.js
  examples/basic/package.json
  examples/basic/public/index.html
  examples/basic/src/App.tsx
  examples/basic/src/index.tsx
  examples/basic/yarn.lock
  examples/tsconfig.json
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/src/_helpers/storybook/Sandbox/Sandbox.native.tsx
  packages/blade/src/_helpers/storybook/Sandbox/Sandbox.web.tsx
  packages/blade/src/_helpers/storybook/Sandbox/index.ts
  packages/blade/src/components/Alert/Alert.stories.tsx
  packages/blade/src/components/Badge/Badge.stories.tsx
  packages/blade/src/components/Button/Button/Button.stories.tsx
  packages/blade/src/components/Button/IconButton/IconButton.stories.tsx
  packages/blade/src/components/Checkbox/Checkbox.stories.tsx
  packages/blade/src/components/Checkbox/CheckboxGroup.stories.tsx
  packages/blade/src/components/Counter/Counter.stories.tsx
  packages/blade/src/components/Icons/Icons.stories.tsx
  packages/blade/src/components/Indicator/Indicator.stories.tsx
  packages/blade/src/components/Input/OTPInput/OTPInput.stories.tsx
  packages/blade/src/components/Input/PasswordInput/PasswordInput.stories.tsx
  packages/blade/src/components/Input/TextArea/TextArea.stories.tsx
  packages/blade/src/components/Input/TextInput/TextInput.stories.tsx
  packages/blade/src/components/Link/Link/Link.stories.tsx
  packages/blade/src/components/Radio/Radio.stories.tsx
  packages/blade/src/components/SkipNav/SkipNav.stories.tsx
  packages/blade/src/components/Spinner/Spinner/Spinner.stories.tsx
  packages/blade/src/components/Typography/Code/Code.stories.tsx
  packages/blade/src/components/Typography/Heading/Heading.stories.tsx
  packages/blade/src/components/Typography/Text/Text.stories.tsx
  packages/blade/src/components/Typography/Title/Title.stories.tsx
  packages/blade/src/components/VisuallyHidden/VisuallyHidden.stories.tsx
  packages/blade/src/storybook-recipes/SimpleForm.stories.tsx
Labels: Review - L1

#837 chore: Badge design changes
  .changeset/good-phones-scream.md
  packages/blade/src/components/Badge/Badge.stories.tsx
  packages/blade/src/components/Badge/Badge.tsx
  packages/blade/src/components/Badge/__tests__/Badge.native.test.tsx
  packages/blade/src/components/Badge/__tests__/Badge.web.test.tsx
  packages/blade/src/components/Badge/__tests__/__snapshots__/Badge.native.test.tsx.snap
  packages/blade/src/components/Badge/__tests__/__snapshots__/Badge.web.test.tsx.snap
  packages/blade/src/components/Badge/badgeTokens.ts
  packages/blade/src/components/Badge/getStyledBadgeStyles.ts
  packages/blade/src/components/Typography/Text/Text.stories.tsx
  packages/blade/src/components/Typography/Text/Text.tsx
Labels: Review - L2

#840 feat(Alert): design revamp
  .changeset/funny-planets-fetch.md
  packages/blade/src/components/Alert/Alert.tsx
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.native.test.tsx.snap
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.web.test.tsx.snap
  packages/blade/src/components/Alert/styles.ts
  packages/blade/src/components/Alert/types.ts
Labels: Review - L2, Review - Design

#860 fix: show `Spinner` on `TextInput` when `isLoading=true`
  .changeset/big-tools-raise.md
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.web.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/buttonTokens.ts
  packages/blade/src/components/Input/TextInput/TextInput.tsx
  packages/blade/src/components/Input/TextInput/__tests__/TextInput.native.test.tsx
  packages/blade/src/components/Input/TextInput/__tests__/TextInput.web.test.tsx
  packages/blade/src/components/Spinner/BaseSpinner/BaseSpinner.tsx
  packages/blade/src/components/Spinner/BaseSpinner/SpinningBox.web.tsx
  packages/blade/src/components/Spinner/BaseSpinner/__tests__/BaseSpinner.native.test.tsx
  packages/blade/src/components/Spinner/BaseSpinner/__tests__/BaseSpinner.web.test.tsx
  packages/blade/src/components/Spinner/BaseSpinner/__tests__/__snapshots__/BaseSpinner.native.test.tsx.snap
  packages/blade/src/components/Spinner/BaseSpinner/__tests__/__snapshots__/BaseSpinner.web.test.tsx.snap
  packages/blade/src/components/Spinner/BaseSpinner/spinnerTokens.ts
  packages/blade/src/components/Spinner/Spinner/Spinner.stories.tsx
  packages/blade/src/components/Spinner/Spinner/Spinner.tsx
  packages/blade/src/components/Spinner/Spinner/__tests__/Spinner.native.test.tsx
  packages/blade/src/components/Spinner/Spinner/__tests__/Spinner.web.test.tsx
  packages/blade/src/components/Spinner/Spinner/__tests__/__snapshots__/Spinner.native.test.tsx.snap
  packages/blade/src/components/Spinner/Spinner/__tests__/__snapshots__/Spinner.web.test.tsx.snap
Labels: Review - L1

#883 docs(Icons): docs for adding new icons
  packages/blade/src/components/Icons/Icons.stories.tsx
Labels: Review - L1

#866 docs: add font installation guide for Lato Italic
  packages/blade/docs/guides/Installation.stories.mdx
Labels: Review - L1

#873 fix(Alert): responsive design alignment
  .changeset/small-ducks-repair.md
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/CHANGELOG.md
  packages/blade/src/components/Alert/Alert.tsx
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.native.test.tsx.snap
Labels: Review - L2

#887 fix(Checkbox): allows Checkbox to accept `childern` prop of type `React.ReactNode`
  .changeset/friendly-oranges-decide.md
  packages/blade/src/components/Checkbox/Checkbox.tsx
  packages/blade/src/components/Checkbox/__tests__/Checkbox.web.test.tsx
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.web.test.tsx.snap
Labels: Review - L2
