Repository razorpay/blade, pull requests merged in 2022-07, with the labels that each got.

#541 chore(blade): prevent internal story removal on prod
  packages/blade/.storybook/react/main.js
  packages/blade/src/components/Typography/BaseText/BaseText.stories.tsx
Labels: enhancement, Review - L1

#542 feat: add internal Box component
  packages/blade/src/_helpers/types.ts
  packages/blade/src/components/Box/Box.d.ts
  packages/blade/src/components/Box/Box.native.tsx
  packages/blade/src/components/Box/Box.web.tsx
  packages/blade/src/components/Box/__tests__/Box.native.test.tsx
  packages/blade/src/components/Box/__tests__/Box.web.test.tsx
  packages/blade/src/components/Box/__tests__/__snapshots__/Box.native.test.tsx.snap
  packages/blade/src/components/Box/__tests__/__snapshots__/Box.web.test.tsx.snap
  packages/blade/src/components/Box/getBoxStyles.ts
  packages/blade/src/components/Box/index.ts
Labels: Review - L2

#539 docs(blade): add Checkbox API decisions
  packages/blade/src/components/Checkbox/_decisions/checkbox-api-architecture.png
  packages/blade/src/components/Checkbox/_decisions/decisions.md
Labels: API Decisions

#548 fix(Blade): add `size` prop to Text component and update tokens
  .changeset/empty-boats-care.md
  packages/blade/src/components/Button/BaseButton/BaseButton.tsx
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.native.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.web.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/buttonTokens.ts
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.native.test.tsx.snap
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.web.test.tsx.snap
  packages/blade/src/components/Typography/BaseText/__tests__/__snapshots__/BaseText.native.test.tsx.snap
  packages/blade/src/components/Typography/BaseText/__tests__/__snapshots__/BaseText.web.test.tsx.snap
  packages/blade/src/components/Typography/Heading/Heading.tsx
  packages/blade/src/components/Typography/Heading/__tests__/__snapshots__/Heading.native.test.tsx.snap
  packages/blade/src/components/Typography/Heading/__tests__/__snapshots__/Heading.web.test.tsx.snap
  packages/blade/src/components/Typography/Text/Text.stories.tsx
  packages/blade/src/components/Typography/Text/Text.tsx
  packages/blade/src/components/Typography/Text/__tests__/Text.native.test.tsx
  packages/blade/src/components/Typography/Text/__tests__/Text.web.test.tsx
  packages/blade/src/components/Typography/Text/__tests__/__snapshots__/Text.native.test.tsx.snap
  packages/blade/src/components/Typography/Text/__tests__/__snapshots__/Text.web.test.tsx.snap
  packages/blade/src/components/Typography/Title/__tests__/__snapshots__/Title.native.test.tsx.snap
  packages/blade/src/components/Typography/Title/__tests__/__snapshots__/Title.web.test.tsx.snap
  packages/blade/src/components/Typography/_decisions/decisions.md
  packages/blade/src/tokens/global/typography.ts
  packages/blade/src/utils/makeTypographySize/makeTypographySize.native.test.ts
  packages/blade/src/utils/makeTypographySize/makeTypographySize.web.test.ts
Labels: Review - L1

#538 docs: add Link component decisions
  packages/blade/src/components/Button/_decisions/decisions.md
  packages/blade/src/components/Link/_decisions/component-breakdown.png
  packages/blade/src/components/Link/_decisions/decisions.md
Labels: API Decisions

#560 feat: add support for CSS theme variables
  .changeset/sweet-beers-tap.md
  packages/blade/.storybook/react/preview.js
  packages/blade/docs/tokens/CssVariables.stories.mdx
  packages/blade/package.json
  packages/blade/rollup.config.js
  packages/blade/scripts/generateCssThemeVariables.js
  yarn.lock
Labels: Review - L2

#547 feat: add `Link` & `BaseLink` components
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/android/app/src/main/AndroidManifest.xml
  packages/blade/src/_helpers/testing/assertAccessible.native.ts
  packages/blade/src/_helpers/testing/assertAccessible.web.ts
  packages/blade/src/components/Button/BaseButton/__tests__/BaseButton.web.test.tsx
  packages/blade/src/components/Icons/InfoIcon/InfoIcon.tsx
  packages/blade/src/components/Icons/InfoIcon/__snapshots__/InfoIcon.native.test.tsx.snap
  packages/blade/src/components/Icons/InfoIcon/__snapshots__/InfoIcon.web.test.tsx.snap
  packages/blade/src/components/Icons/iconMap.ts
  packages/blade/src/components/Link/BaseLink/BaseLink.stories.tsx
  packages/blade/src/components/Link/BaseLink/BaseLink.tsx
  packages/blade/src/components/Link/BaseLink/StyledBaseLink.d.ts
  packages/blade/src/components/Link/BaseLink/StyledBaseLink.native.tsx
  packages/blade/src/components/Link/BaseLink/StyledBaseLink.web.tsx
  packages/blade/src/components/Link/BaseLink/__tests__/BaseLink.native.test.tsx
  packages/blade/src/components/Link/BaseLink/__tests__/BaseLink.web.test.tsx
  packages/blade/src/components/Link/BaseLink/__tests__/__snapshots__/BaseLink.native.test.tsx.snap
  packages/blade/src/components/Link/BaseLink/__tests__/__snapshots__/BaseLink.web.test.tsx.snap
  packages/blade/src/components/Link/BaseLink/getStyledLinkStyles.ts
  packages/blade/src/components/Link/BaseLink/index.ts
  packages/blade/src/components/Link/BaseLink/useInteraction.ts
  packages/blade/src/components/Link/Link/Link.stories.tsx
  packages/blade/src/components/Link/Link/Link.tsx
  packages/blade/src/components/Link/Link/__tests__/Link.native.test.tsx
  packages/blade/src/components/Link/Link/__tests__/Link.web.test.tsx
  packages/blade/src/components/Link/Link/__tests__/__snapshots__/Link.native.test.tsx.snap
  packages/blade/src/components/Link/Link/__tests__/__snapshots__/Link.web.test.tsx.snap
  packages/blade/src/components/Link/Link/index.ts
  packages/blade/src/components/Link/index.ts
  packages/blade/src/components/Typography/BaseText/BaseText.tsx
  packages/blade/src/components/Typography/BaseText/StyledBaseText.d.ts
  packages/blade/src/components/Typography/Heading/__tests__/Heading.web.test.tsx
  packages/blade/src/components/Typography/Title/__tests__/Title.web.test.tsx
  packages/blade/src/components/index.ts
Labels: Review - L2
