Repository razorpay/blade, pull requests merged in 2022-10, with the labels that each got.

#729 tests(Code): add tests for `Code` component
  packages/blade/src/components/Typography/Code/__tests__/Code.native.test.tsx
  packages/blade/src/components/Typography/Code/__tests__/Code.web.test.tsx
  packages/blade/src/components/Typography/Code/__tests__/__snapshots__/Code.native.test.tsx.snap
  packages/blade/src/components/Typography/Code/__tests__/__snapshots__/Code.web.test.tsx.snap
Labels: Review - L2

#730 feat(Typography)!: make `Heading`, `Title`, and `Text` API consistent
  .changeset/five-tomatoes-try.md
  packages/blade/src/components/Alert/Alert.tsx
  packages/blade/src/components/Typography/Heading/Heading.stories.tsx
  packages/blade/src/components/Typography/Heading/Heading.tsx
  packages/blade/src/components/Typography/Heading/__tests__/Heading.native.test.tsx
  packages/blade/src/components/Typography/Heading/__tests__/Heading.web.test.tsx
  packages/blade/src/components/Typography/Heading/__tests__/__snapshots__/Heading.native.test.tsx.snap
  packages/blade/src/components/Typography/Heading/__tests__/__snapshots__/Heading.web.test.tsx.snap
  packages/blade/src/components/Typography/Title/Title.stories.tsx
  packages/blade/src/components/Typography/Title/Title.tsx
  packages/blade/src/components/Typography/Title/__tests__/Title.native.test.tsx
  packages/blade/src/components/Typography/Title/__tests__/Title.web.test.tsx
Labels: Breaking Change

#713 docs: add OTPInputField decisions
  packages/blade/src/components/Input/OTPInput/_decisions/_decisions.md
  packages/blade/src/components/Input/OTPInput/_decisions/otp.png
Labels: Review - L2, API Decisions

#738 feat(PasswordInput)!: rename from `PasswordField` to `PasswordInput`
  .changeset/unlucky-poets-invite.md
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/src/components/Input/PasswordField/index.ts
  packages/blade/src/components/Input/PasswordInput/PasswordInput.stories.tsx
  packages/blade/src/components/Input/PasswordInput/PasswordInput.tsx
  packages/blade/src/components/Input/PasswordInput/__tests__/PasswordInput.native.test.tsx
  packages/blade/src/components/Input/PasswordInput/__tests__/PasswordInput.web.test.tsx
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.native.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.web.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/_decisions/decisions.md
  packages/blade/src/components/Input/PasswordInput/_decisions/passwordinput-thumbnail.png
  packages/blade/src/components/Input/PasswordInput/index.ts
  packages/blade/src/components/Input/TextInput/TextInput.tsx
  packages/blade/src/components/index.ts
Labels: Review - L2

#731 feat: add OTPInput component
  .changeset/large-yaks-lie.md
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/src/components/Form/FormTypes.ts
  packages/blade/src/components/Input/BaseInput/BaseInput.stories.tsx
  packages/blade/src/components/Input/BaseInput/BaseInput.tsx
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.native.tsx
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.web.tsx
  packages/blade/src/components/Input/BaseInput/__tests__/__snapshots__/BaseInput.native.test.tsx.snap
  packages/blade/src/components/Input/BaseInput/__tests__/__snapshots__/BaseInput.web.test.tsx.snap
  packages/blade/src/components/Input/BaseInput/baseInputStyles.ts
  packages/blade/src/components/Input/BaseInput/types.ts
  packages/blade/src/components/Input/OTPInput/OTPInput.stories.tsx
  packages/blade/src/components/Input/OTPInput/OTPInput.tsx
  packages/blade/src/components/Input/OTPInput/__tests__/OTPInput.native.test.tsx
  packages/blade/src/components/Input/OTPInput/__tests__/OTPInput.web.test.tsx
  packages/blade/src/components/Input/OTPInput/__tests__/__snapshots__/OTPInput.native.test.tsx.snap
  packages/blade/src/components/Input/OTPInput/__tests__/__snapshots__/OTPInput.web.test.tsx.snap
  packages/blade/src/components/Input/OTPInput/index.ts
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.native.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.web.test.tsx.snap
  packages/blade/src/components/Input/TextArea/__tests__/__snapshots__/TextArea.native.test.tsx.snap
  packages/blade/src/components/Input/TextArea/__tests__/__snapshots__/TextArea.web.test.tsx.snap
  packages/blade/src/components/Input/TextInput/__tests__/__snapshots__/TextInput.native.test.tsx.snap
  packages/blade/src/components/Input/TextInput/__tests__/__snapshots__/TextInput.web.test.tsx.snap
  packages/blade/src/components/index.ts
Labels: Review - L2

#748 chore: remove border from Badge component
  .changeset/fifty-ghosts-call.md
  packages/blade/src/components/Badge/Badge.tsx
  packages/blade/src/components/Badge/StyledBadge.web.tsx
  packages/blade/src/components/Badge/__tests__/__snapshots__/Badge.native.test.tsx.snap
  packages/blade/src/components/Badge/__tests__/__snapshots__/Badge.web.test.tsx.snap
  packages/blade/src/components/Badge/getStyledBadgeStyles.ts
  packages/blade/src/components/Badge/types.ts
Labels: Review - L2

#757 feat: Release blade on NPM registry
  .changeset/yellow-roses-deliver.md
  .github/workflows/release.yml
  package.json
  packages/blade/package.json
  packages/blade/scripts/publish-to-npm.js
Labels: Review - L2

#761 feat(Link): add size small
  .changeset/tall-garlics-change.md
  packages/blade/src/components/Link/BaseLink/BaseLink.tsx
  packages/blade/src/components/Link/BaseLink/__tests__/__snapshots__/BaseLink.native.test.tsx.snap
  packages/blade/src/components/Link/BaseLink/__tests__/__snapshots__/BaseLink.web.test.tsx.snap
  packages/blade/src/components/Link/BaseLink/types.ts
  packages/blade/src/components/Link/Link/Link.stories.tsx
  packages/blade/src/components/Link/Link/Link.tsx
  packages/blade/src/components/Link/Link/__tests__/Link.native.test.tsx
  packages/blade/src/components/Link/Link/__tests__/Link.web.test.tsx
  packages/blade/src/components/Link/Link/__tests__/__snapshots__/Link.native.test.tsx.snap
  packages/blade/src/components/Link/Link/__tests__/__snapshots__/Link.web.test.tsx.snap
  packages/blade/src/components/Link/_decisions/decisions.md
Labels: Review - L2

#773 test(Path): fix tests
  packages/blade/src/components/Icons/_Svg/Path/__tests__/Path.web.test.tsx
  packages/blade/src/components/Icons/_Svg/Path/__tests__/__snapshots__/Path.web.test.tsx.snap
Labels: Ready to Merge

#780 fix: show internal stories in docs
  packages/blade/.storybook/react/manager.js
  packages/blade/.storybook/react/preview.js
Labels: Review - L1

#775 fix(Button): show icons in button stories
  packages/blade/src/components/Button/Button/Button.stories.tsx
Labels: Ready to Merge

#779 fix: show icon in link stories
  packages/blade/src/components/Link/Link/Link.stories.tsx
Labels: Ready to Merge

#790 fix(Badge): show icons in badge stories
  packages/blade/src/components/Badge/Badge.stories.tsx
Labels: Ready to Merge

#784 feat: add README to npm
  .changeset/tender-pots-obey.md
  README.md
  packages/blade/docs/guides/Installation.stories.mdx
  packages/blade/docs/guides/Intro.stories.mdx
  packages/blade/docs/guides/LocalDevelopment.stories.mdx
  packages/blade/package.json
  packages/blade/scripts/publish-to-npm.js
Labels: Review - L2

#776 docs: update blade package and general pages
  packages/blade/docs/tokens/CssVariables.stories.mdx
  packages/blade/src/components/Badge/_decisions/decisions.md
  packages/blade/src/components/Input/PasswordInput/_decisions/decisions.md
  packages/blade/src/components/Input/TextInput/_decisions/_decisions.md
  packages/blade/src/components/Typography/_decisions/decisions.md
  rfcs/accessibility-checklist.md
Labels: Ready to Merge

#758 refactor(blade): Checkbox/Radio changes for X
  .changeset/friendly-islands-move.md
  packages/blade/src/components/Checkbox/Checkbox.stories.tsx
  packages/blade/src/components/Checkbox/Checkbox.tsx
  packages/blade/src/components/Checkbox/CheckboxGroup.stories.tsx
  packages/blade/src/components/Checkbox/CheckboxGroup/CheckboxGroup.tsx
  packages/blade/src/components/Checkbox/CheckboxGroup/CheckboxGroupContext.ts
  packages/blade/src/components/Checkbox/CheckboxGroup/useCheckboxGroup.ts
  packages/blade/src/components/Checkbox/CheckboxIcon/CheckboxIcon.tsx
  packages/blade/src/components/Checkbox/CheckboxIcon/CheckboxIconWrapperStyles.ts
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.native.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.web.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.native.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.web.test.tsx.snap
  packages/blade/src/components/Checkbox/checkboxTokens.ts
  packages/blade/src/components/Form/Selector/SelectorInput.web.tsx
  packages/blade/src/components/Form/Selector/SelectorLabel.native.tsx
  packages/blade/src/components/Form/Selector/SelectorLabel.web.tsx
  packages/blade/src/components/Form/Selector/SelectorTitle.tsx
  packages/blade/src/components/Radio/Radio.stories.tsx
  packages/blade/src/components/Radio/Radio.tsx
  packages/blade/src/components/Radio/RadioGroup/RadioContext.tsx
  packages/blade/src/components/Radio/RadioGroup/RadioGroup.tsx
  packages/blade/src/components/Radio/RadioGroup/useRadioGroup.ts
  packages/blade/src/components/Radio/RadioIcon/RadioIcon.tsx
  packages/blade/src/components/Radio/RadioIcon/RadioIconWrapperStyles.ts
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.native.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.web.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.native.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.web.test.tsx.snap
  packages/blade/src/components/Radio/radioTokens.ts
  packages/blade/src/tokens/global/border.ts
Labels: Review - L2

#799 fix: `@babel-runtime` issues for consumers
  .changeset/lovely-days-reply.md
  .codesandbox/ci.json
  .npmrc
  package.json
  packages/blade/.babelrc.js
  packages/blade/package.json
  packages/blade/rollup.config.js
  packages/blade/scripts/generateGitHubRegistryNpmrc.js
  packages/blade/scripts/publishToNpm.js
Labels: Review - L2
