Repository razorpay/blade, pull requests merged in 2022-09, with the labels that each got.

#677 fix(blade): add 2px spacing tokens
  .changeset/funny-jobs-drop.md
  packages/blade/src/components/Alert/Alert.tsx
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.native.test.tsx.snap
  packages/blade/src/components/Alert/styles.ts
  packages/blade/src/components/Badge/Badge.stories.tsx
  packages/blade/src/components/Badge/Badge.tsx
  packages/blade/src/components/Badge/__tests__/__snapshots__/Badge.native.test.tsx.snap
  packages/blade/src/components/BladeProvider/emptyTheme.ts
  packages/blade/src/components/Box/__tests__/Box.native.test.tsx
  packages/blade/src/components/Box/__tests__/Box.web.test.tsx
  packages/blade/src/components/Box/__tests__/__snapshots__/Box.native.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.native.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/buttonTokens.ts
  packages/blade/src/components/Button/Button/Button.stories.tsx
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.native.test.tsx.snap
  packages/blade/src/components/Checkbox/Checkbox.tsx
  packages/blade/src/components/Checkbox/CheckboxIcon/CheckboxIconWrapperStyles.ts
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.native.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.native.test.tsx.snap
  packages/blade/src/components/Form/FormHint.tsx
  packages/blade/src/components/Form/FormLabel.tsx
  packages/blade/src/components/Link/BaseLink/BaseLink.tsx
  packages/blade/src/components/Link/BaseLink/__tests__/__snapshots__/BaseLink.native.test.tsx.snap
  packages/blade/src/components/Link/Link/Link.stories.tsx
  packages/blade/src/components/Link/Link/__tests__/__snapshots__/Link.native.test.tsx.snap
  packages/blade/src/components/Radio/Radio.tsx
  packages/blade/src/components/Radio/RadioIcon/RadioIconWrapperStyles.ts
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.native.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.native.test.tsx.snap
  packages/blade/src/components/SkipNav/SkipNav.stories.tsx
  packages/blade/src/components/SkipNav/SkipNav.web.tsx
  packages/blade/src/storybook-recipes/AccessibilityInterop/AccessibilityInteropDemo.native.tsx
  packages/blade/src/storybook-recipes/AccessibilityInterop/AccessibilityInteropDemo.web.tsx
  packages/blade/src/storybook-recipes/SimpleCardWithTokens/styles.ts
  packages/blade/src/tokens/global/spacing.ts
  packages/blade/src/tokens/theme/overrideTheme.stories.tsx
  packages/blade/src/utils/makeSpace/makeSpace.test.ts
Labels: Review - L1

#602 feat(BaseInput): add BaseInput field
  .eslintrc.js
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/ios/blade.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/blade/src/components/Box/Box.d.ts
  packages/blade/src/components/Box/__tests__/__snapshots__/Box.web.test.tsx.snap
  packages/blade/src/components/Box/getBoxStyles.ts
  packages/blade/src/components/Checkbox/CheckboxGroup/useCheckboxGroup.ts
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.native.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.web.test.tsx.snap
  packages/blade/src/components/Checkbox/useCheckbox.ts
  packages/blade/src/components/Form/FormHint.tsx
  packages/blade/src/components/Form/FormLabel.tsx
  packages/blade/src/components/Form/useFormId.ts
  packages/blade/src/components/Icons/index.tsx
  packages/blade/src/components/Input/BaseInput/BaseInput.stories.tsx
  packages/blade/src/components/Input/BaseInput/BaseInput.tsx
  packages/blade/src/components/Input/BaseInput/BaseInputAnimatedBorder.d.ts
  packages/blade/src/components/Input/BaseInput/BaseInputAnimatedBorder.native.tsx
  packages/blade/src/components/Input/BaseInput/BaseInputAnimatedBorder.web.tsx
  packages/blade/src/components/Input/BaseInput/BaseInputVisuals.tsx
  packages/blade/src/components/Input/BaseInput/BaseInputWrapper.tsx
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.d.ts
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.native.tsx
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.web.tsx
  packages/blade/src/components/Input/BaseInput/baseInputStyles.ts
  packages/blade/src/components/Input/BaseInput/index.ts
  packages/blade/src/components/Link/BaseLink/BaseLink.tsx
  packages/blade/src/components/Radio/__tests__/Radio.web.test.tsx
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.native.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.web.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.native.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.web.test.tsx.snap
  packages/blade/src/hooks/useInteraction.ts
Labels: Ready to Merge

#683 docs(CONTRIBUTING): add tips and troubleshooting guidelines
  CONTRIBUTING.md
Labels: Review - L1

#686 docs(Installation): add styled-components as dependency
  packages/blade/docs/guides/Installation.stories.mdx
Labels: Review - L1

#695 tests(BaseInput): add web tests and fix onBlur
  .changeset/olive-cows-cover.md
  packages/blade/src/components/Input/BaseInput/__tests__/BaseInput.web.test.tsx
  packages/blade/src/components/Input/BaseInput/__tests__/__snapshots__/BaseInput.web.test.tsx.snap
Labels: Review - L2

#699 tests(BaseInput): add tests for native
  packages/blade/jest.native.config.js
  packages/blade/package.json
  packages/blade/src/components/Input/BaseInput/__tests__/BaseInput.native.test.tsx
  packages/blade/src/components/Input/BaseInput/__tests__/__snapshots__/BaseInput.native.test.tsx.snap
  yarn.lock
Labels: Review - L1

#681 chore: added textarea api doc
  packages/blade/src/components/TextArea/_decisions/decisions.md
  packages/blade/src/components/TextArea/_decisions/textarea-thumbnail.png
Labels: Review - L2, API Decisions

#662 docs: add `Spinner` decisions
  packages/blade/src/components/Spinner/_decisions/decisions.md
  packages/blade/src/components/Spinner/_decisions/spinner-thumbnail.png
Labels: Review - L2, API Decisions

#712 feat(components): add `PasswordField` 👀
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/src/components/Alert/Alert.stories.tsx
  packages/blade/src/components/Input/BaseInput/BaseInput.tsx
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.native.tsx
  packages/blade/src/components/Input/BaseInput/__tests__/__snapshots__/BaseInput.native.test.tsx.snap
  packages/blade/src/components/Input/PasswordField/PasswordField.stories.tsx
  packages/blade/src/components/Input/PasswordField/PasswordField.tsx
  packages/blade/src/components/Input/PasswordField/_decisions/decisions.md
  packages/blade/src/components/Input/PasswordField/_decisions/passwordfield-thumbnail.png
  packages/blade/src/components/Input/PasswordField/index.ts
  packages/blade/src/components/Input/TextArea/__tests__/__snapshots__/TextArea.native.test.tsx.snap
  packages/blade/src/components/Input/TextInput/TextInput.tsx
  packages/blade/src/components/Input/TextInput/__tests__/__snapshots__/TextInput.native.test.tsx.snap
Labels: Ready to Merge

#715 tests(PasswordField): add web and native tests
  packages/blade/src/components/Input/PasswordField/__tests__/PasswordField.native.test.tsx
  packages/blade/src/components/Input/PasswordField/__tests__/PasswordField.web.test.tsx
  packages/blade/src/components/Input/PasswordField/__tests__/__snapshots__/PasswordField.native.test.tsx.snap
  packages/blade/src/components/Input/PasswordField/__tests__/__snapshots__/PasswordField.web.test.tsx.snap
  packages/blade/src/components/Input/PasswordField/_decisions/decisions.md
Labels: Review - L1

#727 chore: add vscode settings import exclusions
  .gitignore
  .vscode/settings.json
Labels: Review - L1
