Repository razorpay/blade, pull requests merged in 2022-12, with the labels that each got.

#897 feat: allow masked otp input
  .changeset/cool-pandas-draw.md
  packages/blade/src/components/Input/OTPInput/OTPInput.stories.tsx
  packages/blade/src/components/Input/OTPInput/OTPInput.tsx
  packages/blade/src/components/Input/OTPInput/__tests__/OTPInput.native.test.tsx
  packages/blade/src/components/Input/OTPInput/__tests__/OTPInput.web.test.tsx
  packages/blade/src/components/Input/OTPInput/_decisions/_decisions.md
Labels: Review - L2

#908 chore: added editor config
  .editorconfig
Labels: Review - L1

#909 feat(Alert): update `isFullWidth` to make inline borderless alerts on desktop
  .changeset/proud-boxes-reflect.md
  packages/blade/src/components/Alert/Alert.stories.tsx
  packages/blade/src/components/Alert/Alert.tsx
  packages/blade/src/components/Alert/__tests__/Alert.native.test.tsx
  packages/blade/src/components/Alert/__tests__/Alert.web.test.tsx
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.native.test.tsx.snap
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.web.test.tsx.snap
  packages/blade/src/components/Alert/_decisions/decisions.md
  packages/blade/src/components/Alert/styles.ts
  packages/blade/src/components/Alert/types.ts
Labels: Review - L2

#898 fix: change BaseInput `type` from `numeric` to `number`
  .changeset/sour-chefs-remember.md
  packages/blade/src/components/Input/BaseInput/BaseInput.tsx
  packages/blade/src/components/Input/BaseInput/_decisions/_decisions.md
  packages/blade/src/components/Input/TextInput/TextInput.tsx
  packages/blade/src/components/Input/TextInput/__tests__/TextInput.native.test.tsx
  packages/blade/src/components/Input/TextInput/__tests__/TextInput.web.test.tsx
  packages/blade/src/components/Input/TextInput/_decisions/_decisions.md
Labels: Review - L2

#911 feat: add tests and stories for `ProgressBar`
  packages/blade/src/components/ProgressBar/ProgressBar.stories.tsx
  packages/blade/src/components/ProgressBar/ProgressBar.tsx
  packages/blade/src/components/ProgressBar/__tests__/ProgressBar.native.test.tsx
  packages/blade/src/components/ProgressBar/__tests__/ProgressBar.web.test.tsx
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.native.test.tsx.snap
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.web.test.tsx.snap
Labels: Review - L2

#894 docs: Cards API Decision
  packages/blade/src/components/Card/_decisions/card-anatomy.png
  packages/blade/src/components/Card/_decisions/decisions.md
Labels: Review - L2, API Decisions

#885 feat(Dropdown): add Dropdown and ActionList API Decisions
  packages/blade/src/components/Dropdown/_decisions/2022-11-23-09-50-05.png
  packages/blade/src/components/Dropdown/_decisions/2022-11-24-16-33-30.png
  packages/blade/src/components/Dropdown/_decisions/2022-11-29-17-29-01.png
  packages/blade/src/components/Dropdown/_decisions/2022-11-29-17-36-50.png
  packages/blade/src/components/Dropdown/_decisions/2022-11-29-17-40-17.png
  packages/blade/src/components/Dropdown/_decisions/2022-12-08-16-58-46.png
  packages/blade/src/components/Dropdown/_decisions/decisions.md
Labels: API Decisions

#896 feat: added Card component
  .changeset/young-eggs-clean.md
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/ios/Podfile.lock
  packages/blade/ios/blade.xcodeproj/project.pbxproj
  packages/blade/src/components/Box/getBoxStyles.ts
  packages/blade/src/components/Box/types.ts
  packages/blade/src/components/Card/Card.stories.tsx
  packages/blade/src/components/Card/Card.tsx
  packages/blade/src/components/Card/CardContext.tsx
  packages/blade/src/components/Card/CardFooter.tsx
  packages/blade/src/components/Card/CardHeader.tsx
  packages/blade/src/components/Card/CardSurface.native.tsx
  packages/blade/src/components/Card/CardSurface.web.tsx
  packages/blade/src/components/Card/Divider.native.tsx
  packages/blade/src/components/Card/Divider.web.tsx
  packages/blade/src/components/Card/__tests__/Card.native.test.tsx
  packages/blade/src/components/Card/__tests__/Card.web.test.tsx
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.native.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.web.test.tsx.snap
  packages/blade/src/components/Card/index.ts
  packages/blade/src/components/index.ts
  packages/blade/src/utils/index.ts
  packages/blade/src/utils/isValidAllowedChildren/index.ts
  packages/blade/src/utils/isValidAllowedChildren/isValidAllowedChildren.ts
  packages/blade/src/utils/metaAttribute/metaConstants.ts
Labels: Review - L2

#919 feat(progress-bar): Add indeterminate state
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/src/components/ProgressBar/ProgressBar.stories.tsx
  packages/blade/src/components/ProgressBar/ProgressBar.tsx
  packages/blade/src/components/ProgressBar/ProgressBarFilled.native.tsx
  packages/blade/src/components/ProgressBar/ProgressBarFilled.web.tsx
  packages/blade/src/components/ProgressBar/__tests__/ProgressBar.native.test.tsx
  packages/blade/src/components/ProgressBar/__tests__/ProgressBar.ssr.test.tsx
  packages/blade/src/components/ProgressBar/__tests__/ProgressBar.web.test.tsx
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.native.test.tsx.snap
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.ssr.test.tsx.snap
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.web.test.tsx.snap
  packages/blade/src/components/ProgressBar/progressBarTokens.ts
  packages/blade/src/components/ProgressBar/types.ts
Labels: Review - L2

#833 docs: add `ProgressBar` decisions
  packages/blade/src/components/ProgressBar/_decisions/decisions.md
  packages/blade/src/components/ProgressBar/_decisions/progress-bar-pulse.gif
  packages/blade/src/components/ProgressBar/_decisions/progress-bar-static.png
  packages/blade/src/components/ProgressBar/_decisions/progress-bar-thumbnail.png
Labels: Review - L2, API Decisions
