Repository razorpay/blade, pull requests merged in 2023-12, with the labels that each got.

#1866 docs(Rebranding / Typography): Add documentation changes
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/.storybook/react/global.css
  packages/blade/android/app/src/main/java/com/blade/MainApplication.java
  packages/blade/android/app/src/main/res/font/inter.xml
  packages/blade/android/app/src/main/res/font/inter_medium.ttf
  packages/blade/android/app/src/main/res/font/inter_regular.ttf
  packages/blade/android/app/src/main/res/font/inter_semibold.ttf
  packages/blade/android/app/src/main/res/font/lato.xml
  packages/blade/android/app/src/main/res/font/lato_bold.ttf
  packages/blade/android/app/src/main/res/font/lato_italic.ttf
  packages/blade/android/app/src/main/res/font/lato_regular.ttf
  packages/blade/android/app/src/main/res/font/tasa.xml
  packages/blade/android/app/src/main/res/font/tasa_orbiter_display_medium.otf
  packages/blade/android/app/src/main/res/font/tasa_orbiter_display_regular.otf
  packages/blade/android/app/src/main/res/font/tasa_orbiter_display_semibold.otf
  packages/blade/docs/guides/Installation.stories.mdx
  packages/blade/docs/tokens/Typography.stories.mdx
  packages/blade/fonts.css
  packages/blade/fonts/blade-fonts-react-native.zip
  packages/blade/ios/blade.xcodeproj/project.pbxproj
  packages/blade/ios/blade.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  packages/blade/ios/blade/Info.plist
  packages/blade/ios/link-assets-manifest.json
  packages/blade/public/fonts/Inter-Medium.ttf
  packages/blade/public/fonts/Inter-Regular.ttf
  packages/blade/public/fonts/Inter-SemiBold.ttf
  packages/blade/public/fonts/Lato-Bold.ttf
  packages/blade/public/fonts/Lato-Italic.ttf
  packages/blade/public/fonts/Lato-Regular.ttf
  packages/blade/public/fonts/TASAOrbiterDisplay-Medium.otf
  packages/blade/public/fonts/TASAOrbiterDisplay-Regular.otf
  packages/blade/public/fonts/TASAOrbiterDisplay-SemiBold.otf
  packages/blade/src/components/Typography/Text/Text.tsx
  packages/blade/src/tokens/global/fontFamily/fontFamily.native.ts
  packages/blade/src/tokens/global/fontFamily/fontFamily.web.ts
  rfcs/2023-11-08-font-loading-strategy.md
Labels: Review - L2

#1814 feat(Collapsible): mark width prop as external
  .changeset/strange-fans-impress.md
  packages/blade/src/components/Accordion/AccordionItem.tsx
  packages/blade/src/components/Collapsible/CollapsibleBody.tsx
Labels: Review - L2

#1738 feat(TextInput): add onClick prop
  .changeset/olive-taxis-fix.md
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.native.tsx
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.web.tsx
  packages/blade/src/components/Input/TextInput/TextInput.tsx
  packages/blade/src/components/Input/TextInput/__tests__/TextInput.native.test.tsx
  packages/blade/src/components/Input/TextInput/__tests__/TextInput.web.test.tsx
Labels: Review - L2, hacktoberfest-accepted

#1864 feat: add getBladeCoverage and assertBladeCoverage utilities
  .changeset/young-mice-join.md
  packages/blade/coverageUtils.d.ts
  packages/blade/docs/utils/coverge.stories.mdx
  packages/blade/package.json
  packages/blade/rollup.config.mjs
  packages/blade/src/utils/bladeCoverage.ts
Labels: Review - L1

#1882 feat: remove paymentTheme and bankingTheme files and instances
  packages/blade-coverage-extension/src/App.tsx
  packages/blade/docs/guides/Usage.stories.mdx
  packages/blade/docs/utils/useTheme.stories.mdx
  packages/blade/src/components/BladeProvider/__tests__/BladeProvider.test.tsx
  packages/blade/src/components/BladeProvider/__tests__/bladeLightTheme/bladeLightTheme.native.ts
  packages/blade/src/components/BladeProvider/__tests__/bladeLightTheme/bladeLightTheme.web.ts
  packages/blade/src/components/BladeProvider/__tests__/bladeLightTheme/index.ts
  packages/blade/src/components/BladeProvider/__tests__/paymentLightTheme/index.native.ts
  packages/blade/src/components/BladeProvider/__tests__/paymentLightTheme/index.web.ts
  packages/blade/src/components/BladeProvider/__tests__/paymentLightTheme/paymentLightTheme.web.ts
  packages/blade/src/components/Box/__tests__/baseBoxStyles.native.test.ts
  packages/blade/src/components/Box/__tests__/baseBoxStyles.test.ts
  packages/blade/src/components/Box/__tests__/baseBoxStyles.web.test.ts
  packages/blade/src/components/Box/__tests__/useMemoizedStyles.web.test.tsx
  packages/blade/src/components/Button/IconButton/IconButton.stories.tsx
  packages/blade/src/components/Icons/useIconProps/useIconProps.test.tsx
  packages/blade/src/components/Link/BaseLink/__tests__/BaseLink.web.test.tsx
  packages/blade/src/components/Popover/__tests__/Popover.native.test.tsx
  packages/blade/src/components/Popover/__tests__/Popover.web.test.tsx
  packages/blade/src/components/Spinner/BaseSpinner/BaseSpinner.stories.tsx
  packages/blade/src/components/SpotlightPopoverTour/__tests__/Tour.web.test.tsx
  packages/blade/src/components/Tooltip/__tests__/Tooltip.native.test.tsx
  packages/blade/src/components/Tooltip/__tests__/Tooltip.web.test.tsx
  packages/blade/src/tokens/theme/bankingTheme.ts
  packages/blade/src/tokens/theme/createTheme.ts
  packages/blade/src/tokens/theme/overrideTheme.stories.tsx
  packages/blade/src/tokens/theme/overrideTheme.ts
  packages/blade/src/tokens/theme/paymentTheme.ts
  packages/blade/src/utils/storybook/Sandbox/SandpackEditor/Sandbox.web.tsx
  packages/blade/src/utils/storybook/Sandbox/StackblitzEditor/Sandbox.web.tsx
  packages/blade/src/utils/testing/renderWithSSR.web.tsx
  packages/blade/src/utils/testing/renderWithTheme.native.tsx
  packages/blade/src/utils/testing/renderWithTheme.web.tsx
  packages/blade/src/utils/testing/themeWrapper.tsx
  packages/blade/src/utils/types.ts
  packages/examples/basic/src/App.tsx
  packages/examples/with-multiple-theme-providers/src/App.tsx
  packages/examples/with-react-hook-form/src/App.tsx
Labels: Review - L1
