Repository razorpay/blade, pull requests merged in 2023-03, with the labels that each got.

#1019 refactor: migrate to size tokens
  packages/blade/src/components/ActionList/ActionListItem.tsx
  packages/blade/src/components/ActionList/ActionListItemAsset.native.tsx
  packages/blade/src/components/ActionList/ActionListItemAsset.web.tsx
  packages/blade/src/components/ActionList/styles/getBaseListBoxWrapperStyles.ts
  packages/blade/src/components/Alert/styles.ts
  packages/blade/src/components/Button/BaseButton/buttonTokens.ts
  packages/blade/src/components/Checkbox/CheckboxIcon/CheckboxIcon.tsx
  packages/blade/src/components/Checkbox/checkboxTokens.ts
  packages/blade/src/components/Counter/counterTokens.ts
  packages/blade/src/components/Dropdown/DropdownOverlay.web.tsx
  packages/blade/src/components/Form/FormLabel.tsx
  packages/blade/src/components/Icons/useIconProps/useIconProps.tsx
  packages/blade/src/components/Indicator/Indicator.tsx
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.native.tsx
  packages/blade/src/components/Input/OTPInput/OTPInput.tsx
  packages/blade/src/components/List/listTokens.ts
  packages/blade/src/components/ProgressBar/ProgressBar.tsx
  packages/blade/src/components/Radio/radioTokens.ts
  packages/blade/src/tokens/global/index.ts
  packages/blade/src/tokens/global/size.ts
Labels: Review - L2

#1032 chore(blade): added BulkPayoutsIcon
  .changeset/wise-cycles-repair.md
  packages/blade/src/components/Icons/BulkPayoutsIcon/BulkPayoutsIcon.native.test.tsx
  packages/blade/src/components/Icons/BulkPayoutsIcon/BulkPayoutsIcon.tsx
  packages/blade/src/components/Icons/BulkPayoutsIcon/BulkPayoutsIcon.web.test.tsx
  packages/blade/src/components/Icons/BulkPayoutsIcon/__snapshots__/BulkPayoutsIcon.native.test.tsx.snap
  packages/blade/src/components/Icons/BulkPayoutsIcon/__snapshots__/BulkPayoutsIcon.web.test.tsx.snap
  packages/blade/src/components/Icons/BulkPayoutsIcon/index.ts
  packages/blade/src/components/Icons/iconMap.ts
  packages/blade/src/components/Icons/index.tsx
Labels: Review - L1

#1037 feat(Text): add `textAlign` prop
  .changeset/yellow-countries-smoke.md
  packages/blade/src/components/Typography/Text/Text.tsx
  packages/blade/src/components/Typography/Text/__tests__/Text.native.test.tsx
  packages/blade/src/components/Typography/Text/__tests__/Text.web.test.tsx
  packages/blade/src/components/Typography/Text/__tests__/__snapshots__/Text.native.test.tsx.snap
  packages/blade/src/components/Typography/Text/__tests__/__snapshots__/Text.web.test.tsx.snap
Labels: Review - L2

#1040 feat: add `autoCapitalize` support to `BaseInput`, `TextInput` & `PasswordInput`
  .changeset/selfish-kids-relate.md
  packages/blade/src/components/Input/BaseInput/BaseInput.stories.tsx
  packages/blade/src/components/Input/BaseInput/BaseInput.tsx
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.native.tsx
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.web.tsx
  packages/blade/src/components/Input/BaseInput/__tests__/BaseInput.native.test.tsx
  packages/blade/src/components/Input/BaseInput/__tests__/BaseInput.web.test.tsx
  packages/blade/src/components/Input/BaseInput/types.ts
  packages/blade/src/components/Input/PasswordInput/PasswordInput.tsx
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.native.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.ssr.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.web.test.tsx.snap
  packages/blade/src/components/Input/TextInput/TextInput.stories.tsx
  packages/blade/src/components/Input/TextInput/TextInput.tsx
  packages/blade/src/components/Input/TextInput/__tests__/TextInput.native.test.tsx
  packages/blade/src/components/Input/TextInput/__tests__/TextInput.web.test.tsx
  packages/blade/src/components/Input/TextInput/__tests__/__snapshots__/TextInput.native.test.tsx.snap
  packages/blade/src/components/Input/TextInput/__tests__/__snapshots__/TextInput.ssr.test.tsx.snap
  packages/blade/src/components/Input/TextInput/__tests__/__snapshots__/TextInput.web.test.tsx.snap
Labels: Review - L2

#1042 feat(Input): add onSubmit prop for native
  .changeset/healthy-ties-change.md
  packages/blade/src/components/Input/BaseInput/BaseInput.stories.tsx
  packages/blade/src/components/Input/BaseInput/BaseInput.tsx
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.native.tsx
  packages/blade/src/components/Input/BaseInput/__tests__/BaseInput.native.test.tsx
  packages/blade/src/components/Input/BaseInput/__tests__/__snapshots__/BaseInput.native.test.tsx.snap
  packages/blade/src/components/Input/BaseInput/types.ts
  packages/blade/src/components/Input/OTPInput/__tests__/__snapshots__/OTPInput.native.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/PasswordInput.tsx
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.native.test.tsx.snap
  packages/blade/src/components/Input/TextArea/TextArea.tsx
  packages/blade/src/components/Input/TextArea/__tests__/__snapshots__/TextArea.native.test.tsx.snap
  packages/blade/src/components/Input/TextInput/TextInput.tsx
  packages/blade/src/components/Input/TextInput/__tests__/__snapshots__/TextInput.native.test.tsx.snap
  packages/blade/tsconfig-typecheck.native.json
  packages/blade/tsconfig-typecheck.web.json
Labels: Review - L2

#1061 feat(OTPInput): add `onFocus` & `onBlur` props
  .changeset/dirty-birds-dream.md
  packages/blade/src/components/Input/OTPInput/OTPInput.stories.tsx
  packages/blade/src/components/Input/OTPInput/OTPInput.tsx
  packages/blade/src/components/Input/OTPInput/__tests__/OTPInput.web.test.tsx
  packages/blade/src/components/Input/OTPInput/__tests__/__snapshots__/OTPInput.ssr.test.tsx.snap
Labels: Review - L2

#993 docs: add Amount decisions
  packages/blade/src/components/Amount/_decisions/amount-thumbnail.png
  packages/blade/src/components/Amount/_decisions/decisions.md
Labels: API Decisions

#1075 perf(blade): improve dropdown/actionlist performance
  .changeset/stale-brooms-lie.md
  packages/blade/.storybook/react-native/Storybook.tsx
  packages/blade/src/components/ActionList/ActionList.tsx
  packages/blade/src/components/ActionList/ActionListItem.tsx
  packages/blade/src/components/Dropdown/Dropdown.stories.tsx
  packages/blade/src/components/Dropdown/Dropdown.tsx
  packages/blade/src/components/Dropdown/DropdownOverlay.web.tsx
Labels: Review - L2

#1010 feat(amount): add amount component
  .changeset/dull-otters-play.md
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/src/components/Amount/Amount.stories.tsx
  packages/blade/src/components/Amount/Amount.tsx
  packages/blade/src/components/Amount/__tests__/Amount.native.test.tsx
  packages/blade/src/components/Amount/__tests__/Amount.ssr.test.tsx
  packages/blade/src/components/Amount/__tests__/Amount.web.test.tsx
  packages/blade/src/components/Amount/__tests__/__snapshots__/Amount.native.test.tsx.snap
  packages/blade/src/components/Amount/__tests__/__snapshots__/Amount.ssr.test.tsx.snap
  packages/blade/src/components/Amount/__tests__/__snapshots__/Amount.web.test.tsx.snap
  packages/blade/src/components/Amount/_decisions/decisions.md
  packages/blade/src/components/Amount/amountTokens.ts
  packages/blade/src/components/Amount/index.tsx
  packages/blade/src/components/index.ts
  packages/blade/src/utils/metaAttribute/metaConstants.ts
Labels: Review - L2
