Repository razorpay/blade, pull requests merged in 2023-09, with the labels that each got.

#1603 feat(Icon): add default value for `size` & `color` props
  .changeset/new-balloons-smash.md
  packages/blade/src/components/Button/BaseButton/buttonTokens.ts
  packages/blade/src/components/Icons/Icons.stories.tsx
  packages/blade/src/components/Icons/index.tsx
  packages/blade/src/components/Icons/useIconProps/useIconProps.tsx
Labels: Review - L2

#1563 build: upgrade rollup to v3
  packages/blade/package.json
  packages/blade/rollup.config.mjs
  packages/blade/src/components/ActionList/ActionList.tsx
  packages/blade/src/components/Amount/Amount.stories.tsx
  packages/blade/src/components/BladeProvider/useTheme.ts
  packages/blade/src/components/BottomSheet/BottomSheetFooter.native.tsx
  packages/blade/src/components/BottomSheet/BottomSheetFooter.web.tsx
  packages/blade/src/components/BottomSheet/BottomSheetHeader.native.tsx
  packages/blade/src/components/BottomSheet/BottomSheetHeader.web.tsx
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.web.test.tsx.snap
  packages/blade/src/components/BottomSheet/types.ts
  packages/blade/src/components/Button/BaseButton/BaseButton.tsx
  packages/blade/src/components/Card/CardFooter.tsx
  packages/blade/src/components/Card/CardHeader.tsx
  packages/blade/src/components/Checkbox/Checkbox.stories.tsx
  packages/blade/src/components/Checkbox/CheckboxGroup.stories.tsx
  packages/blade/src/components/Checkbox/CheckboxIcon/Fade.native.tsx
  packages/blade/src/components/Chip/ChipGroup.stories.tsx
  packages/blade/src/components/Collapsible/CollapsibleButton.tsx
  packages/blade/src/components/Collapsible/CollapsibleLink.tsx
  packages/blade/src/components/Dropdown/DropdownButton.tsx
  packages/blade/src/components/Dropdown/DropdownHeaderFooter.tsx
  packages/blade/src/components/Dropdown/DropdownLink.tsx
  packages/blade/src/components/Input/BaseInput/BaseInput.tsx
  packages/blade/src/components/Input/OTPInput/OTPInput.tsx
  packages/blade/src/components/Input/TextArea/TextArea.tsx
  packages/blade/src/components/Link/BaseLink/BaseLink.stories.tsx
  packages/blade/src/components/List/List.stories.tsx
  packages/blade/src/components/List/List.tsx
  packages/blade/src/components/List/ListContext.ts
  packages/blade/src/components/List/ListItem.tsx
  packages/blade/src/components/List/ListItemCode.tsx
  packages/blade/src/components/List/ListItemIcons.tsx
  packages/blade/src/components/List/ListItemLink.tsx
  packages/blade/src/components/List/ListItemText.tsx
  packages/blade/src/components/List/listTokens.ts
  packages/blade/src/components/Modal/ModalFooter.native.tsx
  packages/blade/src/components/Modal/ModalFooter.web.tsx
  packages/blade/src/components/Modal/ModalHeader.native.tsx
  packages/blade/src/components/Modal/ModalHeader.web.tsx
  packages/blade/src/components/ProgressBar/ProgressBarFilled.native.tsx
  packages/blade/src/components/Radio/Radio.stories.tsx
  packages/blade/src/components/Radio/RadioIcon/Fade.native.tsx
  packages/blade/src/components/Skeleton/PulseAnimation.native.tsx
  packages/blade/src/components/Skeleton/PulseAnimation.web.tsx
  packages/blade/src/components/Skeleton/types.ts
  packages/blade/src/components/Switch/Switch.stories.tsx
  packages/blade/src/tokens/global/elevation/types.ts
  packages/blade/src/utils/storybook/ComponentStatusTable.tsx
  packages/blade/src/utils/testing/themeWrapper.tsx
  packages/blade/tsconfig.json
  yarn.lock
Labels: Review - L2

#1615 fix(blade): carousel bug in safari
  .changeset/metal-years-smash.md
  packages/blade/src/components/Carousel/Carousel.web.tsx
  packages/blade/src/components/Carousel/CarouselItem.web.tsx
  packages/blade/src/components/Carousel/__tests__/__snapshots__/Carousel.web.test.tsx.snap
Labels: Review - L1

#1616 chore(blade): added id to box
  .changeset/green-lobsters-rule.md
  packages/blade/src/components/Box/BaseBox/types/propsTypes.ts
  packages/blade/src/components/Box/Box.stories.tsx
  packages/blade/src/components/Box/Box.tsx
  packages/blade/src/components/Box/__tests__/Box.native.test.tsx
  packages/blade/src/components/Box/__tests__/Box.web.test.tsx
Labels: Review - L1

#1612 fix(ActionList): last section divider
  .changeset/popular-yaks-accept.md
  packages/blade/src/components/Accordion/__tests__/__snapshots__/Accordion.ssr.test.tsx.snap
  packages/blade/src/components/Accordion/__tests__/__snapshots__/Accordion.web.test.tsx.snap
  packages/blade/src/components/ActionList/ActionListBox.native.tsx
  packages/blade/src/components/ActionList/ActionListItem.tsx
  packages/blade/src/components/ActionList/getA11yRoles.ts
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.web.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.ssr.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.web.test.tsx.snap
  packages/blade/src/components/Divider/Divider.tsx
  packages/blade/src/components/Divider/__tests__/__snapshots__/Divider.ssr.test.tsx.snap
  packages/blade/src/components/Divider/__tests__/__snapshots__/Divider.web.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.ssr.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.web.test.tsx.snap
  packages/blade/src/components/Dropdown/docs/DropdownWithSelect.stories.tsx
  packages/blade/src/components/Modal/__tests__/__snapshots__/Modal.web.test.tsx.snap
Labels: Review - L1

#1521 docs(AutoComplete): API Decisions
  packages/blade/src/components/AutoComplete/_decisions/decisions.md
Labels: API Decisions

#1586 feat(AutoComplete): add AutoComplete trigger
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/src/components/ActionList/ActionList.tsx
  packages/blade/src/components/ActionList/ActionListItem.tsx
  packages/blade/src/components/ActionList/ActionListNoResults.tsx
  packages/blade/src/components/ActionList/getA11yRoles.ts
  packages/blade/src/components/ActionList/styles/StyledActionListItem.native.tsx
  packages/blade/src/components/ActionList/styles/StyledActionListItem.web.tsx
  packages/blade/src/components/ActionList/styles/getBaseActionListItemStyles.ts
  packages/blade/src/components/BaseHeaderFooter/BaseHeader.tsx
  packages/blade/src/components/BottomSheet/BottomSheet.native.tsx
  packages/blade/src/components/BottomSheet/BottomSheet.stories.tsx
  packages/blade/src/components/BottomSheet/BottomSheet.web.tsx
  packages/blade/src/components/BottomSheet/BottomSheetContext.ts
  packages/blade/src/components/BottomSheet/BottomSheetHeader.native.tsx
  packages/blade/src/components/BottomSheet/BottomSheetHeader.web.tsx
  packages/blade/src/components/BottomSheet/__tests__/BottomSheet.web.test.tsx
  packages/blade/src/components/BottomSheet/types.ts
  packages/blade/src/components/Dropdown/Dropdown.tsx
  packages/blade/src/components/Dropdown/DropdownButton.tsx
  packages/blade/src/components/Dropdown/DropdownLink.tsx
  packages/blade/src/components/Dropdown/DropdownOverlay.native.tsx
  packages/blade/src/components/Dropdown/DropdownOverlay.web.tsx
  packages/blade/src/components/Dropdown/__tests__/Dropdown.native.test.tsx
  packages/blade/src/components/Dropdown/__tests__/Dropdown.ssr.test.tsx
  packages/blade/src/components/Dropdown/__tests__/Dropdown.web.test.tsx
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.ssr.test.tsx.snap
  packages/blade/src/components/Dropdown/docs/DropdownWithSelect.stories.tsx
  packages/blade/src/components/Dropdown/dropdownComponentIds.ts
  packages/blade/src/components/Dropdown/dropdownUtils.ts
  packages/blade/src/components/Dropdown/useDropdown.ts
  packages/blade/src/components/Input/BaseInput/BaseInput.tsx
  packages/blade/src/components/Input/BaseInput/BaseInputTagSlot.native.tsx
  packages/blade/src/components/Input/BaseInput/BaseInputTagSlot.web.tsx
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.native.tsx
  packages/blade/src/components/Input/BaseInput/baseInputStyles.ts
  packages/blade/src/components/Input/DropdownInputTriggers/AutoComplete.tsx
  packages/blade/src/components/Input/DropdownInputTriggers/BaseDropdownInputTrigger.tsx
  packages/blade/src/components/Input/DropdownInputTriggers/InputChevronIcon.native.tsx
  packages/blade/src/components/Input/DropdownInputTriggers/InputChevronIcon.web.tsx
  packages/blade/src/components/Input/DropdownInputTriggers/SelectInput.stories.tsx
  packages/blade/src/components/Input/DropdownInputTriggers/SelectInput.tsx
  packages/blade/src/components/Input/DropdownInputTriggers/_KitchenSink.SelectInput.stories.tsx
  packages/blade/src/components/Input/DropdownInputTriggers/index.ts
  packages/blade/src/components/Input/DropdownInputTriggers/types.ts
  packages/blade/src/components/Input/SelectInput/SelectInput.tsx
  packages/blade/src/components/Input/SelectInput/types.ts
  packages/blade/src/components/index.ts
  packages/blade/src/utils/metaAttribute/metaConstants.ts
  packages/blade/src/utils/useFirstRender.ts
Labels: Review - L1

#1613 feat(AutoComplete): add labelPosition
  packages/blade/src/components/Dropdown/Dropdown.tsx
  packages/blade/src/components/Input/BaseInput/BaseInput.tsx
  packages/blade/src/components/Input/BaseInput/BaseInputTagSlot.native.tsx
  packages/blade/src/components/Input/BaseInput/BaseInputTagSlot.web.tsx
  packages/blade/src/components/Input/BaseInput/types.ts
  packages/blade/src/components/Input/DropdownInputTriggers/BaseDropdownInputTrigger.tsx
  packages/blade/src/components/Input/DropdownInputTriggers/SelectInput.stories.tsx
  packages/blade/src/components/Input/DropdownInputTriggers/types.ts
Labels: Review - L1

#1621 test(blade): added popover tests
  packages/blade/src/components/Popover/Popover.native.tsx
  packages/blade/src/components/Popover/PopoverCloseButton.tsx
  packages/blade/src/components/Popover/PopoverContentWrapper.web.ts
  packages/blade/src/components/Popover/PopoverContext.ts
  packages/blade/src/components/Popover/PopoverInteractiveWrapper.native.tsx
  packages/blade/src/components/Popover/__tests__/Popover.native.test.tsx
  packages/blade/src/components/Popover/__tests__/Popover.web.test.tsx
  packages/blade/src/components/Popover/__tests__/__snapshots__/Popover.native.test.tsx.snap
  packages/blade/src/components/Popover/__tests__/__snapshots__/Popover.web.test.tsx.snap
  packages/blade/src/components/Popover/types.ts
Labels: Review - L2

#1584 docs: Popover API Decision
  packages/blade/src/components/Popover/_decisions/assets/popover-example-1.png
  packages/blade/src/components/Popover/_decisions/assets/popover-motion.mov
  packages/blade/src/components/Popover/_decisions/assets/popover-thumbnail.png
  packages/blade/src/components/Popover/_decisions/decisions.md
Labels: Review - L2

#1606 feat(blade): added popover component
  .changeset/curly-cooks-whisper.md
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/src/components/Popover/Popover.native.tsx
  packages/blade/src/components/Popover/Popover.stories.tsx
  packages/blade/src/components/Popover/Popover.web.tsx
  packages/blade/src/components/Popover/PopoverCloseButton.tsx
  packages/blade/src/components/Popover/PopoverContent.tsx
  packages/blade/src/components/Popover/PopoverContentWrapper.native.tsx
  packages/blade/src/components/Popover/PopoverContentWrapper.web.ts
  packages/blade/src/components/Popover/PopoverContext.ts
  packages/blade/src/components/Popover/PopoverInteractiveWrapper.native.tsx
  packages/blade/src/components/Popover/PopoverInteractiveWrapper.web.tsx
  packages/blade/src/components/Popover/__tests__/Popover.native.test.tsx
  packages/blade/src/components/Popover/__tests__/Popover.web.test.tsx
  packages/blade/src/components/Popover/__tests__/__snapshots__/Popover.native.test.tsx.snap
  packages/blade/src/components/Popover/__tests__/__snapshots__/Popover.web.test.tsx.snap
  packages/blade/src/components/Popover/constants.ts
  packages/blade/src/components/Popover/getPopoverContentWrapperStyles.ts
  packages/blade/src/components/Popover/index.ts
  packages/blade/src/components/Popover/types.ts
  packages/blade/src/components/PopupArrow/PopupArrow.native.tsx
  packages/blade/src/components/PopupArrow/PopupArrow.web.tsx
  packages/blade/src/components/PopupArrow/index.ts
  packages/blade/src/components/PopupArrow/types.ts
  packages/blade/src/components/Tooltip/Tooltip.native.tsx
  packages/blade/src/components/Tooltip/Tooltip.stories.tsx
  packages/blade/src/components/Tooltip/Tooltip.web.tsx
  packages/blade/src/components/Tooltip/TooltipContent.tsx
  packages/blade/src/components/Tooltip/__tests__/Tooltip.native.test.tsx
  packages/blade/src/components/Tooltip/__tests__/Tooltip.web.test.tsx
  packages/blade/src/components/Tooltip/__tests__/__snapshots__/Tooltip.native.test.tsx.snap
  packages/blade/src/components/Tooltip/__tests__/__snapshots__/Tooltip.web.test.tsx.snap
  packages/blade/src/components/Tooltip/types.ts
  packages/blade/src/utils/getFloatingPlacementParts.ts
  packages/blade/src/utils/mergeProps.test.ts
  packages/blade/src/utils/mergeProps.ts
  packages/blade/src/utils/metaAttribute/metaConstants.ts
  packages/blade/src/utils/storybook/PopoverVsTooltip.tsx
Labels: Review - L1

#1639 feat(ActionListItem): add ActionListItemBadge and titleSuffix option
  .changeset/thin-rivers-crash.md
  packages/blade/src/components/ActionList/ActionList.tsx
  packages/blade/src/components/ActionList/ActionListItem.tsx
  packages/blade/src/components/ActionList/actionListUtils.ts
  packages/blade/src/components/ActionList/componentIds.ts
  packages/blade/src/components/ActionList/docs/ActionListDocs.tsx
  packages/blade/src/components/ActionList/docs/propsTable.tsx
  packages/blade/src/components/ActionList/docs/stories.ts
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.native.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.ssr.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.web.test.tsx.snap
  packages/blade/src/components/Dropdown/docs/autoCompleteStories.tsx
  packages/blade/src/components/Dropdown/docs/stories.ts
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.native.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.ssr.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.web.test.tsx.snap
  packages/blade/src/utils/storybook/Sandbox/Sandbox.web.tsx
Labels: Review - L2

#1636 feat(Dropdown): add isOpen and onOpenChange
  .changeset/grumpy-squids-dance.md
  packages/blade/src/components/Dropdown/Dropdown.tsx
  packages/blade/src/components/Dropdown/__tests__/Dropdown.native.test.tsx
  packages/blade/src/components/Dropdown/__tests__/Dropdown.web.test.tsx
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.web.test.tsx.snap
  packages/blade/src/components/Dropdown/docs/DropdownWithButton.stories.tsx
  packages/blade/src/components/Dropdown/docs/stories.ts
  packages/blade/src/components/Dropdown/types.ts
Labels: Review - L2

#1631 feat(blade): add ref to OTP Input
  .changeset/shy-ears-cry.md
  packages/blade/src/components/Input/OTPInput/OTPInput.stories.tsx
  packages/blade/src/components/Input/OTPInput/OTPInput.tsx
  packages/blade/src/components/Input/OTPInput/__tests__/OTPInput.web.test.tsx
  packages/blade/src/utils/useMergeRefs.ts
Labels: Review - L2

#1634 fix(Box): correctly apply border styles
  .changeset/red-boats-give.md
  packages/blade/src/components/Box/BaseBox/baseBoxStyles.ts
  packages/blade/src/components/Box/__tests__/Box.native.test.tsx
  packages/blade/src/components/Box/__tests__/Box.web.test.tsx
  packages/blade/src/components/Box/__tests__/__snapshots__/Box.native.test.tsx.snap
  packages/blade/src/components/Box/__tests__/__snapshots__/Box.web.test.tsx.snap
Labels: Review - L2

#1661 feat: radio & checkbox integration with card
  .changeset/bright-lamps-destroy.md
  packages/blade/src/components/Card/Card.tsx
  packages/blade/src/components/Card/CardInteractive.stories.tsx
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.native.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.ssr.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.web.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/CardInteractive.native.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/CardInteractive.web.test.tsx.snap
  packages/blade/src/components/Checkbox/Checkbox.tsx
  packages/blade/src/components/Checkbox/CheckboxGroup/CheckboxGroup.tsx
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.native.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.ssr.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.web.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.native.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.ssr.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.web.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.native.test.tsx.snap
  packages/blade/src/components/Radio/Radio.tsx
  packages/blade/src/components/Radio/RadioGroup/RadioGroup.tsx
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.native.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.ssr.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.web.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.native.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.ssr.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.web.test.tsx.snap
Labels: Review - L1

#1568 feat: support customizing Blade theme with a brand color
  .changeset/soft-boxes-shave.md
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/.storybook/react/global.css
  packages/blade/.storybook/react/preview.js
  packages/blade/docs/guides/CreateTheme.stories.mdx
  packages/blade/docs/guides/ThemePlayground.stories.mdx
  packages/blade/ios/Podfile.lock
  packages/blade/package.json
  packages/blade/src/components/BladeProvider/useBladeProvider.ts
  packages/blade/src/components/Carousel/Carousel.stories.tsx
  packages/blade/src/components/Checkbox/CheckboxGroup.stories.tsx
  packages/blade/src/components/Checkbox/CheckboxIcon/CheckboxIcon.tsx
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.ssr.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.web.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.ssr.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.web.test.tsx.snap
  packages/blade/src/components/Chip/chipTokens.ts
  packages/blade/src/components/Modal/docs/SimpleModal.stories.tsx
  packages/blade/src/components/Radio/Radio.stories.tsx
  packages/blade/src/components/Switch/Switch.stories.tsx
  packages/blade/src/storybook-recipes/ThemePlayground/BrandedComponentKitchenSink.tsx
  packages/blade/src/storybook-recipes/ThemePlayground/Checkout.tsx
  packages/blade/src/storybook-recipes/ThemePlayground/PhantomUI.tsx
  packages/blade/src/storybook-recipes/ThemePlayground/ThemeSelector.tsx
  packages/blade/src/storybook-recipes/ThemePlayground/index.tsx
  packages/blade/src/tokens/global/colors.ts
  packages/blade/src/tokens/theme/__tests__/__snapshots__/createTheme.native.test.tsx.snap
  packages/blade/src/tokens/theme/__tests__/__snapshots__/createTheme.web.test.tsx.snap
  packages/blade/src/tokens/theme/__tests__/createTheme.native.test.tsx
  packages/blade/src/tokens/theme/__tests__/createTheme.web.test.tsx
  packages/blade/src/tokens/theme/createTheme.ts
  packages/blade/src/tokens/theme/index.ts
  packages/blade/src/tokens/theme/overrideTheme.ts
  packages/blade/src/utils/hasSameObjectStructure/__tests__/hasSameObjectStructure.test.ts
  packages/blade/src/utils/hasSameObjectStructure/hasSameObjectStructure.ts
  packages/blade/src/utils/hasSameObjectStructure/index.ts
  packages/blade/src/utils/storybook/Sandbox/Sandbox.native.tsx
  packages/blade/src/utils/storybook/Sandbox/Sandbox.web.tsx
  packages/blade/tsconfig-generate-types.native.json
  packages/blade/tsconfig-generate-types.web.json
  packages/blade/tsconfig-typecheck.native.json
  packages/blade/tsconfig-typecheck.web.json
  yarn.lock
Labels: Review - L2

#1670 feat: update to use focus-visible
  .changeset/hip-suns-run.md
  packages/blade/src/components/Accordion/StyledAccordionButton.web.tsx
  packages/blade/src/components/Accordion/__tests__/__snapshots__/Accordion.ssr.test.tsx.snap
  packages/blade/src/components/Accordion/__tests__/__snapshots__/Accordion.web.test.tsx.snap
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.ssr.test.tsx.snap
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.web.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.web.test.tsx.snap
  packages/blade/src/components/Button/IconButton/StyledIconButton.web.tsx
  packages/blade/src/components/Button/IconButton/__tests__/__snapshots__/IconButton.ssr.test.tsx.snap
  packages/blade/src/components/Button/IconButton/__tests__/__snapshots__/IconButton.web.test.tsx.snap
  packages/blade/src/components/Carousel/Indicators/getIndicatorButtonStyles.ts
  packages/blade/src/components/Carousel/NavigationButton/getNavigationButtonStyles.ts
  packages/blade/src/components/Carousel/__tests__/__snapshots__/Carousel.ssr.test.tsx.snap
  packages/blade/src/components/Carousel/__tests__/__snapshots__/Carousel.web.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.ssr.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.web.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.ssr.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.web.test.tsx.snap
  packages/blade/src/components/Chip/__tests__/__snapshots__/Chip.ssr.test.tsx.snap
  packages/blade/src/components/Chip/__tests__/__snapshots__/Chip.web.test.tsx.snap
  packages/blade/src/components/Chip/__tests__/__snapshots__/ChipGroup.ssr.test.tsx.snap
  packages/blade/src/components/Chip/__tests__/__snapshots__/ChipGroup.web.test.tsx.snap
  packages/blade/src/components/Collapsible/__tests__/__snapshots__/Collapsible.web.test.tsx.snap
  packages/blade/src/components/Form/Selector/SelectorInput.web.tsx
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.web.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.ssr.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.web.test.tsx.snap
  packages/blade/src/components/Link/BaseLink/StyledBaseLink.web.tsx
  packages/blade/src/components/Link/BaseLink/__tests__/__snapshots__/BaseLink.ssr.test.tsx.snap
  packages/blade/src/components/Link/BaseLink/__tests__/__snapshots__/BaseLink.web.test.tsx.snap
  packages/blade/src/components/Link/Link/__tests__/__snapshots__/Link.ssr.test.tsx.snap
  packages/blade/src/components/Link/Link/__tests__/__snapshots__/Link.web.test.tsx.snap
  packages/blade/src/components/Modal/__tests__/__snapshots__/Modal.web.test.tsx.snap
  packages/blade/src/components/Popover/PopoverInteractiveWrapper.web.tsx
  packages/blade/src/components/Popover/__tests__/__snapshots__/Popover.web.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.ssr.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.web.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.ssr.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.web.test.tsx.snap
  packages/blade/src/components/Switch/__tests__/__snapshots__/Switch.ssr.test.tsx.snap
  packages/blade/src/components/Switch/__tests__/__snapshots__/Switch.web.test.tsx.snap
  packages/blade/src/components/Tag/__tests__/__snapshots__/Tag.ssr.test.tsx.snap
  packages/blade/src/components/Tag/__tests__/__snapshots__/Tag.web.test.tsx.snap
Labels: Review - L2

#1685 fix: remove FloatingFocusManager and added more tests
  .changeset/forty-garlics-turn.md
  packages/blade/src/components/BottomSheet/BottomSheet.stories.tsx
  packages/blade/src/components/BottomSheet/BottomSheet.web.tsx
  packages/blade/src/components/BottomSheet/__tests__/BottomSheet.web.test.tsx
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.web.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.web.test.tsx.snap
Labels: bug, P0
