Repository razorpay/blade, pull requests merged in 2023-02, with the labels that each got.

#967 chore: fix dependabot alerts
  .changeset/forty-rabbits-melt.md
  yarn.lock
Labels: Review - L1

#952 docs: add List decisions
  packages/blade/src/components/List/_decisions/decisions.md
  packages/blade/src/components/List/_decisions/list-thumbnail.png
  packages/blade/src/components/List/_decisions/ordered-list-filled.png
  packages/blade/src/components/List/_decisions/ordered-list-link.png
  packages/blade/src/components/List/_decisions/ordered-list.png
  packages/blade/src/components/List/_decisions/unordered-list-icon.png
  packages/blade/src/components/List/_decisions/unordered-list-link.png
  packages/blade/src/components/List/_decisions/unordered-list.png
Labels: Review - L2, API Decisions

#932 feat(SelectInput): add SelectInput
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/src/components/Form/FormTypes.ts
  packages/blade/src/components/Input/BaseInput/BaseInput.tsx
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.native.tsx
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.web.tsx
  packages/blade/src/components/Input/BaseInput/__tests__/__snapshots__/BaseInput.native.test.tsx.snap
  packages/blade/src/components/Input/BaseInput/types.ts
  packages/blade/src/components/Input/OTPInput/__tests__/__snapshots__/OTPInput.native.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.native.test.tsx.snap
  packages/blade/src/components/Input/SelectInput/SelectChevronIcon.native.tsx
  packages/blade/src/components/Input/SelectInput/SelectChevronIcon.web.tsx
  packages/blade/src/components/Input/SelectInput/SelectInput.stories.tsx
  packages/blade/src/components/Input/SelectInput/SelectInput.tsx
  packages/blade/src/components/Input/TextArea/__tests__/__snapshots__/TextArea.native.test.tsx.snap
  packages/blade/src/components/Input/TextInput/__tests__/__snapshots__/TextInput.native.test.tsx.snap
Labels: Review - L2, Review - Design

#948 feat(Dropdown): add Dropdown functionality
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/src/components/ActionList/ActionList.tsx
  packages/blade/src/components/Dropdown/Dropdown.stories.tsx
  packages/blade/src/components/Dropdown/Dropdown.tsx
  packages/blade/src/components/Dropdown/dropdownUtils.ts
  packages/blade/src/components/Dropdown/useDropdown.ts
  packages/blade/src/components/Input/BaseInput/BaseInput.tsx
  packages/blade/src/components/Input/SelectInput/SelectInput.stories.tsx
  packages/blade/src/components/Input/SelectInput/SelectInput.tsx
Labels: Review - L2

#966 feat(ActionList): add ActionList styling
  packages/blade/src/components/ActionList/ActionList.tsx
  packages/blade/src/components/ActionList/ActionListFooter.tsx
  packages/blade/src/components/ActionList/ActionListHeader.tsx
  packages/blade/src/components/ActionList/ActionListItem.tsx
  packages/blade/src/components/ActionList/ActionListItemAsset.native.tsx
  packages/blade/src/components/ActionList/ActionListItemAsset.web.tsx
  packages/blade/src/components/ActionList/StyledActionListItem.native.tsx
  packages/blade/src/components/ActionList/StyledActionListItem.web.tsx
  packages/blade/src/components/ActionList/actionListUtils.ts
  packages/blade/src/components/ActionList/componentIds.ts
  packages/blade/src/components/ActionList/getA11yRoles.ts
  packages/blade/src/components/ActionList/getBaseActionListItemStyles.ts
  packages/blade/src/components/ActionList/index.ts
  packages/blade/src/components/Checkbox/Checkbox.tsx
  packages/blade/src/components/Dropdown/Dropdown.stories.tsx
  packages/blade/src/components/Dropdown/Dropdown.tsx
  packages/blade/src/components/Dropdown/DropdownOverlay.native.tsx
  packages/blade/src/components/Dropdown/DropdownOverlay.web.tsx
  packages/blade/src/components/Dropdown/dropdownUtils.ts
  packages/blade/src/components/Dropdown/index.ts
  packages/blade/src/components/Dropdown/useDropdown.ts
  packages/blade/src/components/Form/Selector/SelectorInput.native.tsx
  packages/blade/src/components/Form/Selector/SelectorInput.web.tsx
  packages/blade/src/components/Input/BaseInput/BaseInput.tsx
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.web.tsx
  packages/blade/src/components/Input/SelectInput/SelectInput.tsx
  packages/blade/src/components/Input/SelectInput/index.ts
  packages/blade/src/utils/metaAttribute/metaConstants.ts
  packages/blade/src/utils/platform/getOS.native.ts
  packages/blade/src/utils/platform/getOS.web.ts
  packages/blade/src/utils/platform/index.all.ts
  packages/blade/src/utils/platform/index.native.ts
  packages/blade/src/utils/platform/index.ts
Labels: Review - L2

#981 test(Dropdown): add tests, documentation, and cleanup
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/package.json
  packages/blade/src/_helpers/storybook/StoryPageWrapper.tsx
  packages/blade/src/components/ActionList/ActionList.tsx
  packages/blade/src/components/ActionList/ActionListFooter.tsx
  packages/blade/src/components/ActionList/ActionListHeader.tsx
  packages/blade/src/components/ActionList/ActionListItem.tsx
  packages/blade/src/components/ActionList/ActionListItemAsset.native.tsx
  packages/blade/src/components/ActionList/ActionListItemAsset.web.tsx
  packages/blade/src/components/ActionList/StyledActionListItem.web.tsx
  packages/blade/src/components/ActionList/getBaseActionListItemStyles.ts
  packages/blade/src/components/Dropdown/Dropdown.stories.tsx
  packages/blade/src/components/Dropdown/Dropdown.tsx
  packages/blade/src/components/Dropdown/DropdownOverlay.native.tsx
  packages/blade/src/components/Dropdown/DropdownOverlay.web.tsx
  packages/blade/src/components/Dropdown/__tests__/Dropdown.native.test.tsx
  packages/blade/src/components/Dropdown/__tests__/Dropdown.ssr.test.tsx
  packages/blade/src/components/Dropdown/__tests__/Dropdown.web.test.tsx
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.native.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.ssr.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.web.test.tsx.snap
  packages/blade/src/components/Dropdown/dropdownUtils.ts
  packages/blade/src/components/Dropdown/useDropdown.ts
  packages/blade/src/components/Input/SelectInput/SelectInput.stories.tsx
  packages/blade/src/components/Input/SelectInput/SelectInput.tsx
  packages/blade/src/components/index.ts
Labels: Review - L2

#950 docs: rfc for layout
  rfcs/2023-01-06-layout.md
  rfcs/images/layout/layout-sample-ui.png
Labels: RFC

#973 chore(OTPInput): add `autoCompleteSuggestionType` and disable password manager with `isMasked`
  .changeset/beige-steaks-hug.md
  packages/blade/src/components/Input/OTPInput/OTPInput.tsx
  packages/blade/src/components/Input/OTPInput/__tests__/OTPInput.native.test.tsx
  packages/blade/src/components/Input/OTPInput/__tests__/OTPInput.web.test.tsx
  packages/blade/src/components/Input/OTPInput/_decisions/_decisions.md
Labels: Review - L2

#968 chore: move examples inside packages
  .eslintrc.js
  examples/with-react-hook-form/.eslintrc
  packages/blade/src/storybook-recipes/SimpleCardWithTokens/Card.d.ts
  packages/blade/src/storybook-recipes/SimpleCardWithTokens/Card.native.tsx
  packages/blade/src/storybook-recipes/SimpleCardWithTokens/Card.web.tsx
  packages/blade/src/storybook-recipes/SimpleCardWithTokens/CardWithTokens.stories.tsx
  packages/blade/src/storybook-recipes/SimpleCardWithTokens/styles.ts
  packages/examples/basic/package.json
  packages/examples/basic/public/index.html
  packages/examples/basic/src/App.tsx
  packages/examples/basic/src/index.tsx
  packages/examples/basic/src/react-app-env.d.ts
  packages/examples/basic/tsconfig.json
  packages/examples/basic/yarn.lock
  packages/examples/with-multiple-theme-providers/.gitignore
  packages/examples/with-multiple-theme-providers/README.md
  packages/examples/with-multiple-theme-providers/package.json
  packages/examples/with-multiple-theme-providers/public/favicon.ico
  packages/examples/with-multiple-theme-providers/public/index.html
  packages/examples/with-multiple-theme-providers/public/logo192.png
  packages/examples/with-multiple-theme-providers/public/logo512.png
  packages/examples/with-multiple-theme-providers/public/manifest.json
  packages/examples/with-multiple-theme-providers/public/robots.txt
  packages/examples/with-multiple-theme-providers/src/App.test.tsx
  packages/examples/with-multiple-theme-providers/src/App.tsx
  packages/examples/with-multiple-theme-providers/src/app.css
  packages/examples/with-multiple-theme-providers/src/index.css
  packages/examples/with-multiple-theme-providers/src/index.tsx
  packages/examples/with-multiple-theme-providers/src/react-app-env.d.ts
  packages/examples/with-multiple-theme-providers/src/setupTests.ts
  packages/examples/with-multiple-theme-providers/tsconfig.json
  packages/examples/with-multiple-theme-providers/yarn.lock
  packages/examples/with-react-hook-form/package.json
  packages/examples/with-react-hook-form/public/index.html
  packages/examples/with-react-hook-form/src/App.tsx
  packages/examples/with-react-hook-form/src/index.tsx
  packages/examples/with-react-hook-form/src/react-app-env.d.ts
  packages/examples/with-react-hook-form/tsconfig.json
  packages/examples/with-react-hook-form/yarn.lock
Labels: Review - L1

#1008 docs(Dropdown): add note on Safari bug
  packages/blade/src/components/Dropdown/DropdownOverlay.web.tsx
Labels: Ready to Merge

#1017 fix(Dropdown): infinite render onChange, positioning in flex
  .changeset/fast-bugs-cover.md
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/src/components/Dropdown/Dropdown.stories.tsx
  packages/blade/src/components/Dropdown/Dropdown.tsx
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.native.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.ssr.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.web.test.tsx.snap
  packages/blade/src/components/Input/SelectInput/SelectInput.tsx
Labels: Review - L2

#1024 feat: support string array in children
  .changeset/shy-peaches-design.md
  packages/blade/src/_helpers/types.ts
  packages/blade/src/components/ActionList/ActionListItem.tsx
  packages/blade/src/components/Badge/Badge.tsx
  packages/blade/src/components/Button/BaseButton/BaseButton.tsx
  packages/blade/src/components/Button/Button/Button.tsx
  packages/blade/src/components/Indicator/Indicator.tsx
  packages/blade/src/components/Link/BaseLink/BaseLink.tsx
  packages/blade/src/components/Link/Link/Link.tsx
  packages/blade/src/components/Radio/Radio.tsx
  packages/blade/src/components/SkipNav/SkipNav.native.tsx
  packages/blade/src/components/SkipNav/SkipNav.web.tsx
  packages/blade/src/components/Typography/Code/Code.tsx
  packages/blade/src/components/Typography/Heading/Heading.tsx
  packages/blade/src/components/Typography/Title/Title.tsx
  packages/blade/src/utils/getStringChildren/getStringChildren.ts
  packages/blade/src/utils/getStringChildren/index.ts
Labels: Review - L2
