Repository razorpay/blade, pull requests merged in 2023-08, with the labels that each got.

#1496 fix: useTheme import statement typo fixed
  packages/blade/docs/utils/useTheme.stories.mdx
Labels: documentation

#1493 fix: abstract textsizes as BaseTextSizes
  packages/blade/src/components/Link/BaseLink/BaseLink.tsx
  packages/blade/src/components/Modal/Modal.native.tsx
  packages/blade/src/components/Modal/Modal.web.tsx
  packages/blade/src/components/Modal/types.ts
  packages/blade/src/components/Typography/BaseText/types.ts
  packages/blade/src/components/Typography/Code/Code.tsx
  packages/blade/src/components/Typography/Heading/Heading.tsx
  packages/blade/src/components/Typography/Text/Text.tsx
  packages/blade/src/components/Typography/Title/Title.tsx
Labels: Review - L1

#1477 fix: remove className from Button, svg, Link
  .changeset/smart-kids-applaud.md
  packages/blade/src/components/Box/BaseBox/BaseBox.web.tsx
  packages/blade/src/components/Button/BaseButton/BaseButton.tsx
  packages/blade/src/components/Button/BaseButton/__tests__/BaseButton.native.test.tsx
  packages/blade/src/components/Button/BaseButton/__tests__/BaseButton.web.test.tsx
  packages/blade/src/components/Button/BaseButton/types.ts
  packages/blade/src/components/Button/Button/Button.tsx
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.native.test.tsx.snap
  packages/blade/src/components/Collapsible/CollapsibleButton.tsx
  packages/blade/src/components/Collapsible/CollapsibleLink.tsx
  packages/blade/src/components/Collapsible/__tests__/__snapshots__/Collapsible.native.test.tsx.snap
  packages/blade/src/components/Collapsible/__tests__/__snapshots__/Collapsible.ssr.test.tsx.snap
  packages/blade/src/components/Dropdown/DropdownButton.tsx
  packages/blade/src/components/Dropdown/DropdownLink.tsx
  packages/blade/src/components/Link/BaseLink/BaseLink.tsx
  packages/blade/src/components/Link/BaseLink/__tests__/BaseLink.native.test.tsx
  packages/blade/src/components/Link/BaseLink/__tests__/BaseLink.web.test.tsx
  packages/blade/src/components/Link/Link/Link.tsx
  packages/blade/src/components/Typography/BaseText/BaseText.native.tsx
  packages/blade/src/components/Typography/BaseText/BaseText.web.tsx
  packages/blade/src/utils/metaAttribute/__tests__/metaAttribute.native.test.tsx
  packages/blade/src/utils/metaAttribute/__tests__/metaAttribute.web.test.tsx
  packages/blade/src/utils/metaAttribute/metaAttribute.web.ts
Labels: Review - L2, P1

#1489 feat(BottomSheet): add `zindex` prop & improve focus management logic
  .changeset/tricky-ducks-fetch.md
  packages/blade/src/components/BottomSheet/BottomSheet.web.tsx
  packages/blade/src/components/BottomSheet/__tests__/BottomSheet.ssr.test.tsx
  packages/blade/src/components/BottomSheet/__tests__/BottomSheet.web.test.tsx
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.web.test.tsx.snap
  packages/blade/src/components/BottomSheet/types.ts
Labels: Review - L2

#1512 fix(SelectInput): truncate text in select input
  .changeset/stale-eels-pretend.md
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.native.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.ssr.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.web.test.tsx.snap
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.native.tsx
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.web.tsx
Labels: Review - L1

#1523 docs: add note in CHANGELOG for compatibility with jest
  packages/blade/CHANGELOG.md
Labels: Ready to Merge

#1499 feat: implement `inline-flex` display for `Badge`,`Counter`, & `Indicator`
  .changeset/late-boats-report.md
  packages/blade/src/components/Badge/Badge.tsx
  packages/blade/src/components/Badge/__tests__/__snapshots__/Badge.ssr.test.tsx.snap
  packages/blade/src/components/Badge/__tests__/__snapshots__/Badge.web.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.ssr.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.web.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.ssr.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.web.test.tsx.snap
  packages/blade/src/components/Counter/Counter.tsx
  packages/blade/src/components/Counter/__tests__/__snapshots__/Counter.ssr.test.tsx.snap
  packages/blade/src/components/Counter/__tests__/__snapshots__/Counter.web.test.tsx.snap
  packages/blade/src/components/Indicator/Indicator.tsx
  packages/blade/src/components/Indicator/__tests__/__snapshots__/Indicator.ssr.test.tsx.snap
  packages/blade/src/components/Indicator/__tests__/__snapshots__/Indicator.web.test.tsx.snap
  packages/blade/src/components/Modal/__tests__/__snapshots__/Modal.web.test.tsx.snap
Labels: Review - L2

#1516 feat(Box): add support for `transparent` background color
  .changeset/thick-countries-search.md
  packages/blade/src/components/Box/BaseBox/types/propsTypes.ts
  packages/blade/src/components/Box/Box.tsx
  packages/blade/src/components/Box/__tests__/Box.native.test.tsx
  packages/blade/src/components/Box/__tests__/Box.ssr.test.tsx
  packages/blade/src/components/Box/__tests__/Box.web.test.tsx
Labels: Review - L2

#1536 ci: don't build blade for running tests
  .github/workflows/blade-validate.yml
Labels: Review - L1

#1500 feat(Box): add `draggable`,`onDrag*`,`onDrop`,`pointerEvents`,`placeItems`
  .changeset/ninety-bulldogs-walk.md
  packages/blade/src/components/Box/BaseBox/baseBoxStyles.ts
  packages/blade/src/components/Box/BaseBox/types/propsTypes.ts
  packages/blade/src/components/Box/Box.stories.tsx
  packages/blade/src/components/Box/Box.tsx
  packages/blade/src/components/Skeleton/Skeleton.tsx
Labels: Review - L2

#1542 feat: add KitchenSink Stories for all components
  packages/blade/.storybook/react/preview.js
  packages/blade/package.json
  packages/blade/src/components/Accordion/_KitchenSink.Accordion.stories.tsx
  packages/blade/src/components/Alert/_KitchenSink.Alert.stories.tsx
  packages/blade/src/components/Amount/_KitchenSink.Amount.stories.tsx
  packages/blade/src/components/Badge/_KitchenSink.Badge.stories.tsx
  packages/blade/src/components/BottomSheet/BottomSheet.stories.tsx
  packages/blade/src/components/BottomSheet/_KitchenSink.BottomSheet.stories.tsx
  packages/blade/src/components/Box/_KitchenSink.Box.stories.tsx
  packages/blade/src/components/Button/Button/_KitchenSink.Button.stories.tsx
  packages/blade/src/components/Card/_KitchenSink.Card.stories.tsx
  packages/blade/src/components/Checkbox/_KitchenSink.Checkbox.stories.tsx
  packages/blade/src/components/Collapsible/_KitchenSink.Collapsible.stories.tsx
  packages/blade/src/components/Counter/_KitchenSink.Counter.stories.tsx
  packages/blade/src/components/Divider/_KitchenSink.Divider.stories.tsx
  packages/blade/src/components/Dropdown/docs/_KitchenSink.Dropdown.stories.tsx
  packages/blade/src/components/Icons/_KitchenSink.Icons.stories.tsx
  packages/blade/src/components/Indicator/_KitchenSink.Indicator.stories.tsx
  packages/blade/src/components/Input/OTPInput/_KitchenSink.OTPInput.stories.tsx
  packages/blade/src/components/Input/PasswordInput/_KitchenSink.PasswordInput.stories.tsx
  packages/blade/src/components/Input/SelectInput/_KitchenSink.SelectInput.stories.tsx
  packages/blade/src/components/Input/TextArea/_KitchenSink.TextArea.stories.tsx
  packages/blade/src/components/Input/TextInput/_KitchenSink.TextInput.stories.tsx
  packages/blade/src/components/Link/Link/_KitchenSink.Link.stories.tsx
  packages/blade/src/components/List/_KitchenSink.List.stories.tsx
  packages/blade/src/components/Modal/docs/SimpleModal.stories.tsx
  packages/blade/src/components/Modal/docs/_KitchenSink.Modal.stories.tsx
  packages/blade/src/components/ProgressBar/_KitchenSink.ProgressBar.stories.tsx
  packages/blade/src/components/Radio/_KitchenSink.Radio.stories.tsx
  packages/blade/src/components/Skeleton/_KitchenSink.Skeleton.stories.tsx
  packages/blade/src/components/SkipNav/_KitchenSink.SkipNav.stories.tsx
  packages/blade/src/components/Spinner/Spinner/_KitchenSink.Spinner.stories.tsx
  packages/blade/src/components/Switch/_KitchenSink.Switch.stories.tsx
  packages/blade/src/components/Tag/_KitchenSink.Tag.stories.tsx
  packages/blade/src/components/Tooltip/_KitchenSink.Tooltip.stories.tsx
  packages/blade/src/components/Typography/Code/_KitchenSink.Code.stories.tsx
  packages/blade/src/components/Typography/Heading/_KitchenSink.Heading.stories.tsx
  packages/blade/src/components/Typography/Text/_KitchenSink.Text.stories.tsx
  packages/blade/src/components/Typography/Title/_KitchenSink.Title.stories.tsx
  packages/blade/src/components/VisuallyHidden/_KitchenSink.VisuallyHidden.stories.tsx
  yarn.lock
Labels: Review - L1

#1515 feat(blade): added carousel native implementation
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/ios/Podfile.lock
  packages/blade/src/components/Carousel/Carousel.native.tsx
  packages/blade/src/components/Carousel/Carousel.stories.tsx
  packages/blade/src/components/Carousel/Carousel.web.tsx
  packages/blade/src/components/Carousel/CarouselContext.tsx
  packages/blade/src/components/Carousel/CarouselItem.native.tsx
  packages/blade/src/components/Carousel/CarouselItem.web.tsx
  packages/blade/src/components/Carousel/Indicators/Indicators.tsx
  packages/blade/src/components/Carousel/Indicators/StyledIndicatorButton.native.tsx
  packages/blade/src/components/Carousel/Indicators/getIndicatorButtonStyles.ts
  packages/blade/src/components/Carousel/Indicators/types.ts
  packages/blade/src/components/Carousel/NavigationButton/NavigationButton.tsx
  packages/blade/src/components/Carousel/NavigationButton/StyledNavigationButton.native.tsx
  packages/blade/src/components/Carousel/NavigationButton/getNavigationButtonStyles.ts
  packages/blade/src/components/Carousel/__tests__/Carousel.native.test.tsx
  packages/blade/src/components/Carousel/__tests__/__snapshots__/Carousel.native.test.tsx.snap
  packages/blade/src/components/Carousel/__tests__/__snapshots__/Carousel.ssr.test.tsx.snap
  packages/blade/src/components/Carousel/__tests__/__snapshots__/Carousel.web.test.tsx.snap
  packages/blade/src/components/Carousel/constants.ts
  packages/blade/src/components/Carousel/index.ts
  packages/blade/src/components/Carousel/types.ts
  packages/blade/src/components/index.ts
Labels: Review - L2

#1508 feat(blade): added carousel web implementation
  .changeset/wild-jeans-perform.md
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/.storybook/react/preview.js
  packages/blade/ios/Podfile.lock
  packages/blade/package.json
  packages/blade/src/components/Card/Card.tsx
  packages/blade/src/components/Carousel/Carousel.native.tsx
  packages/blade/src/components/Carousel/Carousel.stories.tsx
  packages/blade/src/components/Carousel/Carousel.web.tsx
  packages/blade/src/components/Carousel/CarouselContext.tsx
  packages/blade/src/components/Carousel/CarouselItem.native.tsx
  packages/blade/src/components/Carousel/CarouselItem.web.tsx
  packages/blade/src/components/Carousel/Indicators/IndicatorButton.tsx
  packages/blade/src/components/Carousel/Indicators/Indicators.tsx
  packages/blade/src/components/Carousel/Indicators/StyledIndicatorButton.native.tsx
  packages/blade/src/components/Carousel/Indicators/StyledIndicatorButton.web.tsx
  packages/blade/src/components/Carousel/Indicators/getIndicatorButtonStyles.ts
  packages/blade/src/components/Carousel/Indicators/types.ts
  packages/blade/src/components/Carousel/NavigationButton/NavigationButton.tsx
  packages/blade/src/components/Carousel/NavigationButton/StyledNavigationButton.native.tsx
  packages/blade/src/components/Carousel/NavigationButton/StyledNavigationButton.web.tsx
  packages/blade/src/components/Carousel/NavigationButton/getNavigationButtonStyles.ts
  packages/blade/src/components/Carousel/NavigationButton/index.ts
  packages/blade/src/components/Carousel/NavigationButton/types.ts
  packages/blade/src/components/Carousel/__tests__/Carousel.native.test.tsx
  packages/blade/src/components/Carousel/__tests__/Carousel.ssr.test.tsx
  packages/blade/src/components/Carousel/__tests__/Carousel.web.test.tsx
  packages/blade/src/components/Carousel/__tests__/__snapshots__/Carousel.native.test.tsx.snap
  packages/blade/src/components/Carousel/__tests__/__snapshots__/Carousel.ssr.test.tsx.snap
  packages/blade/src/components/Carousel/__tests__/__snapshots__/Carousel.web.test.tsx.snap
  packages/blade/src/components/Carousel/_decisions/decisions.md
  packages/blade/src/components/Carousel/constants.ts
  packages/blade/src/components/Carousel/index.ts
  packages/blade/src/components/Carousel/types.ts
  packages/blade/src/components/Carousel/utils.ts
  packages/blade/src/components/index.ts
  packages/blade/src/utils/index.ts
  packages/blade/src/utils/metaAttribute/metaConstants.ts
  packages/blade/src/utils/useInterval.ts
Labels: Review - L2

#1552 chore: make accordion min-width 360px for large screens
  .changeset/cuddly-falcons-study.md
  packages/blade/src/components/Accordion/Accordion.tsx
  packages/blade/src/components/Accordion/__tests__/__snapshots__/Accordion.native.test.tsx.snap
  packages/blade/src/components/Accordion/__tests__/__snapshots__/Accordion.ssr.test.tsx.snap
  packages/blade/src/components/Accordion/__tests__/__snapshots__/Accordion.web.test.tsx.snap
Labels: P0

#1551 feat: add large size to List component
  .changeset/lovely-icons-beg.md
  packages/blade/src/components/List/List.stories.tsx
  packages/blade/src/components/List/List.tsx
  packages/blade/src/components/List/__tests__/List.native.test.tsx
  packages/blade/src/components/List/__tests__/List.web.test.tsx
  packages/blade/src/components/List/__tests__/__snapshots__/List.native.test.tsx.snap
  packages/blade/src/components/List/__tests__/__snapshots__/List.web.test.tsx.snap
  packages/blade/src/components/List/listTokens.ts
Labels: P0

#1558 refactor(blade): remove useBladeInnerRef
  .changeset/weak-moles-smile.md
  packages/blade/src/components/BottomSheet/BottomSheetCommon.tsx
  packages/blade/src/components/Button/BaseButton/BaseButton.tsx
  packages/blade/src/components/Button/Button/Button.stories.tsx
  packages/blade/src/components/Button/Button/Button.tsx
  packages/blade/src/components/Button/IconButton/IconButton.tsx
  packages/blade/src/components/Checkbox/Checkbox.stories.tsx
  packages/blade/src/components/Checkbox/Checkbox.tsx
  packages/blade/src/components/Form/Selector/SelectorInput.native.tsx
  packages/blade/src/components/Form/Selector/SelectorInput.web.tsx
  packages/blade/src/components/Input/BaseInput/BaseInput.tsx
  packages/blade/src/components/Input/OTPInput/OTPInput.tsx
  packages/blade/src/components/Input/PasswordInput/PasswordInput.stories.tsx
  packages/blade/src/components/Input/PasswordInput/PasswordInput.tsx
  packages/blade/src/components/Input/SelectInput/SelectInput.tsx
  packages/blade/src/components/Input/TextArea/TextArea.stories.tsx
  packages/blade/src/components/Input/TextArea/TextArea.tsx
  packages/blade/src/components/Input/TextArea/__tests__/TextArea.native.test.tsx
  packages/blade/src/components/Input/TextInput/TextInput.stories.tsx
  packages/blade/src/components/Input/TextInput/TextInput.tsx
  packages/blade/src/components/Radio/Radio.stories.tsx
  packages/blade/src/components/Radio/Radio.tsx
  packages/blade/src/utils/types.ts
  packages/blade/src/utils/useBladeInnerRef/__tests__/useBladeInnerRef.native.test.tsx
  packages/blade/src/utils/useBladeInnerRef/__tests__/useBladeInnerRef.web.test.tsx
  packages/blade/src/utils/useBladeInnerRef/index.ts
  packages/blade/src/utils/useBladeInnerRef/useBladeInnerRef.native.ts
  packages/blade/src/utils/useBladeInnerRef/useBladeInnerRef.web.ts
  packages/blade/src/utils/useMergeRefs.ts
Labels: Review - L2

#1554 docs: added interactive cards api
  packages/blade/src/components/Card/_decisions/interactive-cards.md
  packages/blade/src/components/Card/_decisions/selected-card.png
Labels: API Decisions

#1559 refactor(DropdownOverlay): remove custom overlay code and use floating ui
  .changeset/beige-steaks-exercise.md
  packages/blade/src/components/Dropdown/Dropdown.tsx
  packages/blade/src/components/Dropdown/DropdownOverlay.web.tsx
  packages/blade/src/components/Dropdown/__tests__/Dropdown.ssr.test.tsx
  packages/blade/src/components/Dropdown/__tests__/Dropdown.web.test.tsx
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.ssr.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.web.test.tsx.snap
  packages/blade/src/components/Dropdown/docs/DropdownWithButton.stories.tsx
  packages/blade/src/components/Dropdown/docs/DropdownWithSelect.stories.tsx
  packages/blade/src/components/Dropdown/docs/_KitchenSink.Dropdown.stories.tsx
  packages/blade/src/components/Dropdown/docs/stories.ts
  packages/blade/src/components/Dropdown/types.ts
  packages/blade/src/components/Dropdown/useDropdown.ts
  packages/blade/src/components/Input/BaseInput/BaseInput.tsx
  packages/blade/src/components/Input/BaseInput/BaseInputWrapper.tsx
  packages/blade/src/components/Input/SelectInput/SelectInput.tsx
  packages/blade/src/tokens/global/size.ts
Labels: Review - L2

#1538 feat: add new `Chip` and `ChipGroup` components
  .changeset/bright-zoos-drive.md
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.ssr.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.web.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.ssr.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.web.test.tsx.snap
  packages/blade/src/components/Chip/AnimatedChip.native.tsx
  packages/blade/src/components/Chip/AnimatedChip.web.tsx
  packages/blade/src/components/Chip/Chip.stories.tsx
  packages/blade/src/components/Chip/Chip.tsx
  packages/blade/src/components/Chip/ChipGroup.stories.tsx
  packages/blade/src/components/Chip/ChipGroup.tsx
  packages/blade/src/components/Chip/ChipGroupContext.tsx
  packages/blade/src/components/Chip/StyledChipWrapper.native.tsx
  packages/blade/src/components/Chip/StyledChipWrapper.web.tsx
  packages/blade/src/components/Chip/_KitchenSink.Chip.stories.tsx
  packages/blade/src/components/Chip/chipTokens.ts
  packages/blade/src/components/Chip/getAnimatedChipStyles.ts
  packages/blade/src/components/Chip/index.ts
  packages/blade/src/components/Chip/types.ts
  packages/blade/src/components/Chip/useChipGroup.ts
  packages/blade/src/components/Form/Selector/SelectorGroupField.tsx
  packages/blade/src/components/Form/Selector/SelectorInput.web.tsx
  packages/blade/src/components/Form/Selector/types.ts
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.ssr.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.web.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.ssr.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.web.test.tsx.snap
  packages/blade/src/components/Switch/__tests__/__snapshots__/Switch.ssr.test.tsx.snap
  packages/blade/src/components/Switch/__tests__/__snapshots__/Switch.web.test.tsx.snap
  packages/blade/src/components/index.ts
  packages/blade/src/tokens/global/border.ts
  packages/blade/src/utils/metaAttribute/metaConstants.ts
  packages/blade/src/utils/storybook/StoryPageWrapper.tsx
Labels: Review - L2

#1547 test: add tests for `Chip` and `ChipGroup` components
  packages/blade/src/components/Chip/__tests__/Chip.native.test.tsx
  packages/blade/src/components/Chip/__tests__/Chip.ssr.test.tsx
  packages/blade/src/components/Chip/__tests__/Chip.web.test.tsx
  packages/blade/src/components/Chip/__tests__/ChipGroup.native.test.tsx
  packages/blade/src/components/Chip/__tests__/ChipGroup.ssr.test.tsx
  packages/blade/src/components/Chip/__tests__/ChipGroup.web.test.tsx
  packages/blade/src/components/Chip/__tests__/__snapshots__/Chip.native.test.tsx.snap
  packages/blade/src/components/Chip/__tests__/__snapshots__/Chip.ssr.test.tsx.snap
  packages/blade/src/components/Chip/__tests__/__snapshots__/Chip.web.test.tsx.snap
  packages/blade/src/components/Chip/__tests__/__snapshots__/ChipGroup.native.test.tsx.snap
  packages/blade/src/components/Chip/__tests__/__snapshots__/ChipGroup.ssr.test.tsx.snap
  packages/blade/src/components/Chip/__tests__/__snapshots__/ChipGroup.web.test.tsx.snap
Labels: Review - L2

#1569 fix(RadioGroup): use `radiogroup` as a11y role
  packages/blade/src/components/Radio/RadioGroup/RadioGroup.tsx
  packages/blade/src/components/Radio/__tests__/Radio.ssr.test.tsx
  packages/blade/src/components/Radio/__tests__/RadioGroup.web.test.tsx
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.ssr.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.web.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.ssr.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.web.test.tsx.snap
Labels: Review - L2

#1593 fix(blade): fixed link overlay not working when wrapper is relative
  .changeset/wicked-pugs-promise.md
  packages/blade/src/components/Card/Card.tsx
  packages/blade/src/components/Card/CardRoot.web.tsx
  packages/blade/src/components/Card/LinkOverlay.web.tsx
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.ssr.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.web.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/CardInteractive.web.test.tsx.snap
  packages/blade/src/components/Card/constants.ts
Labels: Review - L1
