Repository razorpay/blade, pull requests merged in 2023-01, with the labels that each got.

#934 fix: remove `maxWidth` from Badge
  .changeset/wild-papayas-shave.md
  packages/blade/src/components/Badge/Badge.tsx
  packages/blade/src/components/Badge/__tests__/__snapshots__/Badge.native.test.tsx.snap
  packages/blade/src/components/Badge/__tests__/__snapshots__/Badge.ssr.test.tsx.snap
  packages/blade/src/components/Badge/__tests__/__snapshots__/Badge.web.test.tsx.snap
  packages/blade/src/components/Badge/badgeTokens.ts
  packages/blade/src/components/Badge/getStyledBadgeStyles.ts
  packages/blade/src/components/Badge/types.ts
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.native.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.ssr.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.web.test.tsx.snap
Labels: Review - L1

#926 fix(blade): restrict childrens in Card component
  .changeset/empty-pots-shout.md
  packages/blade/src/components/Card/Card.tsx
  packages/blade/src/components/Card/CardContext.tsx
  packages/blade/src/components/Card/CardFooter.tsx
  packages/blade/src/components/Card/CardHeader.tsx
  packages/blade/src/components/Card/__tests__/Card.native.test.tsx
  packages/blade/src/components/Card/__tests__/Card.web.test.tsx
Labels: Review - L2

#941 feat(icons): added new icons - settlements, book, user, tag and shuffle
  .changeset/grumpy-mirrors-itch.md
  packages/blade/src/components/Icons/BookIcon/BookIcon.native.test.tsx
  packages/blade/src/components/Icons/BookIcon/BookIcon.tsx
  packages/blade/src/components/Icons/BookIcon/BookIcon.web.test.tsx
  packages/blade/src/components/Icons/BookIcon/__snapshots__/BookIcon.native.test.tsx.snap
  packages/blade/src/components/Icons/BookIcon/__snapshots__/BookIcon.web.test.tsx.snap
  packages/blade/src/components/Icons/BookIcon/index.ts
  packages/blade/src/components/Icons/SettlementsIcon/SettlementsIcon.native.test.tsx
  packages/blade/src/components/Icons/SettlementsIcon/SettlementsIcon.tsx
  packages/blade/src/components/Icons/SettlementsIcon/SettlementsIcon.web.test.tsx
  packages/blade/src/components/Icons/SettlementsIcon/__snapshots__/SettlementsIcon.native.test.tsx.snap
  packages/blade/src/components/Icons/SettlementsIcon/__snapshots__/SettlementsIcon.web.test.tsx.snap
  packages/blade/src/components/Icons/SettlementsIcon/index.ts
  packages/blade/src/components/Icons/ShuffleIcon/ShuffleIcon.native.test.tsx
  packages/blade/src/components/Icons/ShuffleIcon/ShuffleIcon.tsx
  packages/blade/src/components/Icons/ShuffleIcon/ShuffleIcon.web.test.tsx
  packages/blade/src/components/Icons/ShuffleIcon/__snapshots__/ShuffleIcon.native.test.tsx.snap
  packages/blade/src/components/Icons/ShuffleIcon/__snapshots__/ShuffleIcon.web.test.tsx.snap
  packages/blade/src/components/Icons/ShuffleIcon/index.ts
  packages/blade/src/components/Icons/TagIcon/TagIcon.native.test.tsx
  packages/blade/src/components/Icons/TagIcon/TagIcon.tsx
  packages/blade/src/components/Icons/TagIcon/TagIcon.web.test.tsx
  packages/blade/src/components/Icons/TagIcon/__snapshots__/TagIcon.native.test.tsx.snap
  packages/blade/src/components/Icons/TagIcon/__snapshots__/TagIcon.web.test.tsx.snap
  packages/blade/src/components/Icons/TagIcon/index.ts
  packages/blade/src/components/Icons/UserIcon/UserIcon.native.test.tsx
  packages/blade/src/components/Icons/UserIcon/UserIcon.tsx
  packages/blade/src/components/Icons/UserIcon/UserIcon.web.test.tsx
  packages/blade/src/components/Icons/UserIcon/__snapshots__/UserIcon.native.test.tsx.snap
  packages/blade/src/components/Icons/UserIcon/__snapshots__/UserIcon.web.test.tsx.snap
  packages/blade/src/components/Icons/UserIcon/index.ts
  packages/blade/src/components/Icons/iconMap.ts
  packages/blade/src/components/Icons/index.tsx
Labels: Review - L2

#942 fix(blade): TextInput clear button state
  .changeset/shaggy-pigs-warn.md
  packages/blade/src/components/Input/TextArea/TextArea.tsx
  packages/blade/src/components/Input/TextInput/TextInput.tsx
  packages/blade/src/components/Input/TextInput/__tests__/TextInput.native.test.tsx
  packages/blade/src/components/Input/TextInput/__tests__/TextInput.web.test.tsx
Labels: Review - L1

#936 chore: design changes for Badge, Counter, Spinner
  .changeset/purple-crabs-enjoy.md
  packages/blade/src/components/Badge/Badge.tsx
  packages/blade/src/components/Badge/__tests__/__snapshots__/Badge.native.test.tsx.snap
  packages/blade/src/components/Badge/__tests__/__snapshots__/Badge.web.test.tsx.snap
  packages/blade/src/components/Counter/Counter.tsx
  packages/blade/src/components/Counter/__tests__/__snapshots__/Counter.native.test.tsx.snap
  packages/blade/src/components/Counter/__tests__/__snapshots__/Counter.web.test.tsx.snap
  packages/blade/src/components/Spinner/BaseSpinner/BaseSpinner.tsx
  packages/blade/src/components/Spinner/BaseSpinner/__tests__/__snapshots__/BaseSpinner.native.test.tsx.snap
  packages/blade/src/components/Spinner/BaseSpinner/__tests__/__snapshots__/BaseSpinner.web.test.tsx.snap
  packages/blade/src/components/Spinner/Spinner/Spinner.stories.tsx
  packages/blade/src/components/Spinner/Spinner/__tests__/__snapshots__/Spinner.native.test.tsx.snap
  packages/blade/src/components/Spinner/Spinner/__tests__/__snapshots__/Spinner.ssr.test.tsx.snap
  packages/blade/src/components/Spinner/Spinner/__tests__/__snapshots__/Spinner.web.test.tsx.snap
  packages/blade/src/components/Typography/Text/Text.tsx
Labels: Review - L1

#949 feat: added ref support for input components
  .changeset/seven-comics-sneeze.md
  examples/with-react-hook-form/.eslintrc
  examples/with-react-hook-form/package.json
  examples/with-react-hook-form/public/index.html
  examples/with-react-hook-form/src/App.tsx
  examples/with-react-hook-form/src/index.tsx
  examples/with-react-hook-form/src/react-app-env.d.ts
  examples/with-react-hook-form/tsconfig.json
  examples/with-react-hook-form/yarn.lock
  packages/blade/src/components/Button/BaseButton/BaseButton.tsx
  packages/blade/src/components/Button/BaseButton/StyledBaseButton.native.tsx
  packages/blade/src/components/Button/Button/Button.tsx
  packages/blade/src/components/Button/Button/__tests__/Button.native.test.tsx
  packages/blade/src/components/Button/Button/__tests__/Button.web.test.tsx
  packages/blade/src/components/Checkbox/Checkbox.tsx
  packages/blade/src/components/Checkbox/__tests__/Checkbox.native.test.tsx
  packages/blade/src/components/Checkbox/__tests__/Checkbox.web.test.tsx
  packages/blade/src/components/Form/Selector/SelectorInput.native.tsx
  packages/blade/src/components/Form/Selector/SelectorInput.web.tsx
  packages/blade/src/components/Input/PasswordInput/PasswordInput.tsx
  packages/blade/src/components/Input/PasswordInput/__tests__/PasswordInput.native.test.tsx
  packages/blade/src/components/Input/PasswordInput/__tests__/PasswordInput.web.test.tsx
  packages/blade/src/components/Input/TextArea/TextArea.tsx
  packages/blade/src/components/Input/TextArea/__tests__/TextArea.native.test.tsx
  packages/blade/src/components/Input/TextArea/__tests__/TextArea.web.test.tsx
  packages/blade/src/components/Input/TextInput/TextInput.tsx
  packages/blade/src/components/Input/TextInput/__tests__/TextInput.native.test.tsx
  packages/blade/src/components/Input/TextInput/__tests__/TextInput.web.test.tsx
  packages/blade/src/components/Radio/Radio.tsx
  packages/blade/src/components/Radio/__tests__/Radio.native.test.tsx
  packages/blade/src/components/Radio/__tests__/Radio.web.test.tsx
  packages/blade/src/hooks/__tests__/useBladeInnerRef.native.test.tsx
  packages/blade/src/hooks/__tests__/useBladeInnerRef.web.test.tsx
  packages/blade/src/hooks/useBladeInnerRef.ts
Labels: Review - L1

#910 fix(Alert)!: fix typo in prop `isDismissible`
  .changeset/mighty-glasses-rhyme.md
  packages/blade/src/components/Alert/Alert.stories.tsx
  packages/blade/src/components/Alert/Alert.tsx
  packages/blade/src/components/Alert/_decisions/decisions.md
Labels: Breaking Change

#965 fix(blade): update BaseInput background color
  .changeset/cold-games-check.md
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.native.test.tsx.snap
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.web.test.tsx.snap
  packages/blade/src/components/Badge/__tests__/__snapshots__/Badge.native.test.tsx.snap
  packages/blade/src/components/Badge/__tests__/__snapshots__/Badge.ssr.test.tsx.snap
  packages/blade/src/components/Badge/__tests__/__snapshots__/Badge.web.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.native.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.web.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.native.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.ssr.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.web.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.native.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.web.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.web.test.tsx.snap
  packages/blade/src/components/Counter/__tests__/__snapshots__/Counter.native.test.tsx.snap
  packages/blade/src/components/Counter/__tests__/__snapshots__/Counter.ssr.test.tsx.snap
  packages/blade/src/components/Counter/__tests__/__snapshots__/Counter.web.test.tsx.snap
  packages/blade/src/components/Input/BaseInput/__tests__/__snapshots__/BaseInput.native.test.tsx.snap
  packages/blade/src/components/Input/BaseInput/__tests__/__snapshots__/BaseInput.web.test.tsx.snap
  packages/blade/src/components/Input/BaseInput/baseInputStyles.ts
  packages/blade/src/components/Input/OTPInput/__tests__/__snapshots__/OTPInput.native.test.tsx.snap
  packages/blade/src/components/Input/OTPInput/__tests__/__snapshots__/OTPInput.ssr.test.tsx.snap
  packages/blade/src/components/Input/OTPInput/__tests__/__snapshots__/OTPInput.web.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.native.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.web.test.tsx.snap
  packages/blade/src/components/Input/TextArea/__tests__/__snapshots__/TextArea.native.test.tsx.snap
  packages/blade/src/components/Input/TextArea/__tests__/__snapshots__/TextArea.ssr.test.tsx.snap
  packages/blade/src/components/Input/TextArea/__tests__/__snapshots__/TextArea.web.test.tsx.snap
  packages/blade/src/components/Input/TextInput/__tests__/__snapshots__/TextInput.native.test.tsx.snap
  packages/blade/src/components/Input/TextInput/__tests__/__snapshots__/TextInput.ssr.test.tsx.snap
  packages/blade/src/components/Input/TextInput/__tests__/__snapshots__/TextInput.web.test.tsx.snap
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.native.test.tsx.snap
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.ssr.test.tsx.snap
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.web.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.native.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.ssr.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.web.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.ssr.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.web.test.tsx.snap
  packages/blade/src/components/Spinner/BaseSpinner/__tests__/__snapshots__/BaseSpinner.native.test.tsx.snap
  packages/blade/src/components/Spinner/BaseSpinner/__tests__/__snapshots__/BaseSpinner.web.test.tsx.snap
  packages/blade/src/components/Typography/Code/__tests__/__snapshots__/Code.native.test.tsx.snap
  packages/blade/src/components/Typography/Code/__tests__/__snapshots__/Code.web.test.tsx.snap
  packages/blade/src/tokens/global/colors.ts
Labels: Review - L1

#976 chore: remove viewmode from storybook config
  packages/blade/.storybook/react/preview.js
Labels: Review - L1

#971 chore: added component status table
  packages/blade/.storybook/react/preview.js
  packages/blade/docs/guides/ComponentStatus.stories.mdx
  packages/blade/src/_helpers/storybook/ComponentStatusTable.tsx
  packages/blade/src/_helpers/storybook/LinkToStorybook.tsx
Labels: Review - L2
