Repository razorpay/blade, pull requests merged in 2023-07, with the labels that each got.

#1374 feat: add blue variant to Counter component & change intent to variant
  .changeset/light-cobras-switch.md
  packages/blade/src/components/BottomSheet/__tests__/BottomSheet.native.test.tsx
  packages/blade/src/components/BottomSheet/__tests__/BottomSheet.web.test.tsx
  packages/blade/src/components/Counter/Counter.stories.tsx
  packages/blade/src/components/Counter/Counter.tsx
  packages/blade/src/components/Counter/__tests__/Counter.native.test.tsx
  packages/blade/src/components/Counter/__tests__/Counter.web.test.tsx
  packages/blade/src/components/Counter/__tests__/__snapshots__/Counter.native.test.tsx.snap
  packages/blade/src/components/Counter/__tests__/__snapshots__/Counter.web.test.tsx.snap
  packages/blade/src/components/Counter/types.ts
  packages/blade/src/components/Modal/__tests__/Modal.web.test.tsx
  packages/blade/src/components/Modal/docs/stories.ts
Labels: Review - L2

#1406 fix(blade): bottomsheet ssr fix
  .changeset/wild-melons-change.md
  packages/blade/src/components/BottomSheet/__tests__/BottomSheet.ssr.test.tsx
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.ssr.test.tsx.snap
  packages/blade/src/utils/useWindowSize.ts
Labels: P0

#1391 docs(utils): add documentation for `useTheme`
  packages/blade/.storybook/react/preview.js
  packages/blade/docs/utils/useTheme.stories.mdx
  packages/blade/src/tokens/theme/overrideTheme.stories.tsx
  packages/blade/src/utils/index.ts
Labels: P0

#1378 fix: make OTPInput fluid width
  .changeset/great-dingos-sleep.md
  packages/blade/src/components/Input/OTPInput/OTPInput.tsx
  packages/blade/src/components/Input/OTPInput/__tests__/__snapshots__/OTPInput.native.test.tsx.snap
  packages/blade/src/components/Input/OTPInput/__tests__/__snapshots__/OTPInput.ssr.test.tsx.snap
  packages/blade/src/components/Input/OTPInput/__tests__/__snapshots__/OTPInput.web.test.tsx.snap
Labels: Review - L2, Breaking Change, P0

#1415 feat: standardise isRequired & necessityIndicator across `Checkbox`, `Radio` & `Input` components
  .changeset/strong-geckos-argue.md
  packages/blade/src/components/Checkbox/Checkbox.tsx
  packages/blade/src/components/Checkbox/CheckboxGroup.stories.tsx
  packages/blade/src/components/Checkbox/CheckboxGroup/CheckboxGroup.tsx
  packages/blade/src/components/Checkbox/CheckboxGroup/CheckboxGroupContext.ts
  packages/blade/src/components/Checkbox/CheckboxGroup/useCheckboxGroup.ts
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.native.test.tsx.snap
  packages/blade/src/components/Input/BaseInput/BaseInput.tsx
  packages/blade/src/components/Radio/Radio.stories.tsx
  packages/blade/src/components/Radio/Radio.tsx
  packages/blade/src/components/Radio/RadioGroup/RadioContext.tsx
  packages/blade/src/components/Radio/RadioGroup/RadioGroup.tsx
  packages/blade/src/components/Radio/RadioGroup/useRadioGroup.ts
Labels: P0

#1412 feat: add FAQ section
  packages/blade/docs/guides/FAQ.stories.mdx
  packages/blade/src/utils/isValidAllowedChildren/isValidAllowedChildren.ts
Labels: Review - L2

#1426 fix: collapsible arrow orientation when direction is top
  .changeset/fair-trainers-dance.md
  packages/blade/src/components/Collapsible/CollapsibleChevronIcon.native.tsx
  packages/blade/src/components/Collapsible/CollapsibleChevronIcon.web.tsx
  packages/blade/src/components/Collapsible/commonStyles.ts
Labels: P0

#1393 docs(utils): add docs for `make*` utils
  packages/blade/.storybook/react/preview.js
  packages/blade/docs/tokens/Border.stories.mdx
  packages/blade/docs/tokens/Motion.stories.mdx
  packages/blade/docs/tokens/Spacing.stories.mdx
  packages/blade/docs/tokens/Typography.stories.mdx
  packages/blade/docs/utils/makeBorderSize.stories.mdx
  packages/blade/docs/utils/makeMotionTime.stories.mdx
  packages/blade/docs/utils/makeSize.stories.mdx
  packages/blade/docs/utils/makeSpace.stories.mdx
  packages/blade/docs/utils/makeTypographySize.stories.mdx
Labels: P0

#1432 feat: add analytics for tracking usage
  packages/plugin-figma-blade-coverage/.gitignore
  packages/plugin-figma-blade-coverage/build-figma-plugin.main.js
  packages/plugin-figma-blade-coverage/build-figma-plugin.manifest.js
  packages/plugin-figma-blade-coverage/build-figma-plugin.ui.js
  packages/plugin-figma-blade-coverage/manifest.json
  packages/plugin-figma-blade-coverage/package.json
  packages/plugin-figma-blade-coverage/src/main.ts
  packages/plugin-figma-blade-coverage/src/utils/sendAnalytics.ts
  packages/plugin-figma-blade-coverage/yarn.lock
Labels: Review - L1

#1315 docs(Tag): Tags API Decision
  packages/blade/src/components/Tag/_decisions/decisions.md
Labels: API Decisions

#1433 feat: prioritise bottomsheet controlled state over dropdown
  .changeset/nice-goats-work.md
  packages/blade/src/components/BottomSheet/BottomSheet.native.tsx
  packages/blade/src/components/BottomSheet/BottomSheet.web.tsx
Labels: Review - L1

#1439 feat(Box, Typography): expose brand colors
  .changeset/lovely-seals-rush.md
  packages/blade/src/components/Box/BaseBox/types/propsTypes.ts
  packages/blade/src/components/Box/Box.stories.tsx
  packages/blade/src/components/Box/Box.tsx
  packages/blade/src/components/Box/__tests__/Box.native.test.tsx
  packages/blade/src/components/Box/__tests__/Box.ssr.test.tsx
  packages/blade/src/components/Box/__tests__/Box.web.test.tsx
  packages/blade/src/components/Typography/BaseText/types.ts
  packages/blade/src/components/Typography/Heading/Heading.stories.tsx
  packages/blade/src/components/Typography/Text/Text.stories.tsx
  packages/blade/src/components/Typography/Title/Title.stories.tsx
Labels: Review - L1

#1379 docs(blade): added Skeleton API
  packages/blade/src/components/Skeleton/_decisions/decisions.md
  packages/blade/src/components/Skeleton/_decisions/mui-skeleton-dim-inference.png
  packages/blade/src/components/Skeleton/_decisions/real-usage-demo-after.png
  packages/blade/src/components/Skeleton/_decisions/real-usage-demo-before.png
  packages/blade/src/components/Skeleton/_decisions/skeleton-motion.mov
  packages/blade/src/components/Skeleton/_decisions/skeleton-thumbnail.png
  packages/blade/src/components/Skeleton/_decisions/skeleton-usage-demo-1.png
  packages/blade/src/components/Skeleton/_decisions/skeleton-usage-demo-2.png
Labels: Review - L2

#1440 feat: add support for ListItemText within List
  .changeset/orange-tables-give.md
  packages/blade/src/components/List/List.stories.tsx
  packages/blade/src/components/List/List.tsx
  packages/blade/src/components/List/ListItem.tsx
  packages/blade/src/components/List/ListItemCode.tsx
  packages/blade/src/components/List/ListItemLink.tsx
  packages/blade/src/components/List/ListItemText.tsx
  packages/blade/src/components/List/__tests__/List.native.test.tsx
  packages/blade/src/components/List/__tests__/List.web.test.tsx
  packages/blade/src/components/List/__tests__/__snapshots__/List.native.test.tsx.snap
  packages/blade/src/components/List/__tests__/__snapshots__/List.web.test.tsx.snap
  packages/blade/src/components/List/listTokens.ts
  packages/blade/src/utils/metaAttribute/metaConstants.ts
Labels: Review - L1

#1437 fix(Card): add margin between `CardHeaderLeading` & `CardHeaderTrailing`
  .changeset/dry-comics-hammer.md
  packages/blade/src/components/Card/CardHeader.tsx
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.native.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.ssr.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.web.test.tsx.snap
Labels: Review - L1

#1398 feat(blade): added Skeleton Component
  .changeset/wise-adults-push.md
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/src/components/Accordion/__tests__/__snapshots__/Accordion.native.test.tsx.snap
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.native.test.tsx.snap
  packages/blade/src/components/Badge/__tests__/__snapshots__/Badge.native.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.native.test.tsx.snap
  packages/blade/src/components/Box/BaseBox/BaseBox.native.tsx
  packages/blade/src/components/Box/BaseBox/baseBoxStyles.ts
  packages/blade/src/components/Box/BaseBox/types/propsTypes.ts
  packages/blade/src/components/Box/Box.tsx
  packages/blade/src/components/Box/__tests__/BaseBox.native.test.tsx
  packages/blade/src/components/Box/__tests__/__snapshots__/BaseBox.native.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.native.test.tsx.snap
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.native.test.tsx.snap
  packages/blade/src/components/Card/CardSurface.native.tsx
  packages/blade/src/components/Card/CardSurface.web.tsx
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.native.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.ssr.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.web.test.tsx.snap
  packages/blade/src/components/Collapsible/__tests__/__snapshots__/Collapsible.native.test.tsx.snap
  packages/blade/src/components/Counter/__tests__/__snapshots__/Counter.native.test.tsx.snap
  packages/blade/src/components/Divider/__tests__/__snapshots__/Divider.native.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.native.test.tsx.snap
  packages/blade/src/components/Input/BaseInput/__tests__/__snapshots__/BaseInput.native.test.tsx.snap
  packages/blade/src/components/Input/OTPInput/__tests__/__snapshots__/OTPInput.native.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.native.test.tsx.snap
  packages/blade/src/components/Input/TextArea/__tests__/__snapshots__/TextArea.native.test.tsx.snap
  packages/blade/src/components/Input/TextInput/__tests__/__snapshots__/TextInput.native.test.tsx.snap
  packages/blade/src/components/List/__tests__/__snapshots__/List.native.test.tsx.snap
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.native.test.tsx.snap
  packages/blade/src/components/Skeleton/PulseAnimation.native.tsx
  packages/blade/src/components/Skeleton/PulseAnimation.web.tsx
  packages/blade/src/components/Skeleton/Skeleton.stories.tsx
  packages/blade/src/components/Skeleton/Skeleton.tsx
  packages/blade/src/components/Skeleton/__tests__/Skeleton.native.test.tsx
  packages/blade/src/components/Skeleton/__tests__/Skeleton.ssr.test.tsx
  packages/blade/src/components/Skeleton/__tests__/Skeleton.web.test.tsx
  packages/blade/src/components/Skeleton/__tests__/__snapshots__/Skeleton.native.test.tsx.snap
  packages/blade/src/components/Skeleton/__tests__/__snapshots__/Skeleton.ssr.test.tsx.snap
  packages/blade/src/components/Skeleton/__tests__/__snapshots__/Skeleton.web.test.tsx.snap
  packages/blade/src/components/Skeleton/index.ts
  packages/blade/src/components/Skeleton/types.ts
  packages/blade/src/components/Switch/__tests__/__snapshots__/Switch.native.test.tsx.snap
  packages/blade/src/components/Tooltip/__tests__/__snapshots__/Tooltip.native.test.tsx.snap
  packages/blade/src/components/Typography/Code/__tests__/__snapshots__/Code.native.test.tsx.snap
  packages/blade/src/components/index.ts
  packages/blade/src/tokens/global/elevation/types.ts
  packages/blade/src/utils/metaAttribute/metaConstants.ts
Labels: Review - L1

#1445 fix: add border-style when border width or color is set
  .changeset/tough-cherries-hope.md
  packages/blade/src/components/Box/BaseBox/baseBoxStyles.ts
Labels: P0

#1434 fix(Input): correct helpText and input box alignment
  .changeset/dull-planes-walk.md
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.native.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.ssr.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.web.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.native.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.ssr.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.web.test.tsx.snap
  packages/blade/src/components/Form/FormLabel.tsx
  packages/blade/src/components/Input/BaseInput/__tests__/__snapshots__/BaseInput.native.test.tsx.snap
  packages/blade/src/components/Input/BaseInput/__tests__/__snapshots__/BaseInput.ssr.test.tsx.snap
  packages/blade/src/components/Input/BaseInput/__tests__/__snapshots__/BaseInput.web.test.tsx.snap
  packages/blade/src/components/Input/OTPInput/__tests__/__snapshots__/OTPInput.native.test.tsx.snap
  packages/blade/src/components/Input/OTPInput/__tests__/__snapshots__/OTPInput.ssr.test.tsx.snap
  packages/blade/src/components/Input/OTPInput/__tests__/__snapshots__/OTPInput.web.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.native.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.ssr.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.web.test.tsx.snap
  packages/blade/src/components/Input/TextArea/__tests__/__snapshots__/TextArea.native.test.tsx.snap
  packages/blade/src/components/Input/TextArea/__tests__/__snapshots__/TextArea.ssr.test.tsx.snap
  packages/blade/src/components/Input/TextArea/__tests__/__snapshots__/TextArea.web.test.tsx.snap
  packages/blade/src/components/Input/TextInput/__tests__/__snapshots__/TextInput.native.test.tsx.snap
  packages/blade/src/components/Input/TextInput/__tests__/__snapshots__/TextInput.ssr.test.tsx.snap
  packages/blade/src/components/Input/TextInput/__tests__/__snapshots__/TextInput.web.test.tsx.snap
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.native.test.tsx.snap
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.web.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.native.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.ssr.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.web.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.native.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.ssr.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.web.test.tsx.snap
Labels: Review - L1

#1361 feat(Tag): add Tag component
  .changeset/shiny-deers-rescue.md
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/src/components/Button/IconButton/IconButton.tsx
  packages/blade/src/components/Button/IconButton/StyledIconButton.native.tsx
  packages/blade/src/components/Button/IconButton/StyledIconButton.web.tsx
  packages/blade/src/components/Button/IconButton/types.ts
  packages/blade/src/components/Card/CardFooter.tsx
  packages/blade/src/components/Dropdown/docs/stories.ts
  packages/blade/src/components/Tag/Tag.stories.tsx
  packages/blade/src/components/Tag/Tag.tsx
  packages/blade/src/components/Tag/__tests__/Tag.native.test.tsx
  packages/blade/src/components/Tag/__tests__/Tag.ssr.test.tsx
  packages/blade/src/components/Tag/__tests__/Tag.web.test.tsx
  packages/blade/src/components/Tag/__tests__/__snapshots__/Tag.native.test.tsx.snap
  packages/blade/src/components/Tag/__tests__/__snapshots__/Tag.ssr.test.tsx.snap
  packages/blade/src/components/Tag/__tests__/__snapshots__/Tag.web.test.tsx.snap
  packages/blade/src/components/Tag/index.ts
  packages/blade/src/components/index.ts
  packages/blade/src/utils/metaAttribute/metaConstants.ts
  packages/blade/src/utils/types.ts
  packages/blade/src/utils/useIsMobile.ts
Labels: Review - L2

#1472 feat(Input): make `label` prop optional & add `accessibilityLabel` prop
  .changeset/nervous-chicken-explain.md
  packages/blade/src/components/Form/FormLabel.tsx
  packages/blade/src/components/Input/BaseInput/BaseInput.tsx
  packages/blade/src/components/Input/OTPInput/OTPInput.stories.tsx
  packages/blade/src/components/Input/OTPInput/OTPInput.tsx
  packages/blade/src/components/Input/PasswordInput/PasswordInput.stories.tsx
  packages/blade/src/components/Input/PasswordInput/PasswordInput.tsx
  packages/blade/src/components/Input/SelectInput/SelectInput.stories.tsx
  packages/blade/src/components/Input/SelectInput/SelectInput.tsx
  packages/blade/src/components/Input/TextArea/TextArea.stories.tsx
  packages/blade/src/components/Input/TextArea/TextArea.tsx
  packages/blade/src/components/Input/TextInput/TextInput.stories.tsx
  packages/blade/src/components/Input/TextInput/TextInput.tsx
Labels: Review - L2

#1482 feat: add zIndex prop for Modal
  .changeset/cyan-bottles-prove.md
  packages/blade/src/components/Modal/Modal.web.tsx
  packages/blade/src/components/Modal/__tests__/Modal.web.test.tsx
  packages/blade/src/components/Modal/docs/ModalDocs.tsx
Labels: P0

#1461 feat: strip off logs & errors in production builds
  .changeset/eight-wasps-smell.md
  packages/blade/.storybook/react/main.js
  packages/blade/jest.web.config.js
  packages/blade/package.json
  packages/blade/rollup.config.js
  packages/blade/src/components/Accordion/AccordionButton.native.tsx
  packages/blade/src/components/Accordion/AccordionButton.web.tsx
  packages/blade/src/components/Accordion/AccordionContext.tsx
  packages/blade/src/components/ActionList/ActionList.tsx
  packages/blade/src/components/ActionList/ActionListItem.tsx
  packages/blade/src/components/ActionList/actionListUtils.ts
  packages/blade/src/components/Alert/Alert.tsx
  packages/blade/src/components/Amount/Amount.tsx
  packages/blade/src/components/Badge/Badge.tsx
  packages/blade/src/components/BaseHeaderFooter/BaseHeader.tsx
  packages/blade/src/components/BladeProvider/useBladeProvider.ts
  packages/blade/src/components/BladeProvider/useTheme.ts
  packages/blade/src/components/Box/Box.tsx
  packages/blade/src/components/Button/BaseButton/BaseButton.tsx
  packages/blade/src/components/Card/CardContext.tsx
  packages/blade/src/components/Card/CardFooter.tsx
  packages/blade/src/components/Card/CardHeader.tsx
  packages/blade/src/components/Checkbox/Checkbox.tsx
  packages/blade/src/components/Checkbox/useCheckbox.ts
  packages/blade/src/components/Collapsible/Collapsible.tsx
  packages/blade/src/components/Collapsible/CollapsibleContext.ts
  packages/blade/src/components/Dropdown/Dropdown.tsx
  packages/blade/src/components/Input/BaseInput/BaseInput.tsx
  packages/blade/src/components/Link/BaseLink/BaseLink.tsx
  packages/blade/src/components/List/List.tsx
  packages/blade/src/components/List/ListItem.tsx
  packages/blade/src/components/Modal/Modal.web.tsx
  packages/blade/src/components/ProgressBar/ProgressBar.tsx
  packages/blade/src/components/Radio/Radio.tsx
  packages/blade/src/components/Radio/useRadio.ts
  packages/blade/src/components/Tooltip/TooltipContext.ts
  packages/blade/src/components/Typography/Code/Code.tsx
  packages/blade/src/components/Typography/Heading/Heading.tsx
  packages/blade/src/components/Typography/Text/Text.tsx
  packages/blade/src/components/Typography/utils.ts
  packages/blade/src/tokens/theme/overrideTheme.ts
  packages/blade/src/utils/isPartialMatchObjectKeys/isPartialMatchObjectKeys.ts
  packages/blade/src/utils/useColorScheme/useColorScheme.ts
  yarn.lock
Labels: Review - L2
