Repository razorpay/blade, pull requests merged in 2023-10, with the labels that each got.

#1689 fix(AutoComplete): hide ActionListSection when items are filtered out
  .changeset/nervous-books-sniff.md
  packages/blade/src/components/ActionList/ActionListItem.tsx
  packages/blade/src/components/ActionList/actionListUtils.ts
  packages/blade/src/components/ActionList/docs/propsTable.tsx
  packages/blade/src/components/Input/DropdownInputTriggers/AutoComplete.stories.tsx
Labels: Review - L1, P0

#1678 feat: support `brand*` colors on Icon and borderColor
  .changeset/fair-jobs-poke.md
  packages/blade/src/components/Box/BaseBox/types/propsTypes.ts
  packages/blade/src/components/Chip/Chip.tsx
  packages/blade/src/components/Icons/index.tsx
Labels: Review - L1

#1635 fix(Tooltip): prevent overriding the `aria-label` attribute
  packages/blade/src/components/Tooltip/Tooltip.web.tsx
  packages/blade/src/components/Tooltip/__tests__/Tooltip.web.test.tsx
  packages/blade/src/components/Tooltip/__tests__/__snapshots__/Tooltip.web.test.tsx.snap
Labels: Review - L2

#1703 fix(Input): ensure correct value passing for trailingFooterSlot & trailingHeaderSlot
  .changeset/popular-mangos-relate.md
  packages/blade/src/components/Input/BaseInput/BaseInput.tsx
Labels: Review - L1

#1702 feat(Box): add `transform`, `transformOrigin`, `clipPath`, `opacity`, & `visibility` props
  .changeset/rich-baboons-dream.md
  packages/blade/src/components/Box/BaseBox/baseBoxStyles.ts
  packages/blade/src/components/Box/BaseBox/types/propsTypes.ts
  packages/blade/src/components/Box/Box.stories.tsx
  packages/blade/src/components/Box/Box.tsx
Labels: Review - L2

#1693 docs(blade): Tabs API Decisions
  packages/blade/src/components/Tabs/_decisions/decisions.md
  packages/blade/src/components/Tabs/_decisions/example-1.png
  packages/blade/src/components/Tabs/_decisions/example-2.png
  packages/blade/src/components/Tabs/_decisions/example-3.png
  packages/blade/src/components/Tabs/_decisions/example-4.png
  packages/blade/src/components/Tabs/_decisions/tabs-anatomy.png
  packages/blade/src/components/Tabs/_decisions/tabs-motion.mov
  packages/blade/src/components/Tabs/_decisions/tabs-thumbnail.png
Labels: Review - L2

#1728 fix(Alert): correct color prop behavior
  .changeset/moody-ads-bow.md
  packages/blade/src/components/Alert/Alert.tsx
  packages/blade/src/components/Alert/__tests__/Alert.native.test.tsx
  packages/blade/src/components/Alert/__tests__/Alert.web.test.tsx
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.native.test.tsx.snap
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.web.test.tsx.snap
  packages/blade/src/components/Alert/styles.ts
  packages/blade/src/components/Alert/types.ts
Labels: Review - L1, P0

#1718 test: stabelize flaky snapshots
  packages/blade/src/components/BottomSheet/__tests__/BottomSheet.web.test.tsx
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.web.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/AutoComplete.web.test.tsx
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.web.test.tsx.snap
Labels: Review - L2

#1714 fix(Autocomplete): enhance input handling for controlled scenarios
  .changeset/breezy-turtles-love.md
  packages/blade/src/components/Input/DropdownInputTriggers/AutoComplete.tsx
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/AutoComplete.web.test.tsx
Labels: Review - L2

#1736 fix(checkbox): fixed alignment issue
  .changeset/four-rocks-rhyme.md
  packages/blade/src/components/Checkbox/Checkbox.tsx
  packages/blade/src/components/Checkbox/CheckboxIcon/CheckboxIconWrapperStyles.ts
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.native.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.ssr.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.web.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.native.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.ssr.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.web.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.native.test.tsx.snap
Labels: Review - L2, hacktoberfest-accepted

#1647 docs: improve documentation aesthetics
  .changeset/tame-pens-explain.md
  README.md
  branding/blade-logo-name.min.svg
  branding/blade-logo-name.svg
  branding/blade-original-dark-mode.min.svg
  branding/blade-original.min.svg
  branding/blade-original.png
  branding/blade-original.svg
  branding/blade-white.svg
  branding/favicon.ico
  branding/logo.svg
  packages/blade/.storybook/react/manager-head.html
  packages/blade/.storybook/react/manager.js
  packages/blade/.storybook/react/preview-head.html
  packages/blade/.storybook/react/preview.js
  packages/blade/docs/guides/Intro.stories.mdx
  packages/blade/src/components/Box/Box.stories.tsx
  packages/blade/src/components/Button/IconButton/IconButton.stories.tsx
  packages/blade/src/components/Checkbox/CheckboxGroup.stories.tsx
  packages/blade/src/components/Divider/Divider.stories.tsx
  packages/blade/src/components/Icons/Icons.stories.tsx
  packages/blade/src/components/Input/DropdownInputTriggers/SelectInput.stories.tsx
  packages/blade/src/components/Input/OTPInput/OTPInput.stories.tsx
  packages/blade/src/components/Input/PasswordInput/PasswordInput.stories.tsx
  packages/blade/src/components/Input/TextArea/TextArea.stories.tsx
  packages/blade/src/components/Input/TextInput/TextInput.stories.tsx
  packages/blade/src/components/SkipNav/SkipNav.stories.tsx
  packages/blade/src/components/Typography/Code/Code.stories.tsx
  packages/blade/src/components/Typography/Display/Display.stories.tsx
  packages/blade/src/components/Typography/Heading/Heading.stories.tsx
  packages/blade/src/components/Typography/Text/Text.stories.tsx
  packages/blade/src/components/Typography/Title/Title.stories.tsx
  packages/blade/src/components/VisuallyHidden/VisuallyHidden.stories.tsx
  packages/blade/src/utils/storybook/StoryPageWrapper.tsx
Labels: Review - L2

#1729 fix(Dropdown): enhance tag selection handling
  .changeset/silver-keys-press.md
  packages/blade/src/components/Dropdown/__tests__/Dropdown.web.test.tsx
  packages/blade/src/components/Input/DropdownInputTriggers/BaseDropdownInputTrigger.tsx
Labels: Review - L2, P0

#1744 feat(Typography): accept `brand.secondary.500` as valid `color` prop
  .changeset/smooth-peaches-march.md
  packages/blade/src/components/Typography/BaseText/types.ts
Labels: Review - L1, P0

#1750 fix(blade): remove preventDefault in selector label
  .changeset/plenty-ligers-study.md
  packages/blade/src/components/Form/Selector/SelectorLabel.web.tsx
Labels: Review - L1

#1749 docs: add release date to component page
  packages/blade/src/utils/storybook/ComponentStatusTable.tsx
  packages/blade/src/utils/storybook/StoryPageWrapper.tsx
  packages/blade/src/utils/storybook/componentStatusData.ts
Labels: Review - L2

#1715 docs(blade): added documentation for tabs
  packages/blade/package.json
  packages/blade/src/components/Tabs/TabIndicator.native.tsx
  packages/blade/src/components/Tabs/TabIndicator.web.tsx
  packages/blade/src/components/Tabs/TabItem.web.tsx
  packages/blade/src/components/Tabs/TabList.web.tsx
  packages/blade/src/components/Tabs/TabPanel.web.tsx
  packages/blade/src/components/Tabs/Tabs.native.tsx
  packages/blade/src/components/Tabs/Tabs.stories.tsx
  packages/blade/src/components/Tabs/Tabs.web.tsx
  packages/blade/src/components/Tabs/_KitchenSink.Tabs.stories.tsx
  packages/blade/src/components/Tabs/__tests__/__snapshots__/Tabs.native.test.tsx.snap
  packages/blade/src/components/Tabs/__tests__/__snapshots__/Tabs.web.test.tsx.snap
  packages/blade/src/components/Tabs/types.ts
  packages/blade/src/components/index.ts
  packages/blade/src/utils/metaAttribute/metaConstants.ts
  yarn.lock
Labels: Review - L2

#1707 feat(blade): tabs react-native implementation
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/ios/Podfile.lock
  packages/blade/ios/blade.xcodeproj/project.pbxproj
  packages/blade/package.json
  packages/blade/src/components/Tabs/SafeSceneMap.native.tsx
  packages/blade/src/components/Tabs/TabIndicator.native.tsx
  packages/blade/src/components/Tabs/TabIndicator.web.tsx
  packages/blade/src/components/Tabs/TabItem.native.tsx
  packages/blade/src/components/Tabs/TabItem.web.tsx
  packages/blade/src/components/Tabs/TabList.native.tsx
  packages/blade/src/components/Tabs/TabList.web.tsx
  packages/blade/src/components/Tabs/TabPanel.native.tsx
  packages/blade/src/components/Tabs/TabPanel.web.tsx
  packages/blade/src/components/Tabs/Tabs.native.tsx
  packages/blade/src/components/Tabs/Tabs.stories.tsx
  packages/blade/src/components/Tabs/Tabs.web.tsx
  packages/blade/src/components/Tabs/TabsContext.ts
  packages/blade/src/components/Tabs/_KitchenSink.Tabs.stories.tsx
  packages/blade/src/components/Tabs/__tests__/Tabs.native.test.tsx
  packages/blade/src/components/Tabs/__tests__/Tabs.ssr.test.tsx
  packages/blade/src/components/Tabs/__tests__/Tabs.web.test.tsx
  packages/blade/src/components/Tabs/__tests__/__snapshots__/Tabs.native.test.tsx.snap
  packages/blade/src/components/Tabs/__tests__/__snapshots__/Tabs.ssr.test.tsx.snap
  packages/blade/src/components/Tabs/__tests__/__snapshots__/Tabs.web.test.tsx.snap
  packages/blade/src/components/Tabs/tabTokens.ts
  packages/blade/src/components/Tabs/types.ts
  packages/blade/src/components/Tabs/utils.ts
  packages/blade/src/components/index.ts
  packages/blade/src/utils/metaAttribute/metaConstants.ts
  yarn.lock
Labels: Review - L2

#1764 feat(ActionList): added stories and kitchensink for combinations
  packages/blade/src/components/ActionList/ActionList.stories.tsx
  packages/blade/src/components/ActionList/_KitchenSink.ActionList.stories.tsx
  packages/blade/src/components/ActionList/docs/ActionList.stories.mdx
Labels: hacktoberfest-accepted

#1763 fix: incorrect setting of env variables for windows
  packages/blade/package.json
  yarn.lock
Labels: hacktoberfest-accepted

#1772 feat: migrate overlay tokens
  .changeset/honest-glasses-sin.md
  packages/blade/src/components/BottomSheet/BottomSheetBackdrop.native.tsx
  packages/blade/src/components/BottomSheet/BottomSheetBackdrop.web.tsx
  packages/blade/src/components/Modal/ModalBackdrop.tsx
  packages/blade/src/tokens/theme/__tests__/__snapshots__/createTheme.native.test.tsx.snap
  packages/blade/src/tokens/theme/__tests__/__snapshots__/createTheme.web.test.tsx.snap
  packages/blade/src/tokens/theme/theme.ts
Labels: Review - L2

#1768 feat(tokens): add new tokens, migrate overlay token
  .changeset/honest-glasses-sin.md
  packages/blade/src/components/BottomSheet/BottomSheetBackdrop.native.tsx
  packages/blade/src/components/BottomSheet/BottomSheetBackdrop.web.tsx
  packages/blade/src/components/Modal/ModalBackdrop.tsx
  packages/blade/src/tokens/theme/__tests__/__snapshots__/createTheme.native.test.tsx.snap
  packages/blade/src/tokens/theme/__tests__/__snapshots__/createTheme.web.test.tsx.snap
  packages/blade/src/tokens/theme/bankingTheme.ts
  packages/blade/src/tokens/theme/paymentTheme.ts
  packages/blade/src/tokens/theme/theme.ts
Labels: Review - L2

#1773 chore(blade): add file zip icon
  .changeset/breezy-pets-warn.md
  packages/blade/src/components/Icons/FileZipIcon/FileZipIcon.native.test.tsx
  packages/blade/src/components/Icons/FileZipIcon/FileZipIcon.tsx
  packages/blade/src/components/Icons/FileZipIcon/FileZipIcon.web.test.tsx
  packages/blade/src/components/Icons/FileZipIcon/__snapshots__/FileZipIcon.native.test.tsx.snap
  packages/blade/src/components/Icons/FileZipIcon/__snapshots__/FileZipIcon.web.test.tsx.snap
  packages/blade/src/components/Icons/FileZipIcon/index.ts
  packages/blade/src/components/Icons/Icons.stories.tsx
  packages/blade/src/components/Icons/iconMap.ts
  packages/blade/src/components/Icons/index.tsx
Labels: Review - L1
