Repository razorpay/blade, pull requests merged in 2023-06, with the labels that each got.

#1210 feat(Typography): expose color from other typography components
  .changeset/good-seas-kick.md
  packages/blade/src/components/Typography/Code/Code.stories.tsx
  packages/blade/src/components/Typography/Code/Code.tsx
  packages/blade/src/components/Typography/Code/__tests__/Code.native.test.tsx
  packages/blade/src/components/Typography/Code/__tests__/Code.web.test.tsx
  packages/blade/src/components/Typography/Code/__tests__/__snapshots__/Code.native.test.tsx.snap
  packages/blade/src/components/Typography/Code/__tests__/__snapshots__/Code.web.test.tsx.snap
  packages/blade/src/components/Typography/Heading/Heading.stories.tsx
  packages/blade/src/components/Typography/Heading/Heading.tsx
  packages/blade/src/components/Typography/Heading/__tests__/Heading.native.test.tsx
  packages/blade/src/components/Typography/Heading/__tests__/Heading.web.test.tsx
  packages/blade/src/components/Typography/Heading/__tests__/__snapshots__/Heading.native.test.tsx.snap
  packages/blade/src/components/Typography/Heading/__tests__/__snapshots__/Heading.web.test.tsx.snap
  packages/blade/src/components/Typography/Text/Text.stories.tsx
  packages/blade/src/components/Typography/Text/Text.tsx
  packages/blade/src/components/Typography/Text/__tests__/Text.native.test.tsx
  packages/blade/src/components/Typography/Text/__tests__/Text.web.test.tsx
  packages/blade/src/components/Typography/Text/__tests__/__snapshots__/Text.native.test.tsx.snap
  packages/blade/src/components/Typography/Text/__tests__/__snapshots__/Text.web.test.tsx.snap
  packages/blade/src/components/Typography/Title/Title.stories.tsx
  packages/blade/src/components/Typography/Title/Title.tsx
  packages/blade/src/components/Typography/Title/__tests__/Title.native.test.tsx
  packages/blade/src/components/Typography/Title/__tests__/Title.web.test.tsx
  packages/blade/src/components/Typography/Title/__tests__/__snapshots__/Title.native.test.tsx.snap
  packages/blade/src/components/Typography/Title/__tests__/__snapshots__/Title.web.test.tsx.snap
Labels: Review - L2

#1240 feat(Code): add `isHighlighted` prop
  .changeset/fair-gorillas-rescue.md
  packages/blade/src/components/List/__tests__/__snapshots__/List.native.test.tsx.snap
  packages/blade/src/components/List/__tests__/__snapshots__/List.web.test.tsx.snap
  packages/blade/src/components/Typography/Code/Code.stories.tsx
  packages/blade/src/components/Typography/Code/Code.tsx
  packages/blade/src/components/Typography/Code/__tests__/Code.native.test.tsx
  packages/blade/src/components/Typography/Code/__tests__/Code.web.test.tsx
  packages/blade/src/components/Typography/Code/__tests__/__snapshots__/Code.native.test.tsx.snap
  packages/blade/src/components/Typography/Code/__tests__/__snapshots__/Code.web.test.tsx.snap
Labels: Review - L2

#1189 docs(Accordion): add api spec
  packages/blade/src/components/Accordion/_decisions/accordion-breakdown.png
  packages/blade/src/components/Accordion/_decisions/accordion-thumbnail.png
  packages/blade/src/components/Accordion/_decisions/accordion-with-icons.png
  packages/blade/src/components/Accordion/_decisions/decisions.md
Labels: Review - L2, API Decisions

#1228 feat: add Modal component
  .changeset/curly-mangos-clap.md
  .changeset/stale-seahorses-deny.md
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/jest-setup.web.js
  packages/blade/package.json
  packages/blade/src/components/BaseHeaderFooter/BaseFooter.tsx
  packages/blade/src/components/BaseHeaderFooter/BaseHeader.tsx
  packages/blade/src/components/BottomSheet/BottomSheetHeader.native.tsx
  packages/blade/src/components/BottomSheet/BottomSheetHeader.web.tsx
  packages/blade/src/components/BottomSheet/__tests__/BottomSheet.native.test.tsx
  packages/blade/src/components/BottomSheet/__tests__/BottomSheet.web.test.tsx
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.native.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.web.test.tsx.snap
  packages/blade/src/components/BottomSheet/utils.ts
  packages/blade/src/components/Box/BaseBox/types/spacingTypes.ts
  packages/blade/src/components/Modal/Modal.native.tsx
  packages/blade/src/components/Modal/Modal.web.tsx
  packages/blade/src/components/Modal/ModalBackdrop.tsx
  packages/blade/src/components/Modal/ModalBody.native.tsx
  packages/blade/src/components/Modal/ModalBody.web.tsx
  packages/blade/src/components/Modal/ModalContext.tsx
  packages/blade/src/components/Modal/ModalFooter.native.tsx
  packages/blade/src/components/Modal/ModalFooter.web.tsx
  packages/blade/src/components/Modal/ModalHeader.native.tsx
  packages/blade/src/components/Modal/ModalHeader.web.tsx
  packages/blade/src/components/Modal/ModalPortal.tsx
  packages/blade/src/components/Modal/__tests__/Modal.native.test.tsx
  packages/blade/src/components/Modal/__tests__/Modal.web.test.tsx
  packages/blade/src/components/Modal/__tests__/__snapshots__/Modal.web.test.tsx.snap
  packages/blade/src/components/Modal/_decisions/decisions.md
  packages/blade/src/components/Modal/docs/Modal.stories.mdx
  packages/blade/src/components/Modal/docs/ModalDocs.tsx
  packages/blade/src/components/Modal/docs/ModalExamples.stories.tsx
  packages/blade/src/components/Modal/docs/SimpleModal.stories.tsx
  packages/blade/src/components/Modal/docs/stories.ts
  packages/blade/src/components/Modal/index.tsx
  packages/blade/src/components/Modal/modalTokens.ts
  packages/blade/src/components/index.ts
  packages/blade/src/tokens/global/colors.ts
  packages/blade/src/tokens/global/opacity.ts
  packages/blade/src/tokens/global/size.ts
  packages/blade/src/tokens/theme/bankingTheme.ts
  packages/blade/src/tokens/theme/paymentTheme.ts
  packages/blade/src/utils/metaAttribute/metaConstants.ts
  yarn.lock
Labels: Review - L2

#1160 fix(BaseInput): Large label alignment
  .changeset/fast-ads-crash.md
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.ssr.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.web.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.native.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.ssr.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.web.test.tsx.snap
  packages/blade/src/components/Form/FormLabel.tsx
  packages/blade/src/components/Input/BaseInput/BaseInputAnimatedBorder.native.tsx
  packages/blade/src/components/Input/BaseInput/BaseInputAnimatedBorder.web.tsx
  packages/blade/src/components/Input/BaseInput/BaseInputWrapper.tsx
  packages/blade/src/components/Input/BaseInput/__tests__/__snapshots__/BaseInput.native.test.tsx.snap
  packages/blade/src/components/Input/BaseInput/__tests__/__snapshots__/BaseInput.ssr.test.tsx.snap
  packages/blade/src/components/Input/BaseInput/__tests__/__snapshots__/BaseInput.web.test.tsx.snap
  packages/blade/src/components/Input/OTPInput/__tests__/__snapshots__/OTPInput.native.test.tsx.snap
  packages/blade/src/components/Input/OTPInput/__tests__/__snapshots__/OTPInput.ssr.test.tsx.snap
  packages/blade/src/components/Input/OTPInput/__tests__/__snapshots__/OTPInput.web.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.native.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.ssr.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.web.test.tsx.snap
  packages/blade/src/components/Input/TextArea/__tests__/__snapshots__/TextArea.native.test.tsx.snap
  packages/blade/src/components/Input/TextArea/__tests__/__snapshots__/TextArea.ssr.test.tsx.snap
  packages/blade/src/components/Input/TextArea/__tests__/__snapshots__/TextArea.web.test.tsx.snap
  packages/blade/src/components/Input/TextInput/TextInput.stories.tsx
  packages/blade/src/components/Input/TextInput/__tests__/__snapshots__/TextInput.native.test.tsx.snap
  packages/blade/src/components/Input/TextInput/__tests__/__snapshots__/TextInput.ssr.test.tsx.snap
  packages/blade/src/components/Input/TextInput/__tests__/__snapshots__/TextInput.web.test.tsx.snap
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.web.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.ssr.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.web.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.ssr.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.web.test.tsx.snap
Labels: Review - L1

#1254 fix: make Badge and Counter display inline-flex
  .changeset/yellow-planes-share.md
  packages/blade/src/components/Badge/Badge.tsx
  packages/blade/src/components/Badge/__tests__/__snapshots__/Badge.ssr.test.tsx.snap
  packages/blade/src/components/Badge/__tests__/__snapshots__/Badge.web.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/BottomSheet.native.test.tsx
  packages/blade/src/components/BottomSheet/__tests__/BottomSheet.web.test.tsx
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.web.test.tsx.snap
  packages/blade/src/components/Card/CardHeader.tsx
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.ssr.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.web.test.tsx.snap
  packages/blade/src/components/Counter/Counter.tsx
  packages/blade/src/components/Counter/__tests__/__snapshots__/Counter.ssr.test.tsx.snap
  packages/blade/src/components/Counter/__tests__/__snapshots__/Counter.web.test.tsx.snap
  packages/blade/src/components/Modal/__tests__/__snapshots__/Modal.web.test.tsx.snap
Labels: Ready to Merge

#1300 fix(DropdownOverlay): DropdownOverlay width
  .changeset/fast-rings-count.md
  packages/blade/src/components/Dropdown/DropdownOverlay.web.tsx
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.web.test.tsx.snap
Labels: Ready to Merge

#1309 fix(native): patch yoga.cpp react native internal
  packages/blade/package.json
  packages/blade/patches/react-native+0.66.5.patch
  yarn.lock
Labels: Review - L1, Review - L2

#1218 docs(Collapsible): add API design
  packages/blade/src/components/Accordion/_decisions/decisions.md
  packages/blade/src/components/Collapsible/_decisions/collapsible-breakdown.png
  packages/blade/src/components/Collapsible/_decisions/collapsible-thumbnail.png
  packages/blade/src/components/Collapsible/_decisions/decisions.md
Labels: Review - L2, API Decisions

#1262 feat(Collapsible): PR1 - add basic functionality
  packages/blade/src/components/Collapsible/Collapsible.stories.internal.tsx
  packages/blade/src/components/Collapsible/Collapsible.tsx
  packages/blade/src/components/Collapsible/CollapsibleBody.tsx
  packages/blade/src/components/Collapsible/CollapsibleButton.tsx
  packages/blade/src/components/Collapsible/CollapsibleContext.ts
  packages/blade/src/components/Collapsible/CollapsiblePanel.native.tsx
  packages/blade/src/components/Collapsible/CollapsiblePanel.web.tsx
  packages/blade/src/components/Collapsible/index.ts
  packages/blade/src/hooks/useDidUpdate.ts
Labels: Review - L2

#1296 refactor(Accordion/Collapsible): PR8 - resolve review comments
  .changeset/rich-hounds-grow.md
  packages/blade/src/components/Accordion/Accordion.stories.internal.tsx
  packages/blade/src/components/Accordion/Accordion.tsx
  packages/blade/src/components/Accordion/AccordionButton.web.tsx
  packages/blade/src/components/Accordion/AccordionContext.tsx
  packages/blade/src/components/Box/BaseBox/types/spacingTypes.ts
  packages/blade/src/components/Collapsible/Collapsible.stories.internal.tsx
  packages/blade/src/components/Collapsible/Collapsible.tsx
  packages/blade/src/components/Collapsible/CollapsibleBody.tsx
  packages/blade/src/components/Collapsible/CollapsibleBodyContent.native.tsx
  packages/blade/src/components/Collapsible/CollapsibleBodyContent.web.tsx
  packages/blade/src/components/Collapsible/CollapsibleButton.tsx
  packages/blade/src/components/Collapsible/CollapsibleChevronIcon.tsx
  packages/blade/src/components/Collapsible/CollapsibleContext.ts
  packages/blade/src/components/Collapsible/useDidUpdate.ts
  packages/blade/src/components/Link/Link/Link.tsx
Labels: Review - L1

#1295 feat(Accordion/Collapsible): PR7 - pre-release
  .changeset/rich-hounds-grow.md
  packages/blade/src/components/Accordion/Accordion.stories.internal.tsx
  packages/blade/src/components/Accordion/Accordion.tsx
  packages/blade/src/components/Accordion/AccordionButton.web.tsx
  packages/blade/src/components/Accordion/AccordionContext.tsx
  packages/blade/src/components/Accordion/AccordionItem.tsx
  packages/blade/src/components/Accordion/index.ts
  packages/blade/src/components/Box/BaseBox/types/spacingTypes.ts
  packages/blade/src/components/Collapsible/Collapsible.stories.internal.tsx
  packages/blade/src/components/Collapsible/Collapsible.tsx
  packages/blade/src/components/Collapsible/CollapsibleBody.tsx
  packages/blade/src/components/Collapsible/CollapsibleBodyContent.native.tsx
  packages/blade/src/components/Collapsible/CollapsibleBodyContent.web.tsx
  packages/blade/src/components/Collapsible/CollapsibleButton.tsx
  packages/blade/src/components/Collapsible/CollapsibleChevronIcon.tsx
  packages/blade/src/components/Collapsible/CollapsibleContext.ts
  packages/blade/src/components/Collapsible/CollapsibleLink.tsx
  packages/blade/src/components/Collapsible/index.ts
  packages/blade/src/components/Collapsible/useDidUpdate.ts
  packages/blade/src/components/Link/Link/Link.tsx
  packages/blade/src/components/index.ts
Labels: Review - L1

#1292 feat(Accordion/Collapsible): PR6 - meta, a11y and responsive widths
  .changeset/rich-hounds-grow.md
  packages/blade/src/components/Accordion/Accordion.stories.internal.tsx
  packages/blade/src/components/Accordion/Accordion.tsx
  packages/blade/src/components/Accordion/AccordionButton.web.tsx
  packages/blade/src/components/Accordion/AccordionContext.tsx
  packages/blade/src/components/Accordion/AccordionItem.tsx
  packages/blade/src/components/Accordion/StyledAccordionButton.web.tsx
  packages/blade/src/components/Accordion/index.ts
  packages/blade/src/components/Box/BaseBox/types/spacingTypes.ts
  packages/blade/src/components/Collapsible/Collapsible.stories.internal.tsx
  packages/blade/src/components/Collapsible/Collapsible.tsx
  packages/blade/src/components/Collapsible/CollapsibleBody.tsx
  packages/blade/src/components/Collapsible/CollapsibleBodyContent.native.tsx
  packages/blade/src/components/Collapsible/CollapsibleBodyContent.web.tsx
  packages/blade/src/components/Collapsible/CollapsibleButton.tsx
  packages/blade/src/components/Collapsible/CollapsibleChevronIcon.tsx
  packages/blade/src/components/Collapsible/CollapsibleContext.ts
  packages/blade/src/components/Collapsible/CollapsibleLink.tsx
  packages/blade/src/components/Collapsible/index.ts
  packages/blade/src/components/Collapsible/useDidUpdate.ts
  packages/blade/src/components/Link/BaseLink/BaseLink.tsx
  packages/blade/src/components/index.ts
  packages/blade/src/tokens/global/size.ts
  packages/blade/src/utils/metaAttribute/metaConstants.ts
Labels: Review - L1

#1290 feat(Accordion/Collapsible): PR5 - controlled input and wiring
  .changeset/rich-hounds-grow.md
  packages/blade/src/components/Accordion/Accordion.stories.internal.tsx
  packages/blade/src/components/Accordion/Accordion.tsx
  packages/blade/src/components/Accordion/AccordionButton.web.tsx
  packages/blade/src/components/Accordion/AccordionContext.tsx
  packages/blade/src/components/Accordion/AccordionItem.tsx
  packages/blade/src/components/Accordion/StyledAccordionButton.web.tsx
  packages/blade/src/components/Accordion/index.ts
  packages/blade/src/components/Box/BaseBox/types/spacingTypes.ts
  packages/blade/src/components/Collapsible/Collapsible.stories.internal.tsx
  packages/blade/src/components/Collapsible/Collapsible.tsx
  packages/blade/src/components/Collapsible/CollapsibleBody.tsx
  packages/blade/src/components/Collapsible/CollapsibleBodyContent.native.tsx
  packages/blade/src/components/Collapsible/CollapsibleBodyContent.web.tsx
  packages/blade/src/components/Collapsible/CollapsibleButton.tsx
  packages/blade/src/components/Collapsible/CollapsibleChevronIcon.tsx
  packages/blade/src/components/Collapsible/CollapsibleContext.ts
  packages/blade/src/components/Collapsible/CollapsibleLink.tsx
  packages/blade/src/components/Collapsible/index.ts
  packages/blade/src/components/Collapsible/useDidUpdate.ts
  packages/blade/src/components/Link/BaseLink/BaseLink.tsx
  packages/blade/src/components/index.ts
  packages/blade/src/tokens/global/size.ts
  packages/blade/src/utils/metaAttribute/metaConstants.ts
Labels: Review - L1

#1277 feat: add Accordion and Collapsible for web (pre-release)
  .changeset/rich-hounds-grow.md
  CODEOWNERS
  packages/blade/src/components/Accordion/Accordion.stories.tsx
  packages/blade/src/components/Accordion/Accordion.tsx
  packages/blade/src/components/Accordion/AccordionButton.native.tsx
  packages/blade/src/components/Accordion/AccordionButton.web.tsx
  packages/blade/src/components/Accordion/AccordionContext.tsx
  packages/blade/src/components/Accordion/AccordionItem.tsx
  packages/blade/src/components/Accordion/StyledAccordionButton.native.tsx
  packages/blade/src/components/Accordion/StyledAccordionButton.web.tsx
  packages/blade/src/components/Accordion/_decisions/decisions.md
  packages/blade/src/components/Accordion/index.ts
  packages/blade/src/components/Accordion/types.ts
  packages/blade/src/components/Box/BaseBox/types/spacingTypes.ts
  packages/blade/src/components/Collapsible/Collapsible.stories.internal.tsx
  packages/blade/src/components/Collapsible/Collapsible.stories.tsx
  packages/blade/src/components/Collapsible/Collapsible.tsx
  packages/blade/src/components/Collapsible/CollapsibleBody.tsx
  packages/blade/src/components/Collapsible/CollapsibleBodyContent.native.tsx
  packages/blade/src/components/Collapsible/CollapsibleBodyContent.web.tsx
  packages/blade/src/components/Collapsible/CollapsibleButton.tsx
  packages/blade/src/components/Collapsible/CollapsibleChevronIcon.tsx
  packages/blade/src/components/Collapsible/CollapsibleContext.ts
  packages/blade/src/components/Collapsible/CollapsibleLink.tsx
  packages/blade/src/components/Collapsible/index.ts
  packages/blade/src/components/Collapsible/useDidUpdate.ts
  packages/blade/src/components/Link/BaseLink/BaseLink.tsx
  packages/blade/src/components/Link/BaseLink/__tests__/BaseLink.web.test.tsx
  packages/blade/src/components/index.ts
  packages/blade/src/tokens/global/size.ts
  packages/blade/src/utils/metaAttribute/metaConstants.ts
Labels: Review - L1, Review - L2

#1322 fix: Link invalid html
  .changeset/weak-melons-join.md
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.ssr.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.web.test.tsx.snap
  packages/blade/src/components/Link/BaseLink/BaseLink.tsx
  packages/blade/src/components/Link/BaseLink/__tests__/__snapshots__/BaseLink.ssr.test.tsx.snap
  packages/blade/src/components/Link/BaseLink/__tests__/__snapshots__/BaseLink.web.test.tsx.snap
  packages/blade/src/components/Link/Link/Link.stories.tsx
  packages/blade/src/components/Link/Link/__tests__/__snapshots__/Link.ssr.test.tsx.snap
  packages/blade/src/components/Link/Link/__tests__/__snapshots__/Link.web.test.tsx.snap
Labels: Review - L1

#1340 fix(blade): fix modal portal ssr
  .changeset/two-colts-rule.md
  packages/blade/src/components/Modal/Modal.web.tsx
  packages/blade/src/components/Modal/ModalPortal.tsx
  packages/blade/src/components/Modal/__tests__/Modal.web.test.tsx
Labels: Review - L1

#1349 fix: react native display style bug
  .changeset/large-cycles-count.md
  packages/blade/src/components/Badge/__tests__/__snapshots__/Badge.native.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.native.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.native.test.tsx.snap
  packages/blade/src/components/Counter/__tests__/__snapshots__/Counter.native.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.native.test.tsx.snap
  packages/blade/src/components/Typography/BaseText/getBaseTextStyles.ts
  packages/blade/src/components/Typography/Text/__tests__/__snapshots__/Text.native.test.tsx.snap
Labels: Review - L2

#1336 feat(Collapsible) - add native implementation
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/src/components/Accordion/Accordion.tsx
  packages/blade/src/components/Accordion/AccordionButton.native.tsx
  packages/blade/src/components/Accordion/styles.native.ts
  packages/blade/src/components/Accordion/styles.web.ts
  packages/blade/src/components/Collapsible/Collapsible.stories.tsx
  packages/blade/src/components/Collapsible/Collapsible.tsx
  packages/blade/src/components/Collapsible/CollapsibleBodyContent.native.tsx
  packages/blade/src/components/Collapsible/CollapsibleBodyContent.web.tsx
  packages/blade/src/components/Collapsible/CollapsibleButton.tsx
  packages/blade/src/components/Collapsible/CollapsibleChevronIcon.native.tsx
  packages/blade/src/components/Collapsible/CollapsibleChevronIcon.web.tsx
  packages/blade/src/components/Collapsible/commonStyles.ts
  packages/blade/src/components/Collapsible/styles.native.ts
  packages/blade/src/components/Collapsible/styles.web.ts
  packages/blade/src/components/Collapsible/types.ts
Labels: Review - L1, Review - L2

#1354 fix: Dropdown opening when clicked on ChevronDownIcon in disabled state
  .changeset/tender-fans-rule.md
  packages/blade/src/components/Input/SelectInput/SelectInput.tsx
Labels: Review - L2

#1351 feat(Accordion): add native implementation
  packages/blade/src/components/Accordion/Accordion.stories.tsx
  packages/blade/src/components/Accordion/AccordionButton.native.tsx
  packages/blade/src/components/Accordion/AccordionItem.tsx
  packages/blade/src/components/Accordion/StyledAccordionButton.native.tsx
  packages/blade/src/components/Accordion/StyledAccordionButton.web.tsx
  packages/blade/src/components/Accordion/commonStyles.ts
  packages/blade/src/components/Collapsible/CollapsibleBody.tsx
  packages/blade/src/components/Collapsible/CollapsibleBodyContent.native.tsx
Labels: Review - L1, Review - L2

#1346 feat(blade): added bottomsheet body zero padding option
  .changeset/many-parrots-guess.md
  packages/blade/src/components/BottomSheet/BottomSheet.native.tsx
  packages/blade/src/components/BottomSheet/BottomSheet.stories.tsx
  packages/blade/src/components/BottomSheet/BottomSheet.web.tsx
  packages/blade/src/components/BottomSheet/BottomSheetBody.native.tsx
  packages/blade/src/components/BottomSheet/BottomSheetBody.web.tsx
  packages/blade/src/components/BottomSheet/BottomSheetCommon.tsx
  packages/blade/src/components/BottomSheet/BottomSheetContext.ts
  packages/blade/src/components/BottomSheet/BottomSheetGrabHandle.web.tsx
  packages/blade/src/components/BottomSheet/BottomSheetHeader.native.tsx
  packages/blade/src/components/BottomSheet/BottomSheetHeader.web.tsx
  packages/blade/src/components/BottomSheet/__tests__/BottomSheet.native.test.tsx
  packages/blade/src/components/BottomSheet/__tests__/BottomSheet.web.test.tsx
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.native.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.web.test.tsx.snap
  packages/blade/src/components/BottomSheet/getBottomSheetGrabHandleStyles.ts
  packages/blade/src/components/BottomSheet/types.ts
Labels: Review - L1

#1360 test(Accordion/Collapsible): add tests
  packages/blade/package.json
  packages/blade/src/components/Accordion/AccordionButton.web.tsx
  packages/blade/src/components/Accordion/StyledAccordionButton.web.tsx
  packages/blade/src/components/Accordion/__tests__/Accordion.native.test.tsx
  packages/blade/src/components/Accordion/__tests__/Accordion.ssr.test.tsx
  packages/blade/src/components/Accordion/__tests__/Accordion.web.test.tsx
  packages/blade/src/components/Accordion/__tests__/__snapshots__/Accordion.native.test.tsx.snap
  packages/blade/src/components/Accordion/__tests__/__snapshots__/Accordion.ssr.test.tsx.snap
  packages/blade/src/components/Accordion/__tests__/__snapshots__/Accordion.web.test.tsx.snap
  packages/blade/src/components/Collapsible/CollapsibleChevronIcon.native.tsx
  packages/blade/src/components/Collapsible/__tests__/Collapsible.native.test.tsx
  packages/blade/src/components/Collapsible/__tests__/Collapsible.ssr.test.tsx
  packages/blade/src/components/Collapsible/__tests__/Collapsible.web.test.tsx
  packages/blade/src/components/Collapsible/__tests__/__snapshots__/Collapsible.native.test.tsx.snap
  packages/blade/src/components/Collapsible/__tests__/__snapshots__/Collapsible.ssr.test.tsx.snap
  packages/blade/src/components/Collapsible/__tests__/__snapshots__/Collapsible.web.test.tsx.snap
  packages/blade/src/components/Collapsible/__tests__/useDidUpdate.test.ts
  packages/blade/src/components/Collapsible/useDidUpdate.ts
  yarn.lock
Labels: Review - L1, Review - L2

#1364 feat: add `Accordion` and `Collapsible` components
  .changeset/fuzzy-squids-burn.md
  packages/blade/src/components/Accordion/Accordion.stories.tsx
  packages/blade/src/components/Accordion/index.ts
  packages/blade/src/components/Collapsible/Collapsible.stories.tsx
  packages/blade/src/components/Collapsible/index.ts
Labels: Review - L1

#1365 feat: add textDecorationLine support for typography
  .changeset/tasty-fans-build.md
  packages/blade/src/components/Typography/Heading/Heading.tsx
  packages/blade/src/components/Typography/Text/Text.tsx
  packages/blade/src/components/Typography/Title/Title.tsx
Labels: Review - L2
