Repository razorpay/blade, pull requests merged in 2023-11, with the labels that each got.

#1781 fix: react native text input alignment with prefix
  .changeset/wet-cycles-greet.md
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.native.tsx
Labels: P0

#1770 chore: only allow CarouselItem in Carousel children
  .changeset/proud-pianos-switch.md
  packages/blade/src/components/Card/Card.tsx
  packages/blade/src/components/Card/CardContext.tsx
  packages/blade/src/components/Card/CardFooter.tsx
  packages/blade/src/components/Card/CardHeader.tsx
  packages/blade/src/components/Card/__tests__/Card.native.test.tsx
  packages/blade/src/components/Card/__tests__/Card.web.test.tsx
  packages/blade/src/components/Carousel/Carousel.web.tsx
  packages/blade/src/components/Carousel/CarouselItem.web.tsx
  packages/blade/src/components/Carousel/constants.ts
  packages/blade/src/utils/useVerifyAllowedChildren/index.ts
  packages/blade/src/utils/useVerifyAllowedChildren/useVerifyAllowedChildren.native.test.tsx
  packages/blade/src/utils/useVerifyAllowedChildren/useVerifyAllowedChildren.ts
  packages/blade/src/utils/useVerifyAllowedChildren/useVerifyAllowedChildren.web.test.tsx
Labels: Review - L2

#1784 fix(blade): fix jsdom & ssr test setup
  packages/blade/src/components/Accordion/__tests__/__snapshots__/Accordion.ssr.test.tsx.snap
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.ssr.test.tsx.snap
  packages/blade/src/components/Amount/__tests__/__snapshots__/Amount.ssr.test.tsx.snap
  packages/blade/src/components/Badge/__tests__/__snapshots__/Badge.ssr.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/BottomSheet.ssr.test.tsx
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.ssr.test.tsx.snap
  packages/blade/src/components/Box/__tests__/Box.ssr.test.tsx
  packages/blade/src/components/Box/__tests__/__snapshots__/BaseBox.ssr.test.tsx.snap
  packages/blade/src/components/Box/__tests__/__snapshots__/Box.ssr.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.ssr.test.tsx.snap
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.ssr.test.tsx.snap
  packages/blade/src/components/Button/IconButton/__tests__/__snapshots__/IconButton.ssr.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.ssr.test.tsx.snap
  packages/blade/src/components/Carousel/__tests__/__snapshots__/Carousel.ssr.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.ssr.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.ssr.test.tsx.snap
  packages/blade/src/components/Chip/__tests__/ChipGroup.ssr.test.tsx
  packages/blade/src/components/Chip/__tests__/__snapshots__/Chip.ssr.test.tsx.snap
  packages/blade/src/components/Chip/__tests__/__snapshots__/ChipGroup.ssr.test.tsx.snap
  packages/blade/src/components/Collapsible/__tests__/__snapshots__/Collapsible.ssr.test.tsx.snap
  packages/blade/src/components/Divider/__tests__/__snapshots__/Divider.ssr.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/Dropdown.ssr.test.tsx
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.ssr.test.tsx.snap
  packages/blade/src/components/Indicator/__tests__/__snapshots__/Indicator.ssr.test.tsx.snap
  packages/blade/src/components/Input/BaseInput/__tests__/__snapshots__/BaseInput.ssr.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/AutoComplete.ssr.test.tsx
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.ssr.test.tsx.snap
  packages/blade/src/components/Input/OTPInput/__tests__/__snapshots__/OTPInput.ssr.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.ssr.test.tsx.snap
  packages/blade/src/components/Input/TextArea/__tests__/__snapshots__/TextArea.ssr.test.tsx.snap
  packages/blade/src/components/Input/TextInput/__tests__/__snapshots__/TextInput.ssr.test.tsx.snap
  packages/blade/src/components/Link/BaseLink/__tests__/__snapshots__/BaseLink.ssr.test.tsx.snap
  packages/blade/src/components/Link/Link/__tests__/__snapshots__/Link.ssr.test.tsx.snap
  packages/blade/src/components/List/__tests__/__snapshots__/List.ssr.test.tsx.snap
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.ssr.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.ssr.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.ssr.test.tsx.snap
  packages/blade/src/components/Skeleton/__tests__/__snapshots__/Skeleton.ssr.test.tsx.snap
  packages/blade/src/components/Spinner/BaseSpinner/__tests__/__snapshots__/BaseSpinner.ssr.test.tsx.snap
  packages/blade/src/components/Spinner/Spinner/__tests__/__snapshots__/Spinner.ssr.test.tsx.snap
  packages/blade/src/components/Switch/__tests__/__snapshots__/Switch.ssr.test.tsx.snap
  packages/blade/src/components/Tabs/__tests__/Tabs.ssr.test.tsx
  packages/blade/src/components/Tabs/__tests__/__snapshots__/Tabs.ssr.test.tsx.snap
  packages/blade/src/components/Tag/__tests__/__snapshots__/Tag.ssr.test.tsx.snap
  packages/blade/src/components/Tooltip/__tests__/Tooltip.ssr.test.tsx
  packages/blade/src/components/Tooltip/__tests__/__snapshots__/Tooltip.ssr.test.tsx.snap
  packages/blade/src/components/Typography/Display/__tests__/__snapshots__/Display.ssr.test.tsx.snap
  packages/blade/src/components/Typography/Text/__tests__/__snapshots__/Text.ssr.test.tsx.snap
  packages/blade/src/utils/testing/renderWithSSR.web.tsx
Labels: Review - L1

#1779 fix(blade): fixed react-native bottomsheet state bugs
  .changeset/smooth-jobs-notice.md
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/src/components/BottomSheet/BottomSheet.native.tsx
  packages/blade/src/components/BottomSheet/BottomSheet.stories.tsx
Labels: Review - L2, P0

#1794 fix(TextInput): define placeholder color explicitly
  .changeset/tender-pants-fail.md
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.native.tsx
  packages/blade/src/components/Input/BaseInput/__tests__/__snapshots__/BaseInput.native.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.native.test.tsx.snap
  packages/blade/src/components/Input/OTPInput/__tests__/__snapshots__/OTPInput.native.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.native.test.tsx.snap
  packages/blade/src/components/Input/TextArea/__tests__/__snapshots__/TextArea.native.test.tsx.snap
  packages/blade/src/components/Input/TextInput/__tests__/__snapshots__/TextInput.native.test.tsx.snap
Labels: Review - L1, P0

#1793 docs: Tour Component API Decisions
  packages/blade/src/components/Tour/_decisions/assets/tour-motion.mov
  packages/blade/src/components/Tour/_decisions/assets/tour-thumbnail.png
  packages/blade/src/components/Tour/_decisions/decisions.md
Labels: Review - L2

#1807 test: added tests for tour component
  packages/blade/src/components/Tour/Tour.web.tsx
  packages/blade/src/components/Tour/TourMask.native.tsx
  packages/blade/src/components/Tour/TourMask.web.tsx
  packages/blade/src/components/Tour/TourPopover.native.tsx
  packages/blade/src/components/Tour/TourPopover.web.tsx
  packages/blade/src/components/Tour/__tests__/Tour.ssr.test.tsx
  packages/blade/src/components/Tour/__tests__/Tour.web.test.tsx
  packages/blade/src/components/Tour/__tests__/__snapshots__/Tour.ssr.test.tsx.snap
  packages/blade/src/components/Tour/__tests__/__snapshots__/Tour.web.test.tsx.snap
  packages/blade/src/components/Tour/types.ts
  packages/blade/src/utils/useScrollLock.ts
Labels: Review - L1

#1802 docs(tour): added tour documentation
  packages/blade/.storybook/react/preview.js
  packages/blade/src/components/Tour/Tour.stories.tsx
  packages/blade/src/components/Tour/Tour.web.tsx
  packages/blade/src/components/Tour/TourStep.web.tsx
  packages/blade/src/components/Tour/_KitchenSink.Tour.stories.tsx
  packages/blade/src/components/Tour/types.ts
Labels: Review - L2

#1799 feat(blade): Tour component web implementation
  .changeset/three-rice-repair.md
  packages/blade/src/components/SpotlightPopoverTour/Tour.native.tsx
  packages/blade/src/components/SpotlightPopoverTour/Tour.stories.tsx
  packages/blade/src/components/SpotlightPopoverTour/Tour.web.tsx
  packages/blade/src/components/SpotlightPopoverTour/TourContext.tsx
  packages/blade/src/components/SpotlightPopoverTour/TourFooter.native.tsx
  packages/blade/src/components/SpotlightPopoverTour/TourFooter.web.tsx
  packages/blade/src/components/SpotlightPopoverTour/TourMask.native.tsx
  packages/blade/src/components/SpotlightPopoverTour/TourMask.web.tsx
  packages/blade/src/components/SpotlightPopoverTour/TourPopover.native.tsx
  packages/blade/src/components/SpotlightPopoverTour/TourPopover.web.tsx
  packages/blade/src/components/SpotlightPopoverTour/TourStep.native.tsx
  packages/blade/src/components/SpotlightPopoverTour/TourStep.web.tsx
  packages/blade/src/components/SpotlightPopoverTour/_KitchenSink.Tour.stories.tsx
  packages/blade/src/components/SpotlightPopoverTour/__tests__/Tour.ssr.test.tsx
  packages/blade/src/components/SpotlightPopoverTour/__tests__/Tour.web.test.tsx
  packages/blade/src/components/SpotlightPopoverTour/__tests__/__snapshots__/Tour.ssr.test.tsx.snap
  packages/blade/src/components/SpotlightPopoverTour/__tests__/__snapshots__/Tour.web.test.tsx.snap
  packages/blade/src/components/SpotlightPopoverTour/_decisions/assets/tour-motion.mov
  packages/blade/src/components/SpotlightPopoverTour/_decisions/assets/tour-thumbnail.png
  packages/blade/src/components/SpotlightPopoverTour/_decisions/decisions.md
  packages/blade/src/components/SpotlightPopoverTour/index.ts
  packages/blade/src/components/SpotlightPopoverTour/tourTokens.ts
  packages/blade/src/components/SpotlightPopoverTour/types.ts
  packages/blade/src/components/SpotlightPopoverTour/utils.ts
  packages/blade/src/components/index.ts
  packages/blade/src/utils/metaAttribute/metaConstants.ts
  packages/blade/src/utils/useScrollLock.ts
Labels: Review - L2

#1796 feat(Sandbox): Integrate StackBlitz
  packages/blade/.storybook/react/main.js
  packages/blade/package.json
  packages/blade/src/components/ActionList/docs/ActionListDocs.tsx
  packages/blade/src/components/Alert/Alert.stories.tsx
  packages/blade/src/components/BottomSheet/BottomSheet.stories.tsx
  packages/blade/src/components/Box/LayoutPrimitivesDocs.tsx
  packages/blade/src/components/Checkbox/CheckboxGroup.stories.tsx
  packages/blade/src/components/Chip/ChipGroup.stories.tsx
  packages/blade/src/components/Dropdown/docs/DropdownDocs.tsx
  packages/blade/src/components/Input/PasswordInput/PasswordInput.stories.tsx
  packages/blade/src/components/Input/TextInput/TextInput.stories.tsx
  packages/blade/src/components/Popover/Popover.stories.tsx
  packages/blade/src/components/Radio/Radio.stories.tsx
  packages/blade/src/components/Switch/Switch.stories.tsx
  packages/blade/src/components/Tooltip/Tooltip.stories.tsx
  packages/blade/src/components/Typography/Code/Code.stories.tsx
  packages/blade/src/utils/storybook/Sandbox/SandpackEditor/Sandbox.native.tsx
  packages/blade/src/utils/storybook/Sandbox/SandpackEditor/Sandbox.web.tsx
  packages/blade/src/utils/storybook/Sandbox/SandpackEditor/index.ts
  packages/blade/src/utils/storybook/Sandbox/StackblitzEditor/Sandbox.native.tsx
  packages/blade/src/utils/storybook/Sandbox/StackblitzEditor/Sandbox.web.tsx
  packages/blade/src/utils/storybook/Sandbox/baseCode.ts
  packages/blade/src/utils/storybook/Sandbox/index.ts
  packages/blade/src/utils/storybook/Sandbox/types.ts
  packages/blade/src/utils/storybook/StoryPageWrapper.tsx
  yarn.lock
Labels: Review - L2

#1803 feat(rfcs): Font Loading Strategy RFC
  rfcs/2023-11-08-font-loading-strategy.md
Labels: Review - L2

#1821 fix: set default breakpoint without computing
  .changeset/pretty-feet-rule.md
  packages/blade/src/components/Carousel/__tests__/__snapshots__/Carousel.web.test.tsx.snap
  packages/blade/src/components/Chip/__tests__/__snapshots__/Chip.native.test.tsx.snap
  packages/blade/src/components/Chip/__tests__/__snapshots__/Chip.web.test.tsx.snap
  packages/blade/src/components/Chip/__tests__/__snapshots__/ChipGroup.native.test.tsx.snap
  packages/blade/src/components/Chip/__tests__/__snapshots__/ChipGroup.web.test.tsx.snap
  packages/blade/src/components/Input/BaseInput/__tests__/__snapshots__/BaseInput.native.test.tsx.snap
  packages/blade/src/components/Input/BaseInput/__tests__/__snapshots__/BaseInput.web.test.tsx.snap
  packages/blade/src/components/Input/TextArea/__tests__/__snapshots__/TextArea.web.test.tsx.snap
  packages/blade/src/components/Input/TextInput/__tests__/__snapshots__/TextInput.native.test.tsx.snap
  packages/blade/src/components/Input/TextInput/__tests__/__snapshots__/TextInput.web.test.tsx.snap
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.native.test.tsx.snap
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.web.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.native.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.web.test.tsx.snap
  packages/blade/src/utils/useBreakpoint/useBreakpoint.ts
Labels: P0

#1797 feat: Add `Table` component
  .changeset/moody-moles-change.md
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/docs/guides/Installation.stories.mdx
  packages/blade/package.json
  packages/blade/src/components/Table/Table.native.tsx
  packages/blade/src/components/Table/Table.web.tsx
  packages/blade/src/components/Table/TableBody.native.tsx
  packages/blade/src/components/Table/TableBody.web.tsx
  packages/blade/src/components/Table/TableContext.tsx
  packages/blade/src/components/Table/TableFooter.native.tsx
  packages/blade/src/components/Table/TableFooter.web.tsx
  packages/blade/src/components/Table/TableHeader.native.tsx
  packages/blade/src/components/Table/TableHeader.web.tsx
  packages/blade/src/components/Table/TablePagination.native.tsx
  packages/blade/src/components/Table/TablePagination.web.tsx
  packages/blade/src/components/Table/TableToolbar.native.tsx
  packages/blade/src/components/Table/TableToolbar.web.tsx
  packages/blade/src/components/Table/componentIds.ts
  packages/blade/src/components/Table/docs/APIStories/TableAPI.stories.tsx
  packages/blade/src/components/Table/docs/APIStories/TableBodyAPI.stories.tsx
  packages/blade/src/components/Table/docs/APIStories/TableCellAPI.stories.tsx
  packages/blade/src/components/Table/docs/APIStories/TableFooterAPI.stories.tsx
  packages/blade/src/components/Table/docs/APIStories/TableFooterCellAPI.stories.tsx
  packages/blade/src/components/Table/docs/APIStories/TableFooterRowAPI.stories.tsx
  packages/blade/src/components/Table/docs/APIStories/TableHeaderAPI.stories.tsx
  packages/blade/src/components/Table/docs/APIStories/TableHeaderCellAPI.stories.tsx
  packages/blade/src/components/Table/docs/APIStories/TableHeaderRowAPI.stories.tsx
  packages/blade/src/components/Table/docs/APIStories/TablePaginationAPI.stories.tsx
  packages/blade/src/components/Table/docs/APIStories/TableRowAPI.stories.tsx
  packages/blade/src/components/Table/docs/APIStories/TableToolbarAPI.stories.tsx
  packages/blade/src/components/Table/docs/APIStories/TableToolbarActionsAPI.stories.tsx
  packages/blade/src/components/Table/docs/BasicTable.stories.tsx
  packages/blade/src/components/Table/docs/TableExamples.stories.tsx
  packages/blade/src/components/Table/docs/stories.ts
  packages/blade/src/components/Table/index.ts
  packages/blade/src/components/Table/tokens.ts
  packages/blade/src/components/Table/types.ts
  packages/blade/src/components/index.ts
  packages/blade/src/utils/metaAttribute/metaConstants.ts
  packages/blade/src/utils/storybook/Sandbox/baseCode.ts
  packages/blade/src/utils/storybook/StoryPageWrapper.tsx
  packages/blade/src/utils/storybook/componentStatusData.ts
  yarn.lock
Labels: Review - L1

#1804 feat(Rebranding / Typography): font-family changes
  packages/blade/.storybook/react/manager-head.html
  packages/blade/.storybook/react/manager.js
  packages/blade/.storybook/react/preview-head.html
  packages/blade/fonts.css
  packages/blade/fonts/inter-variable/inter-cyrillic-extra.woff2
  packages/blade/fonts/inter-variable/inter-cyrillic.woff2
  packages/blade/fonts/inter-variable/inter-greek-extra.woff2
  packages/blade/fonts/inter-variable/inter-greek.woff2
  packages/blade/fonts/inter-variable/inter-latin-blade-extra.woff2
  packages/blade/fonts/inter-variable/inter-latin-blade.woff2
  packages/blade/fonts/inter-variable/inter-vietnamese.woff2
  packages/blade/fonts/tasa-orbiter.woff2
  packages/blade/package.json
  packages/blade/src/tokens/global/fontFamily/fontFamily.native.ts
  packages/blade/src/tokens/global/fontFamily/fontFamily.web.ts
  packages/blade/src/tokens/global/fontFamily/types.ts
  packages/blade/src/utils/storybook/Sandbox/baseCode.ts
Labels: Review - L2

#1811 feat(Rebranding / Typography): typography token changes
  packages/blade/src/tokens/global/typography.ts
Labels: Review - L2

#1820 feat(Rebranding / Typography): Update Typography Components
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/.storybook/react/global.css
  packages/blade/.storybook/react/preview.js
  packages/blade/src/components/ActionList/docs/ActionListDocs.tsx
  packages/blade/src/components/BottomSheet/BottomSheet.stories.tsx
  packages/blade/src/components/Box/Box.stories.tsx
  packages/blade/src/components/Box/LayoutPrimitivesDocs.tsx
  packages/blade/src/components/Box/styledProps/StyledProps.stories.tsx
  packages/blade/src/components/Card/CardInteractive.stories.tsx
  packages/blade/src/components/Chip/ChipGroup.stories.tsx
  packages/blade/src/components/Dropdown/docs/DropdownDocs.tsx
  packages/blade/src/components/Modal/docs/ModalDocs.tsx
  packages/blade/src/components/Skeleton/Skeleton.stories.tsx
  packages/blade/src/components/Tabs/Tabs.stories.tsx
  packages/blade/src/components/Typography/BaseText/BaseText.native.tsx
  packages/blade/src/components/Typography/BaseText/BaseText.web.tsx
  packages/blade/src/components/Typography/BaseText/getBaseTextStyles.ts
  packages/blade/src/components/Typography/BaseText/types.ts
  packages/blade/src/components/Typography/Code/Code.tsx
  packages/blade/src/components/Typography/Display/Display.tsx
  packages/blade/src/components/Typography/Heading/Heading.tsx
  packages/blade/src/components/Typography/Text/Text.tsx
  packages/blade/src/components/Typography/Title/Title.stories.tsx
  packages/blade/src/components/Typography/Title/Title.tsx
  packages/blade/src/components/Typography/Title/_KitchenSink.Title.stories.tsx
  packages/blade/src/components/Typography/Title/__tests__/Title.native.test.tsx
  packages/blade/src/components/Typography/Title/__tests__/Title.web.test.tsx
  packages/blade/src/components/Typography/Title/__tests__/__snapshots__/Title.native.test.tsx.snap
  packages/blade/src/components/Typography/Title/__tests__/__snapshots__/Title.web.test.tsx.snap
  packages/blade/src/components/Typography/Title/index.ts
  packages/blade/src/components/Typography/index.ts
  packages/blade/src/storybook-recipes/ThemePlayground/index.tsx
  packages/blade/src/tokens/theme/overrideTheme.stories.tsx
  packages/blade/src/utils/makeLetterSpacing/index.ts
  packages/blade/src/utils/makeLetterSpacing/makeLetterSpacing.ts
  packages/blade/src/utils/storybook/StoryPageWrapper.tsx
  packages/blade/src/utils/types.ts
  yarn.lock
Labels: Review - L2
