Repository razorpay/blade, pull requests merged in 2023-05, with the labels that each got.

#1122 docs(Dropdown): Controlled Dropdown API Decision
  packages/blade/src/components/Dropdown/_decisions/controlled-dropdown.md
Labels: API Decisions

#1002 chore: added bottom sheet api decisions
  packages/blade/src/components/BottomSheet/_decisions/api-revision-1-anatomy-1.png
  packages/blade/src/components/BottomSheet/_decisions/api-revision-1-anatomy-2.png
  packages/blade/src/components/BottomSheet/_decisions/api-revision-1.md
  packages/blade/src/components/BottomSheet/_decisions/bottomsheet-anatomy.png
  packages/blade/src/components/BottomSheet/_decisions/bottomsheet-header-footer-unification.md
  packages/blade/src/components/BottomSheet/_decisions/bottomsheet-library-exploration.md
  packages/blade/src/components/BottomSheet/_decisions/bottomsheet-thumbnail.png
  packages/blade/src/components/BottomSheet/_decisions/bottomsheet-to-dropdown.png
  packages/blade/src/components/BottomSheet/_decisions/bottomsheet-usage-example-1.png
  packages/blade/src/components/BottomSheet/_decisions/decisions.md
  packages/blade/src/components/Card/_decisions/decisions.md
Labels: Review - L1, API Decisions

#1139 feat(Dropdown): Controlled SelectInput Implementation
  packages/blade/src/components/ActionList/ActionList.tsx
  packages/blade/src/components/ActionList/ActionListItem.tsx
  packages/blade/src/components/ActionList/actionListUtils.ts
  packages/blade/src/components/Dropdown/Dropdown.stories.tsx
  packages/blade/src/components/Dropdown/Dropdown.tsx
  packages/blade/src/components/Dropdown/__tests__/Dropdown.native.test.tsx
  packages/blade/src/components/Dropdown/__tests__/Dropdown.web.test.tsx
  packages/blade/src/components/Dropdown/useDropdown.ts
  packages/blade/src/components/Input/SelectInput/SelectInput.tsx
Labels: Review - L2, Breaking Change

#1149 chore: add meta attribute to native
  .changeset/rude-gifts-collect.md
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.native.test.tsx.snap
  packages/blade/src/components/Amount/__tests__/__snapshots__/Amount.native.test.tsx.snap
  packages/blade/src/components/Badge/__tests__/__snapshots__/Badge.native.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.native.test.tsx.snap
  packages/blade/src/components/Box/__tests__/Box.native.test.tsx
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.native.test.tsx.snap
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.native.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.native.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.native.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.native.test.tsx.snap
  packages/blade/src/components/Counter/__tests__/__snapshots__/Counter.native.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.native.test.tsx.snap
  packages/blade/src/components/Indicator/__tests__/__snapshots__/Indicator.native.test.tsx.snap
  packages/blade/src/components/Input/BaseInput/__tests__/__snapshots__/BaseInput.native.test.tsx.snap
  packages/blade/src/components/Input/OTPInput/__tests__/__snapshots__/OTPInput.native.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.native.test.tsx.snap
  packages/blade/src/components/Input/TextArea/__tests__/__snapshots__/TextArea.native.test.tsx.snap
  packages/blade/src/components/Input/TextInput/__tests__/__snapshots__/TextInput.native.test.tsx.snap
  packages/blade/src/components/List/__tests__/__snapshots__/List.native.test.tsx.snap
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.native.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.native.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.native.test.tsx.snap
  packages/blade/src/components/Spinner/BaseSpinner/__tests__/__snapshots__/BaseSpinner.native.test.tsx.snap
  packages/blade/src/components/Spinner/Spinner/__tests__/__snapshots__/Spinner.native.test.tsx.snap
  packages/blade/src/components/Typography/Code/__tests__/__snapshots__/Code.native.test.tsx.snap
  packages/blade/src/components/Typography/Heading/__tests__/__snapshots__/Heading.native.test.tsx.snap
  packages/blade/src/components/Typography/Text/__tests__/__snapshots__/Text.native.test.tsx.snap
  packages/blade/src/components/Typography/Title/__tests__/__snapshots__/Title.native.test.tsx.snap
  packages/blade/src/components/VisuallyHidden/__tests__/__snapshots__/VisuallyHidden.native.test.tsx.snap
  packages/blade/src/utils/metaAttribute/__tests__/metaAttribute.native.test.tsx
  packages/blade/src/utils/metaAttribute/__tests__/metaAttribute.web.test.tsx
  packages/blade/src/utils/metaAttribute/metaAttribute.native.ts
Labels: Review - L1

#1152 feat(Dropdown): Add Menu (Button Trigger, `isSelected` on ActionListItem)
  packages/blade/package.json
  packages/blade/src/components/ActionList/ActionListFooter.tsx
  packages/blade/src/components/ActionList/ActionListItem.tsx
  packages/blade/src/components/ActionList/actionListUtils.ts
  packages/blade/src/components/ActionList/getA11yRoles.ts
  packages/blade/src/components/Button/BaseButton/BaseButton.tsx
  packages/blade/src/components/Button/BaseButton/StyledBaseButton.native.tsx
  packages/blade/src/components/Button/Button/Button.tsx
  packages/blade/src/components/Dropdown/Dropdown.tsx
  packages/blade/src/components/Dropdown/DropdownButton.tsx
  packages/blade/src/components/Dropdown/DropdownOverlay.native.tsx
  packages/blade/src/components/Dropdown/DropdownWithButton.stories.tsx
  packages/blade/src/components/Dropdown/DropdownWithSelect.stories.tsx
  packages/blade/src/components/Dropdown/__tests__/Dropdown.native.test.tsx
  packages/blade/src/components/Dropdown/__tests__/Dropdown.web.test.tsx
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.native.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.web.test.tsx.snap
  packages/blade/src/components/Dropdown/dropdownUtils.ts
  packages/blade/src/components/Dropdown/useDropdown.ts
  packages/blade/src/components/Input/SelectInput/SelectInput.tsx
Labels: Review - L2

#1182 feat: add border support to Box component
  .changeset/famous-bears-carry.md
  packages/blade/package.json
  packages/blade/src/components/Box/BaseBox/baseBoxStyles.ts
  packages/blade/src/components/Box/BaseBox/types/propsTypes.ts
  packages/blade/src/components/Box/Box.tsx
  packages/blade/src/components/Box/__tests__/Box.native.test.tsx
  packages/blade/src/components/Box/__tests__/Box.ssr.test.tsx
  packages/blade/src/components/Box/__tests__/Box.web.test.tsx
  packages/blade/src/components/Box/__tests__/baseBoxStyles.test.ts
Labels: Review - L2

#1185 feat: expose `elevation` on `Card`
  packages/blade/src/components/ActionList/ActionList.tsx
  packages/blade/src/components/Card/Card.stories.tsx
  packages/blade/src/components/Card/Card.tsx
  packages/blade/src/components/Card/CardSurface.native.tsx
  packages/blade/src/components/Card/CardSurface.web.tsx
  packages/blade/src/components/Card/__tests__/Card.native.test.tsx
  packages/blade/src/components/Card/__tests__/Card.ssr.test.tsx
  packages/blade/src/components/Card/__tests__/Card.web.test.tsx
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.native.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.ssr.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.web.test.tsx.snap
  packages/blade/src/tokens/theme/theme.ts
Labels: Review - L1

#1202 docs(CHANGELOG): add note on broken releases
  packages/blade/CHANGELOG.md
Labels: Review - L1

#1205 feat(Box): add onMouse events
  .changeset/warm-apples-try.md
  packages/blade/src/components/Box/BaseBox/storybookArgTypes.ts
  packages/blade/src/components/Box/BaseBox/types/propsTypes.ts
  packages/blade/src/components/Box/Box.stories.tsx
  packages/blade/src/components/Box/Box.tsx
  packages/blade/src/components/Box/__tests__/Box.web.test.tsx
Labels: Review - L2

#1194 fix(blade): fix code & amount typography
  .changeset/spotty-bats-behave.md
  packages/blade/package.json
  packages/blade/src/components/Amount/Amount.tsx
  packages/blade/src/components/Amount/__tests__/__snapshots__/Amount.native.test.tsx.snap
  packages/blade/src/components/Amount/__tests__/__snapshots__/Amount.web.test.tsx.snap
  packages/blade/src/components/List/__tests__/__snapshots__/List.native.test.tsx.snap
  packages/blade/src/components/Typography/Code/Code.stories.tsx
  packages/blade/src/components/Typography/Code/Code.tsx
  packages/blade/src/components/Typography/Code/__tests__/__snapshots__/Code.native.test.tsx.snap
Labels: Review - L1

#1183 feat(blade): added switch component
  .changeset/afraid-deers-tan.md
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/src/components/Box/BaseBox/types/propsTypes.ts
  packages/blade/src/components/Box/__tests__/Box.ssr.test.tsx
  packages/blade/src/components/Box/__tests__/Box.web.test.tsx
  packages/blade/src/components/Checkbox/Checkbox.tsx
  packages/blade/src/components/Checkbox/__tests__/Checkbox.native.test.tsx
  packages/blade/src/components/Checkbox/__tests__/Checkbox.web.test.tsx
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.ssr.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.web.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.ssr.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/CheckboxGroup.web.test.tsx.snap
  packages/blade/src/components/Checkbox/checkboxTokens.ts
  packages/blade/src/components/Checkbox/useCheckbox.ts
  packages/blade/src/components/Form/Selector/SelectorInput.native.tsx
  packages/blade/src/components/Form/Selector/SelectorInput.web.tsx
  packages/blade/src/components/Form/Selector/SelectorLabel.native.tsx
  packages/blade/src/components/Form/Selector/SelectorLabel.web.tsx
  packages/blade/src/components/Form/Selector/types.ts
  packages/blade/src/components/Radio/Radio.tsx
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.ssr.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.web.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.ssr.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/RadioGroup.web.test.tsx.snap
  packages/blade/src/components/Radio/radioTokens.ts
  packages/blade/src/components/Switch/AnimatedThumb.native.tsx
  packages/blade/src/components/Switch/AnimatedThumb.web.tsx
  packages/blade/src/components/Switch/AnimatedThumbIcon.native.tsx
  packages/blade/src/components/Switch/AnimatedThumbIcon.web.tsx
  packages/blade/src/components/Switch/Switch.stories.tsx
  packages/blade/src/components/Switch/Switch.tsx
  packages/blade/src/components/Switch/SwitchTrack.native.tsx
  packages/blade/src/components/Switch/SwitchTrack.web.ts
  packages/blade/src/components/Switch/Thumb.tsx
  packages/blade/src/components/Switch/ThumbIcon.tsx
  packages/blade/src/components/Switch/__tests__/Switch.native.test.tsx
  packages/blade/src/components/Switch/__tests__/Switch.ssr.test.tsx
  packages/blade/src/components/Switch/__tests__/Switch.web.test.tsx
  packages/blade/src/components/Switch/__tests__/__snapshots__/Switch.native.test.tsx.snap
  packages/blade/src/components/Switch/__tests__/__snapshots__/Switch.ssr.test.tsx.snap
  packages/blade/src/components/Switch/__tests__/__snapshots__/Switch.web.test.tsx.snap
  packages/blade/src/components/Switch/getTrackStyles.ts
  packages/blade/src/components/Switch/index.ts
  packages/blade/src/components/Switch/switchTokens.ts
  packages/blade/src/components/Switch/types.ts
  packages/blade/src/tokens/global/size.ts
Labels: Review - L2

#1215 docs(blade): improve BottomSheet documentation
  .changeset/pretty-clocks-thank.md
  packages/blade/src/components/BottomSheet/BottomSheet.stories.tsx
  packages/blade/src/components/BottomSheet/types.ts
Labels: Review - L1

#1208 feat(Button): add `href` to Button to render it as anchor tag
  .changeset/link-is-here.md
  packages/blade/package.json
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.ssr.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.native.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.web.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/BaseButton.tsx
  packages/blade/src/components/Button/BaseButton/StyledBaseButton.native.tsx
  packages/blade/src/components/Button/BaseButton/StyledBaseButton.web.tsx
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.native.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.ssr.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.web.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/getStyledBaseButtonStyles.ts
  packages/blade/src/components/Button/Button/Button.stories.tsx
  packages/blade/src/components/Button/Button/Button.tsx
  packages/blade/src/components/Button/Button/__tests__/Button.native.test.tsx
  packages/blade/src/components/Button/Button/__tests__/Button.ssr.test.tsx
  packages/blade/src/components/Button/Button/__tests__/Button.web.test.tsx
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.native.test.tsx.snap
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.ssr.test.tsx.snap
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.web.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.native.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.ssr.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.web.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.native.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.ssr.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.web.test.tsx.snap
  packages/blade/src/components/Link/BaseLink/BaseLink.tsx
  packages/blade/src/components/Link/BaseLink/types.ts
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.native.test.tsx.snap
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.web.test.tsx.snap
Labels: Ready to Merge

#1229 feat(blade): add textAlign to Box
  .changeset/spotty-trainers-beam.md
  packages/blade/src/components/Alert/Alert.tsx
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.native.test.tsx.snap
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.ssr.test.tsx.snap
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.web.test.tsx.snap
  packages/blade/src/components/Badge/Badge.tsx
  packages/blade/src/components/Badge/__tests__/__snapshots__/Badge.native.test.tsx.snap
  packages/blade/src/components/Badge/__tests__/__snapshots__/Badge.ssr.test.tsx.snap
  packages/blade/src/components/Badge/__tests__/__snapshots__/Badge.web.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.native.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.web.test.tsx.snap
  packages/blade/src/components/Box/BaseBox/baseBoxStyles.ts
  packages/blade/src/components/Box/BaseBox/types/propsTypes.ts
  packages/blade/src/components/Box/Box.tsx
  packages/blade/src/components/Card/Card.tsx
  packages/blade/src/components/Card/CardFooter.tsx
  packages/blade/src/components/Card/CardHeader.tsx
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.native.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.ssr.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.web.test.tsx.snap
  packages/blade/src/components/Counter/Counter.tsx
  packages/blade/src/components/Counter/__tests__/__snapshots__/Counter.native.test.tsx.snap
  packages/blade/src/components/Counter/__tests__/__snapshots__/Counter.ssr.test.tsx.snap
  packages/blade/src/components/Counter/__tests__/__snapshots__/Counter.web.test.tsx.snap
  packages/blade/src/components/Dropdown/Dropdown.tsx
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.native.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.ssr.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.web.test.tsx.snap
  packages/blade/src/components/Indicator/Indicator.tsx
  packages/blade/src/components/Indicator/__tests__/__snapshots__/Indicator.native.test.tsx.snap
  packages/blade/src/components/Indicator/__tests__/__snapshots__/Indicator.ssr.test.tsx.snap
  packages/blade/src/components/Indicator/__tests__/__snapshots__/Indicator.web.test.tsx.snap
  packages/blade/src/components/Typography/Heading/Heading.tsx
Labels: Review - L1

#1224 feat(DropdownLink): add DropdownLink trigger for Dropdown
  .changeset/quick-rockets-worry.md
  packages/blade/src/components/Dropdown/Dropdown.tsx
  packages/blade/src/components/Dropdown/DropdownLink.tsx
  packages/blade/src/components/Dropdown/__tests__/Dropdown.native.test.tsx
  packages/blade/src/components/Dropdown/__tests__/Dropdown.web.test.tsx
  packages/blade/src/components/Dropdown/docs/DropdownDocs.tsx
  packages/blade/src/components/Dropdown/docs/DropdownWithButton.stories.tsx
  packages/blade/src/components/Dropdown/docs/stories.ts
  packages/blade/src/components/Dropdown/dropdownUtils.ts
  packages/blade/src/components/Dropdown/index.ts
  packages/blade/src/components/Link/BaseLink/StyledBaseLink.native.tsx
  packages/blade/src/components/Link/BaseLink/types.ts
  packages/blade/src/components/Link/Link/Link.tsx
Labels: Review - L2, Ready to Merge

#1236 feat(Link): add `xsmall` Link size
  .changeset/early-hounds-eat.md
  packages/blade/src/components/Link/BaseLink/BaseLink.tsx
  packages/blade/src/components/Link/Link/Link.stories.tsx
  packages/blade/src/components/Link/Link/Link.tsx
Labels: Review - L2

#1230 fix(Dropdown): add min-width and max-width in menu trigger dropdown
  .changeset/nice-bears-doubt.md
  packages/blade/src/components/Dropdown/DropdownOverlay.web.tsx
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.ssr.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.web.test.tsx.snap
  packages/blade/src/components/Dropdown/docs/DropdownDocs.tsx
Labels: Review - L2
