Repository razorpay/blade, pull requests merged in 2024-02, with the labels that each got.

#2001 chore: add server side pagination with `totalItemCount` & `paginationType`
  .changeset/blue-crabs-rule.md
  packages/blade/src/components/Table/Table.web.tsx
  packages/blade/src/components/Table/TableContext.tsx
  packages/blade/src/components/Table/TablePagination.web.tsx
  packages/blade/src/components/Table/__tests__/Table.web.test.tsx
  packages/blade/src/components/Table/docs/TableExamples.stories.tsx
  packages/blade/src/components/Table/docs/TablePaginationExamples.stories.tsx
  packages/blade/src/components/Table/docs/stories.ts
  packages/blade/src/components/Table/types.ts
Labels: Review - L2

#1962 feat(Dropdown): add E2E tests
  .changeset/lovely-chairs-sneeze.md
  packages/blade/src/components/Dropdown/Dropdown.tsx
  packages/blade/src/components/Dropdown/__tests__/Dropdown.test.stories.tsx
  packages/blade/src/components/Dropdown/__tests__/Dropdown.web.test.tsx
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.web.tsx
Labels: Review - L2, Run Interaction Tests

#2003 feat: i18nify SDK integrated for `Amount` component
  .changeset/purple-flies-end.md
  packages/blade/docs/guides/Installation.stories.mdx
  packages/blade/package.json
  packages/blade/src/components/Amount/Amount.stories.tsx
  packages/blade/src/components/Amount/Amount.tsx
  packages/blade/src/components/Amount/__tests__/Amount.native.test.tsx
  packages/blade/src/components/Amount/__tests__/Amount.web.test.tsx
  packages/blade/src/components/Amount/__tests__/__snapshots__/Amount.native.test.tsx.snap
  packages/blade/src/components/Amount/__tests__/__snapshots__/Amount.web.test.tsx.snap
  packages/blade/src/components/Amount/amountTokens.ts
  packages/blade/upgrade-v11.md
  yarn.lock
Labels: Review - L2

#1990 docs(blade): Toast API decisions
  packages/blade/src/components/Toast/_decisions/decisions.md
  packages/blade/src/components/Toast/_decisions/example-promotional-toast.png
  packages/blade/src/components/Toast/_decisions/toast-anatomy.png
  packages/blade/src/components/Toast/_decisions/toast-thumbnail.png
Labels: Review - L1

#2012 test(e2e): add toast interaction tests
  packages/blade/src/components/Toast/Toast.web.tsx
  packages/blade/src/components/Toast/ToastContainer.web.tsx
  packages/blade/src/components/Toast/__tests__/Toast.test.stories.tsx
Labels: Review - L1

#2000 feat(blade): add toast component
  .changeset/lovely-eggs-juggle.md
  packages/blade/package.json
  packages/blade/src/components/Toast/Toast.native.tsx
  packages/blade/src/components/Toast/Toast.stories.tsx
  packages/blade/src/components/Toast/Toast.web.tsx
  packages/blade/src/components/Toast/ToastContainer.native.tsx
  packages/blade/src/components/Toast/ToastContainer.web.tsx
  packages/blade/src/components/Toast/__tests__/Toast.test.stories.tsx
  packages/blade/src/components/Toast/_decisions/decisions.md
  packages/blade/src/components/Toast/constants.ts
  packages/blade/src/components/Toast/index.ts
  packages/blade/src/components/Toast/types.ts
  packages/blade/src/components/Toast/useToast.tsx
  packages/blade/src/components/index.ts
  yarn.lock
Labels: Review - L2

#2009 docs(Drawer): add API decision
  packages/blade/src/components/Drawer/_decisions/2024-02-07-20-04-07.png
  packages/blade/src/components/Drawer/_decisions/2024-02-12-11-01-32.png
  packages/blade/src/components/Drawer/_decisions/decisions.md
Labels: Review - L1

#2041 docs: multiple docs UI fixes and unpkg installation link in installation guide
  packages/blade/docs/guides/Installation.stories.mdx
  packages/blade/docs/guides/Intro.stories.mdx
  packages/blade/docs/guides/Usage.stories.mdx
  packages/blade/src/components/ActionList/docs/stories.ts
  packages/blade/src/components/Badge/Badge.stories.tsx
  packages/blade/src/components/Box/BaseBox/BaseBox.internal.stories.tsx
  packages/blade/src/components/Box/Box.stories.tsx
  packages/blade/src/components/Box/LayoutPrimitivesDocs.tsx
  packages/blade/src/components/Box/styledProps/StyledProps.stories.tsx
  packages/blade/src/components/Dropdown/docs/DropdownWithSelect.stories.tsx
  packages/blade/src/components/Dropdown/docs/stories.ts
  packages/blade/src/components/Link/Link/Link.stories.tsx
  packages/blade/src/components/List/List.stories.tsx
  packages/blade/src/components/Popover/__tests__/Popover.test.stories.tsx
  packages/blade/src/components/Table/docs/APIStories/TableAPI.stories.tsx
  packages/blade/src/components/Table/docs/APIStories/TableBodyAPI.stories.tsx
  packages/blade/src/components/Table/docs/APIStories/TableCellAPI.stories.tsx
  packages/blade/src/components/Table/docs/APIStories/TableFooterAPI.stories.tsx
  packages/blade/src/components/Table/docs/APIStories/TableFooterCellAPI.stories.tsx
  packages/blade/src/components/Table/docs/APIStories/TableFooterRowAPI.stories.tsx
  packages/blade/src/components/Table/docs/APIStories/TableHeaderAPI.stories.tsx
  packages/blade/src/components/Table/docs/APIStories/TableHeaderCellAPI.stories.tsx
  packages/blade/src/components/Table/docs/APIStories/TableHeaderRowAPI.stories.tsx
  packages/blade/src/components/Table/docs/APIStories/TablePaginationAPI.stories.tsx
  packages/blade/src/components/Table/docs/APIStories/TableRowAPI.stories.tsx
  packages/blade/src/components/Table/docs/APIStories/TableToolbarAPI.stories.tsx
  packages/blade/src/components/Table/docs/APIStories/TableToolbarActionsAPI.stories.tsx
  packages/blade/src/components/Tooltip/__tests__/Tooltip.test.stories.tsx
  packages/blade/src/components/Typography/BaseText/BaseText.stories.tsx
  packages/blade/src/components/Typography/Display/Display.stories.tsx
  packages/blade/src/components/Typography/Heading/Heading.stories.tsx
  packages/blade/src/components/Typography/Text/Text.stories.tsx
  packages/blade/src/utils/lodashButBetter/get.ts
  packages/blade/src/utils/storybook/ArgsTable.tsx
  packages/blade/src/utils/storybook/Sandbox/SandpackEditor/Sandbox.web.tsx
  packages/blade/src/utils/storybook/Sandbox/StackblitzEditor/Sandbox.web.tsx
  packages/blade/src/utils/storybook/Sandbox/baseCode.ts
  packages/blade/src/utils/types.ts
Labels: Review - L2

#2011 feat(Drawer): add Drawer component
  packages/blade/src/components/BaseHeaderFooter/BaseHeader.tsx
  packages/blade/src/components/BaseHeaderFooter/BaseHeaderFooter.internal.stories.tsx
  packages/blade/src/components/BladeProvider/BladeProvider.web.tsx
  packages/blade/src/components/BottomSheet/BottomSheet.native.tsx
  packages/blade/src/components/BottomSheet/BottomSheet.web.tsx
  packages/blade/src/components/Button/BaseButton/buttonTokens.ts
  packages/blade/src/components/Drawer/Drawer.native.tsx
  packages/blade/src/components/Drawer/Drawer.stories.tsx
  packages/blade/src/components/Drawer/Drawer.web.tsx
  packages/blade/src/components/Drawer/DrawerContext.ts
  packages/blade/src/components/Drawer/DrawerSubcomponents.native.tsx
  packages/blade/src/components/Drawer/DrawerSubcomponents.web.tsx
  packages/blade/src/components/Drawer/StackProvider.tsx
  packages/blade/src/components/Drawer/drawerComponentIds.ts
  packages/blade/src/components/Drawer/index.ts
  packages/blade/src/components/Drawer/types.ts
  packages/blade/src/components/Dropdown/DropdownOverlay.web.tsx
  packages/blade/src/components/Modal/Modal.web.tsx
  packages/blade/src/components/Modal/ModalHeader.web.tsx
  packages/blade/src/components/Modal/modalTokens.ts
  packages/blade/src/components/Popover/Popover.native.tsx
  packages/blade/src/components/Popover/Popover.web.tsx
  packages/blade/src/components/Popover/constants.ts
  packages/blade/src/components/SpotlightPopoverTour/TourMask.web.tsx
  packages/blade/src/components/SpotlightPopoverTour/TourPopover.web.tsx
  packages/blade/src/components/SpotlightPopoverTour/tourTokens.ts
  packages/blade/src/components/Tooltip/Tooltip.native.tsx
  packages/blade/src/components/Tooltip/Tooltip.web.tsx
  packages/blade/src/components/Tooltip/constants.ts
  packages/blade/src/components/index.ts
  packages/blade/src/utils/componentZIndices.ts
  packages/blade/src/utils/metaAttribute/metaConstants.ts
Labels: Review - L2

#2015 feat(Drawer): Documentation & Tests
  packages/blade/.storybook/react/preview.tsx
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.native.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.ssr.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.web.test.tsx.snap
  packages/blade/src/components/Drawer/Drawer.web.tsx
  packages/blade/src/components/Drawer/__tests__/Drawer.test.stories.tsx
  packages/blade/src/components/Drawer/__tests__/Drawer.web.test.tsx
  packages/blade/src/components/Drawer/__tests__/__snapshots__/Drawer.web.test.tsx.snap
  packages/blade/src/components/Drawer/docs/Drawer.stories.tsx
  packages/blade/src/components/Drawer/docs/DrawerExamples.stories.tsx
  packages/blade/src/components/Drawer/docs/_KitchenSink.Drawer.stories.tsx
  packages/blade/src/components/Drawer/docs/stories.ts
  packages/blade/src/components/Drawer/types.ts
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.native.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.ssr.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.web.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.ssr.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.web.test.tsx.snap
  packages/blade/src/components/Modal/__tests__/__snapshots__/Modal.web.test.tsx.snap
  packages/blade/src/utils/types.ts
Labels: Review - L3, Run Interaction Tests

#2027 docs(blade): add Breadcrumb API
  packages/blade/src/components/Breadcrumb/_decisions/breadcrumb-anatomy.png
  packages/blade/src/components/Breadcrumb/_decisions/breadcrumb-thumbnail.png
  packages/blade/src/components/Breadcrumb/_decisions/decisions.md
  packages/blade/src/components/Breadcrumb/_decisions/example-last-separator.png
Labels: Review - L1

#2010 docs(FileUpload): add API decisions
  packages/blade/src/components/FileUpload/_decisions/decisions.md
  packages/blade/src/components/FileUpload/_decisions/file-upload-anatomy.png
  packages/blade/src/components/FileUpload/_decisions/file-upload-item-anatomy.png
  packages/blade/src/components/FileUpload/_decisions/file-upload-item-variants.png
  packages/blade/src/components/FileUpload/_decisions/multiple-upload-variant.png
  packages/blade/src/components/FileUpload/_decisions/single-upload-variant.png
Labels: Review - L1, API Decisions

#2040 test(FileUpload): add E2E & unit test cases
  packages/blade/src/components/FileUpload/FileUpload.native.tsx
  packages/blade/src/components/FileUpload/FileUpload.web.tsx
  packages/blade/src/components/FileUpload/__tests__/FileUpload.ssr.test.tsx
  packages/blade/src/components/FileUpload/__tests__/FileUpload.test.stories.tsx
  packages/blade/src/components/FileUpload/__tests__/FileUpload.web.test.tsx
  packages/blade/src/components/FileUpload/__tests__/__snapshots__/FileUpload.ssr.test.tsx.snap
  packages/blade/src/components/FileUpload/__tests__/__snapshots__/FileUpload.web.test.tsx.snap
Labels: Review - L2, Run Interaction Tests

#2016 feat: add `FileUpload` component
  .changeset/eleven-years-occur.md
  packages/blade/src/components/FileUpload/FileUpload.native.tsx
  packages/blade/src/components/FileUpload/FileUpload.web.tsx
  packages/blade/src/components/FileUpload/FileUploadItem.tsx
  packages/blade/src/components/FileUpload/FileUploadItemIcon.tsx
  packages/blade/src/components/FileUpload/StyledFileUploadItemWrapper.tsx
  packages/blade/src/components/FileUpload/StyledFileUploadWrapper.tsx
  packages/blade/src/components/FileUpload/__tests__/FileUpload.ssr.test.tsx
  packages/blade/src/components/FileUpload/__tests__/FileUpload.test.stories.tsx
  packages/blade/src/components/FileUpload/__tests__/FileUpload.web.test.tsx
  packages/blade/src/components/FileUpload/__tests__/__snapshots__/FileUpload.ssr.test.tsx.snap
  packages/blade/src/components/FileUpload/__tests__/__snapshots__/FileUpload.web.test.tsx.snap
  packages/blade/src/components/FileUpload/docs/FileUpload.stories.tsx
  packages/blade/src/components/FileUpload/docs/FileUploadExamples.stories.tsx
  packages/blade/src/components/FileUpload/docs/_KitchenSink.FileUpload.stories.tsx
  packages/blade/src/components/FileUpload/docs/stories.tsx
  packages/blade/src/components/FileUpload/fileUploadTokens.ts
  packages/blade/src/components/FileUpload/index.ts
  packages/blade/src/components/FileUpload/isFileAccepted.tsx
  packages/blade/src/components/FileUpload/types.ts
  packages/blade/src/utils/metaAttribute/metaConstants.ts
Labels: Review - L2

#1975 ci: add bundle size report
  .github/actions/install-dependencies/action.yml
  .github/workflows/blade-bundle-size.yml
  .github/workflows/blade-validate.yml
  .github/workflows/release.yml
  package.json
  packages/blade/.gitignore
  packages/blade/dangerfile.js
  packages/blade/package.json
  packages/blade/patches/bundlemon+2.0.1.patch
  packages/blade/scripts/generateBundleDiff.js
  packages/blade/scripts/generateBundleSizeInfo.js
  packages/blade/src/components/Button/Button/index.ts
  packages/blade/src/components/Button/index.ts
  packages/blade/src/components/Link/Link/index.ts
  packages/blade/src/components/Link/index.ts
  yarn.lock
Labels: Review - L2

#2029 test: add breadcrumb tests
  packages/blade/src/components/Breadcrumb/_KitchenSink.Breadcrumb.stories.tsx
  packages/blade/src/components/Breadcrumb/__tests__/Breadcrumb.ssr.test.tsx
  packages/blade/src/components/Breadcrumb/__tests__/Breadcrumb.web.test.tsx
  packages/blade/src/components/Breadcrumb/__tests__/__snapshots__/Breadcrumb.ssr.test.tsx.snap
  packages/blade/src/components/Breadcrumb/__tests__/__snapshots__/Breadcrumb.web.test.tsx.snap
Labels: Review - L2

#2028 feat(blade): add `Breadcrumb` component
  .changeset/five-cows-cheer.md
  packages/blade/src/components/Breadcrumb/Breadcrumb.native.tsx
  packages/blade/src/components/Breadcrumb/Breadcrumb.stories.tsx
  packages/blade/src/components/Breadcrumb/Breadcrumb.web.tsx
  packages/blade/src/components/Breadcrumb/BreadcrumbContext.tsx
  packages/blade/src/components/Breadcrumb/BreadcrumbItem.native.tsx
  packages/blade/src/components/Breadcrumb/BreadcrumbItem.web.tsx
  packages/blade/src/components/Breadcrumb/_KitchenSink.Breadcrumb.stories.tsx
  packages/blade/src/components/Breadcrumb/__tests__/Breadcrumb.ssr.test.tsx
  packages/blade/src/components/Breadcrumb/__tests__/Breadcrumb.web.test.tsx
  packages/blade/src/components/Breadcrumb/__tests__/__snapshots__/Breadcrumb.ssr.test.tsx.snap
  packages/blade/src/components/Breadcrumb/__tests__/__snapshots__/Breadcrumb.web.test.tsx.snap
  packages/blade/src/components/Breadcrumb/index.ts
  packages/blade/src/components/Breadcrumb/types.ts
  packages/blade/src/components/Link/BaseLink/BaseLink.tsx
  packages/blade/src/components/index.ts
  packages/blade/src/utils/metaAttribute/metaConstants.ts
Labels: Review - L2
