Repository razorpay/blade, pull requests merged in 2024-01, with the labels that each got.

#1929 fix(Table): handle case where currentPage is greater than total pages
  .changeset/famous-cats-push.md
  packages/blade/src/components/Table/TablePagination.web.tsx
  packages/blade/src/components/Table/__tests__/Table.web.test.tsx
Labels: Review - L2

#1930 refactor: rebrand Radio, Checkbox & related common form components
  packages/blade/.storybook/react/main.ts
  packages/blade/jest.native.config.js
  packages/blade/jest.web.config.js
  packages/blade/rebranded-components.js
  packages/blade/src/components/Checkbox/CheckboxIcon/CheckboxIcon.tsx
  packages/blade/src/components/Checkbox/CheckboxIcon/CheckboxIconWrapperStyles.ts
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.native.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.ssr.test.tsx.snap
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.web.test.tsx.snap
  packages/blade/src/components/Checkbox/checkboxTokens.ts
  packages/blade/src/components/Form/FormHint.tsx
  packages/blade/src/components/Form/FormLabel.tsx
  packages/blade/src/components/Form/Selector/SelectorInput.web.tsx
  packages/blade/src/components/Form/Selector/SelectorSupportText.tsx
  packages/blade/src/components/Form/Selector/SelectorTitle.tsx
  packages/blade/src/components/Form/Selector/types.ts
  packages/blade/src/components/Radio/Radio.tsx
  packages/blade/src/components/Radio/RadioIcon/RadioIcon.tsx
  packages/blade/src/components/Radio/RadioIcon/RadioIconWrapperStyles.ts
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.native.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.ssr.test.tsx.snap
  packages/blade/src/components/Radio/__tests__/__snapshots__/Radio.web.test.tsx.snap
  packages/blade/src/components/Radio/radioTokens.ts
  packages/blade/src/components/index.ts
  packages/blade/src/utils/getFocusRingStyles/getFocusRingStyles.d.ts
  packages/blade/src/utils/getFocusRingStyles/getFocusRingStyles.native.test.ts
  packages/blade/src/utils/getFocusRingStyles/getFocusRingStyles.native.ts
  packages/blade/src/utils/getFocusRingStyles/getFocusRingStyles.web.test.ts
  packages/blade/src/utils/getFocusRingStyles/getFocusRingStyles.web.ts
  packages/blade/src/utils/getFocusRingStyles/index.ts
Labels: Review - L1

#1895 feat: setup interaction testing
  .github/workflows/blade-interaction-tests.yml
  .github/workflows/blade-validate.yml
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/.storybook/react/main.ts
  packages/blade/.storybook/react/preview.tsx
  packages/blade/package.json
  packages/blade/src/components/Carousel/Carousel.stories.tsx
  packages/blade/src/components/Carousel/Carousel.web.tsx
  packages/blade/src/components/Carousel/__tests__/Carousel.test.stories.tsx
  packages/blade/src/components/Carousel/__tests__/Carousel.web.test.tsx
  packages/blade/src/components/Carousel/__tests__/__snapshots__/Carousel.web.test.tsx.snap
  packages/blade/src/storybook-recipes/AccessibilityInterop/AccessibilityInteropDemo.stories.tsx
  packages/blade/test-runner-jest.config.js
  yarn.lock
Labels: Run Interaction Tests

#1932 refactor: rebrand switch
  packages/blade/.storybook/react/main.ts
  packages/blade/rebranded-components.js
  packages/blade/src/components/Switch/Switch.stories.tsx
  packages/blade/src/components/Switch/__tests__/__snapshots__/Switch.native.test.tsx.snap
  packages/blade/src/components/Switch/__tests__/__snapshots__/Switch.ssr.test.tsx.snap
  packages/blade/src/components/Switch/__tests__/__snapshots__/Switch.web.test.tsx.snap
  packages/blade/src/components/Switch/switchTokens.ts
  packages/blade/src/components/index.ts
  packages/blade/src/tokens/theme/bladeTheme.ts
  packages/blade/src/tokens/theme/theme.ts
  packages/blade/tsconfig.json
Labels: Review - L1

#1965 chore: add `onHover` & `onClick` callback to `TableRow`
  .changeset/quick-students-beam.md
  packages/blade/src/components/Table/TableBody.web.tsx
  packages/blade/src/components/Table/__tests__/Table.web.test.tsx
  packages/blade/src/components/Table/__tests__/__snapshots__/Table.web.test.tsx.snap
  packages/blade/src/components/Table/types.ts
Labels: P0

#1931 refactor(blade): rebrand Alert
  packages/blade/.storybook/react/main.ts
  packages/blade/rebranded-components.js
  packages/blade/src/components/Alert/Alert.stories.tsx
  packages/blade/src/components/Alert/Alert.tsx
  packages/blade/src/components/Alert/__tests__/Alert.native.test.tsx
  packages/blade/src/components/Alert/__tests__/Alert.ssr.test.tsx
  packages/blade/src/components/Alert/__tests__/Alert.web.test.tsx
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.native.test.tsx.snap
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.ssr.test.tsx.snap
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.web.test.tsx.snap
  packages/blade/src/components/Alert/styles.ts
  packages/blade/src/components/Alert/types.ts
  packages/blade/src/components/Checkbox/__tests__/__snapshots__/Checkbox.web.test.tsx.snap
  packages/blade/src/components/Collapsible/__tests__/__snapshots__/Collapsible.native.test.tsx.snap
  packages/blade/src/components/Collapsible/__tests__/__snapshots__/Collapsible.web.test.tsx.snap
  packages/blade/src/components/Link/BaseLink/BaseLink.tsx
  packages/blade/src/components/Link/BaseLink/__tests__/BaseLink.web.test.tsx
  packages/blade/src/components/Link/BaseLink/__tests__/__snapshots__/BaseLink.native.test.tsx.snap
  packages/blade/src/components/Link/BaseLink/__tests__/__snapshots__/BaseLink.ssr.test.tsx.snap
  packages/blade/src/components/Link/BaseLink/__tests__/__snapshots__/BaseLink.web.test.tsx.snap
  packages/blade/src/components/Link/Link/__tests__/__snapshots__/Link.native.test.tsx.snap
  packages/blade/src/components/Link/Link/__tests__/__snapshots__/Link.ssr.test.tsx.snap
  packages/blade/src/components/Link/Link/__tests__/__snapshots__/Link.web.test.tsx.snap
  packages/blade/src/components/List/__tests__/__snapshots__/List.native.test.tsx.snap
  packages/blade/src/components/index.ts
Labels: Review - L1

#1948 refactor!: rebrand `Chip` & `ChipGroup` components
  packages/blade/.storybook/react/main.ts
  packages/blade/rebranded-components.js
  packages/blade/src/components/Chip/AnimatedChip.native.tsx
  packages/blade/src/components/Chip/AnimatedChip.web.tsx
  packages/blade/src/components/Chip/Chip.stories.tsx
  packages/blade/src/components/Chip/Chip.tsx
  packages/blade/src/components/Chip/ChipGroup.stories.tsx
  packages/blade/src/components/Chip/ChipGroup.tsx
  packages/blade/src/components/Chip/StyledChipWrapper.web.tsx
  packages/blade/src/components/Chip/__tests__/Chip.web.test.tsx
  packages/blade/src/components/Chip/__tests__/ChipGroup.native.test.tsx
  packages/blade/src/components/Chip/__tests__/ChipGroup.web.test.tsx
  packages/blade/src/components/Chip/__tests__/__snapshots__/Chip.native.test.tsx.snap
  packages/blade/src/components/Chip/__tests__/__snapshots__/Chip.ssr.test.tsx.snap
  packages/blade/src/components/Chip/__tests__/__snapshots__/Chip.web.test.tsx.snap
  packages/blade/src/components/Chip/__tests__/__snapshots__/ChipGroup.native.test.tsx.snap
  packages/blade/src/components/Chip/__tests__/__snapshots__/ChipGroup.ssr.test.tsx.snap
  packages/blade/src/components/Chip/__tests__/__snapshots__/ChipGroup.web.test.tsx.snap
  packages/blade/src/components/Chip/chipTokens.ts
  packages/blade/src/components/Chip/getAnimatedChipStyles.ts
  packages/blade/src/components/Chip/types.ts
  packages/blade/src/components/Chip/useChipGroup.ts
  packages/blade/src/components/index.ts
  packages/blade/upgrade-v11.md
Labels: Review - L2

#1959 feat(blade): rebranding whitelabel fix
  packages/blade/.storybook/react/preview.tsx
  packages/blade/docs/guides/CreateTheme.stories.mdx
  packages/blade/docs/guides/ThemePlayground.stories.mdx
  packages/blade/src/components/Accordion/StyledAccordionButton.web.tsx
  packages/blade/src/components/Accordion/__tests__/__snapshots__/Accordion.ssr.test.tsx.snap
  packages/blade/src/components/Accordion/__tests__/__snapshots__/Accordion.web.test.tsx.snap
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.ssr.test.tsx.snap
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.web.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.native.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.ssr.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.web.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/BaseButton.tsx
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.native.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.ssr.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.web.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/buttonTokens.ts
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.native.test.tsx.snap
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.ssr.test.tsx.snap
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.web.test.tsx.snap
  packages/blade/src/components/Button/IconButton/StyledIconButton.web.tsx
  packages/blade/src/components/Button/IconButton/__tests__/__snapshots__/IconButton.ssr.test.tsx.snap
  packages/blade/src/components/Button/IconButton/__tests__/__snapshots__/IconButton.web.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.native.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.ssr.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.web.test.tsx.snap
  packages/blade/src/components/Carousel/Carousel.stories.tsx
  packages/blade/src/components/Carousel/Indicators/getIndicatorButtonStyles.ts
  packages/blade/src/components/Carousel/NavigationButton/getNavigationButtonStyles.ts
  packages/blade/src/components/Carousel/__tests__/__snapshots__/Carousel.ssr.test.tsx.snap
  packages/blade/src/components/Carousel/__tests__/__snapshots__/Carousel.web.test.tsx.snap
  packages/blade/src/components/Checkbox/CheckboxIcon/CheckboxIcon.tsx
  packages/blade/src/components/Collapsible/__tests__/__snapshots__/Collapsible.native.test.tsx.snap
  packages/blade/src/components/Collapsible/__tests__/__snapshots__/Collapsible.ssr.test.tsx.snap
  packages/blade/src/components/Collapsible/__tests__/__snapshots__/Collapsible.web.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.ssr.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.web.test.tsx.snap
  packages/blade/src/components/Modal/__tests__/__snapshots__/Modal.web.test.tsx.snap
  packages/blade/src/components/Popover/PopoverInteractiveWrapper.web.tsx
  packages/blade/src/components/Popover/__tests__/__snapshots__/Popover.native.test.tsx.snap
  packages/blade/src/components/Popover/__tests__/__snapshots__/Popover.web.test.tsx.snap
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.native.test.tsx.snap
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.web.test.tsx.snap
  packages/blade/src/components/Radio/radioTokens.ts
  packages/blade/src/components/Tag/__tests__/__snapshots__/Tag.ssr.test.tsx.snap
  packages/blade/src/components/Tag/__tests__/__snapshots__/Tag.web.test.tsx.snap
  packages/blade/src/components/Tooltip/__tests__/__snapshots__/Tooltip.native.test.tsx.snap
  packages/blade/src/components/Tooltip/__tests__/__snapshots__/Tooltip.ssr.test.tsx.snap
  packages/blade/src/components/Tooltip/__tests__/__snapshots__/Tooltip.web.test.tsx.snap
  packages/blade/src/storybook-recipes/ThemePlayground/BrandedComponentKitchenSink.tsx
  packages/blade/src/storybook-recipes/ThemePlayground/Checkout/CheckoutCard.tsx
  packages/blade/src/storybook-recipes/ThemePlayground/Checkout/CheckoutHome.tsx
  packages/blade/src/storybook-recipes/ThemePlayground/Checkout/CheckoutShell.tsx
  packages/blade/src/storybook-recipes/ThemePlayground/PhantomUI.tsx
  packages/blade/src/storybook-recipes/ThemePlayground/ThemeSelector.tsx
  packages/blade/src/storybook-recipes/ThemePlayground/index.tsx
  packages/blade/src/tokens/theme/createTheme.ts
  yarn.lock
Labels: Review - L2

#1952 refactor: rebrand `SpotlightPopoverTour`
  packages/blade/.storybook/react/main.ts
  packages/blade/rebranded-components.js
  packages/blade/src/components/Popover/PopoverContent.tsx
  packages/blade/src/components/SpotlightPopoverTour/TourMask.web.tsx
  packages/blade/src/components/SpotlightPopoverTour/TourPopover.web.tsx
  packages/blade/src/components/SpotlightPopoverTour/__tests__/__snapshots__/Tour.ssr.test.tsx.snap
  packages/blade/src/components/SpotlightPopoverTour/__tests__/__snapshots__/Tour.web.test.tsx.snap
  packages/blade/src/components/SpotlightPopoverTour/docs/Tour.stories.tsx
  packages/blade/src/components/SpotlightPopoverTour/docs/TourDocs.tsx
  packages/blade/src/components/SpotlightPopoverTour/docs/examples.ts
  packages/blade/src/components/index.ts
Labels: Review - L2

#1973 refactor(blade): rebrand Table
  packages/blade/.storybook/react/main.ts
  packages/blade/rebranded-components.js
  packages/blade/src/components/Accordion/StyledAccordionButton.web.tsx
  packages/blade/src/components/Button/IconButton/StyledIconButton.web.tsx
  packages/blade/src/components/Carousel/Indicators/getIndicatorButtonStyles.ts
  packages/blade/src/components/Carousel/NavigationButton/getNavigationButtonStyles.ts
  packages/blade/src/components/Collapsible/__tests__/__snapshots__/Collapsible.native.test.tsx.snap
  packages/blade/src/components/Collapsible/__tests__/__snapshots__/Collapsible.web.test.tsx.snap
  packages/blade/src/components/Form/Selector/SelectorInput.web.tsx
  packages/blade/src/components/Link/BaseLink/BaseLink.tsx
  packages/blade/src/components/Link/BaseLink/__tests__/__snapshots__/BaseLink.native.test.tsx.snap
  packages/blade/src/components/Link/BaseLink/__tests__/__snapshots__/BaseLink.web.test.tsx.snap
  packages/blade/src/components/Link/Link/__tests__/__snapshots__/Link.native.test.tsx.snap
  packages/blade/src/components/Link/Link/__tests__/__snapshots__/Link.web.test.tsx.snap
  packages/blade/src/components/Popover/PopoverInteractiveWrapper.web.tsx
  packages/blade/src/components/Table/Table.web.tsx
  packages/blade/src/components/Table/TableBody.web.tsx
  packages/blade/src/components/Table/TableContext.tsx
  packages/blade/src/components/Table/TableFooter.web.tsx
  packages/blade/src/components/Table/TableHeader.web.tsx
  packages/blade/src/components/Table/TablePagination.web.tsx
  packages/blade/src/components/Table/TableToolbar.web.tsx
  packages/blade/src/components/Table/__tests__/Table.web.test.tsx
  packages/blade/src/components/Table/__tests__/__snapshots__/Table.web.test.tsx.snap
  packages/blade/src/components/Table/docs/BasicTable.stories.tsx
  packages/blade/src/components/Table/docs/TableExamples.stories.tsx
  packages/blade/src/components/Table/docs/stories.ts
  packages/blade/src/components/Table/tokens.ts
  packages/blade/src/components/Table/types.ts
  packages/blade/src/components/index.ts
  packages/blade/src/utils/getFocusRingStyles/getFocusRingStyles.d.ts
  packages/blade/src/utils/getFocusRingStyles/getFocusRingStyles.native.test.ts
  packages/blade/src/utils/getFocusRingStyles/getFocusRingStyles.native.ts
  packages/blade/src/utils/getFocusRingStyles/getFocusRingStyles.web.test.ts
  packages/blade/src/utils/getFocusRingStyles/getFocusRingStyles.web.ts
  packages/blade/src/utils/lodashButBetter/get.ts
Labels: Review - L1

#1985 test(e2e): add popover e2e
  packages/blade/src/components/Popover/__tests__/Popover.test.stories.tsx
Labels: Review - L1, Run Interaction Tests

#1987 feat(Amount): add new props & remove `prefix`
  packages/blade/.storybook/react/preview-head.html
  packages/blade/codemods/brand-refresh/transformers/__tests__/migrate-amount.test.ts
  packages/blade/codemods/brand-refresh/transformers/migrate-amount.ts
  packages/blade/src/components/Amount/Amount.stories.tsx
  packages/blade/src/components/Amount/Amount.tsx
  packages/blade/src/components/Amount/_KitchenSink.Amount.stories.tsx
  packages/blade/src/components/Amount/__tests__/Amount.native.test.tsx
  packages/blade/src/components/Amount/__tests__/Amount.web.test.tsx
  packages/blade/src/components/Amount/__tests__/__snapshots__/Amount.native.test.tsx.snap
  packages/blade/src/components/Amount/__tests__/__snapshots__/Amount.ssr.test.tsx.snap
  packages/blade/src/components/Amount/__tests__/__snapshots__/Amount.web.test.tsx.snap
  packages/blade/src/components/Amount/amountTokens.ts
  packages/blade/src/components/Collapsible/__tests__/__snapshots__/Collapsible.native.test.tsx.snap
  packages/blade/src/components/Collapsible/__tests__/__snapshots__/Collapsible.ssr.test.tsx.snap
  packages/blade/src/components/Collapsible/__tests__/__snapshots__/Collapsible.web.test.tsx.snap
  packages/blade/src/components/Typography/BaseText/BaseText.native.tsx
  packages/blade/src/components/Typography/BaseText/BaseText.web.tsx
  packages/blade/src/components/Typography/BaseText/getBaseTextStyles.ts
  packages/blade/src/components/Typography/BaseText/types.ts
  packages/blade/upgrade-v11.md
Labels: Review - L1

#1988 test: add tooltip e2e
  packages/blade/src/components/Tooltip/Tooltip.web.tsx
  packages/blade/src/components/Tooltip/__tests__/Tooltip.test.stories.tsx
Labels: Review - L1, Run Interaction Tests
