Repository razorpay/blade, pull requests merged in 2024-10, with the labels that each got.

#2364 fix(BaseHeader): word break for single word
  .changeset/nine-hounds-raise.md
  packages/blade/src/components/Accordion/__tests__/__snapshots__/Accordion.ssr.test.tsx.snap
  packages/blade/src/components/Accordion/__tests__/__snapshots__/Accordion.web.test.tsx.snap
  packages/blade/src/components/BaseHeaderFooter/BaseHeader.tsx
  packages/blade/src/components/BaseHeaderFooter/BaseHeaderFooter.internal.stories.tsx
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.ssr.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.web.test.tsx.snap
  packages/blade/src/components/Drawer/__tests__/__snapshots__/Drawer.web.test.tsx.snap
  packages/blade/src/components/Menu/__tests__/__snapshots__/Menu.web.test.tsx.snap
  packages/blade/src/components/Modal/__tests__/__snapshots__/Modal.web.test.tsx.snap
Labels: P0

#2379 fix: Mobile View in Intro Page of https://blade.razorpay.com/?path=/docs/guides-intro--docs
  packages/blade/docs/guides/Intro.stories.mdx
Labels: hacktoberfest-accepted

#2382 fix: Fixed url in https://blade.razorpay.com/
  packages/blade/docs/guides/Intro.stories.mdx
Labels: hacktoberfest-accepted

#2388 docs(BottomNav): add BottomNav API
  packages/blade/src/components/BottomNav/_decisions/bottomnav-title.png
  packages/blade/src/components/BottomNav/_decisions/decisions.md
  packages/blade/src/components/BottomNav/_decisions/navitem-selected.png
  packages/blade/src/components/BottomNav/_decisions/navitem.png
Labels: Review - L1

#2394 test: add new topnav tests
  packages/blade/src/components/Menu/__tests__/__snapshots__/Menu.web.test.tsx.snap
  packages/blade/src/components/SideNav/tokens.ts
  packages/blade/src/components/TopNav/__tests__/TabNav.test.stories.tsx
  packages/blade/src/components/TopNav/__tests__/TopNavExample.web.tsx
  packages/blade/src/components/TopNav/__tests__/__snapshots__/TopNav.ssr.test.tsx.snap
  packages/blade/src/components/TopNav/__tests__/__snapshots__/TopNav.web.test.tsx.snap
Labels: Review - L1

#2386 docs: new TopNav API
  packages/blade/src/components/TopNav/_decisions/anatomy.png
  packages/blade/src/components/TopNav/_decisions/decisions.md
  packages/blade/src/components/TopNav/_decisions/top-nav-bar-new.png
  packages/blade/src/components/TopNav/_decisions/top-nav-desktop-example-new.png
  packages/blade/src/components/TopNav/_decisions/top-nav-mobile-example-new.png
Labels: Review - L1

#2391 feat(Table): add hover actions support
  .changeset/hot-bobcats-admire.md
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.ssr.test.tsx.snap
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.web.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.ssr.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.web.test.tsx.snap
  packages/blade/src/components/Button/IconButton/IconButton.tsx
  packages/blade/src/components/Button/IconButton/StyledIconButton.web.tsx
  packages/blade/src/components/Button/IconButton/__tests__/__snapshots__/IconButton.ssr.test.tsx.snap
  packages/blade/src/components/Button/IconButton/__tests__/__snapshots__/IconButton.web.test.tsx.snap
  packages/blade/src/components/Button/IconButton/tokens.ts
  packages/blade/src/components/Button/IconButton/types.ts
  packages/blade/src/components/Drawer/__tests__/__snapshots__/Drawer.web.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.web.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.ssr.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.web.test.tsx.snap
  packages/blade/src/components/Modal/__tests__/__snapshots__/Modal.web.test.tsx.snap
  packages/blade/src/components/Popover/__tests__/__snapshots__/Popover.web.test.tsx.snap
  packages/blade/src/components/SpotlightPopoverTour/__tests__/__snapshots__/Tour.web.test.tsx.snap
  packages/blade/src/components/Table/Table.web.tsx
  packages/blade/src/components/Table/TableBody.web.tsx
  packages/blade/src/components/Table/TableContext.tsx
  packages/blade/src/components/Table/TableHeader.web.tsx
  packages/blade/src/components/Table/__tests__/__snapshots__/Table.web.test.tsx.snap
  packages/blade/src/components/Table/docs/APIStories/TableRowAPI.stories.tsx
  packages/blade/src/components/Table/docs/BasicTable.stories.tsx
  packages/blade/src/components/Table/tokens.ts
  packages/blade/src/components/Table/types.ts
  packages/blade/src/components/Tag/__tests__/__snapshots__/Tag.ssr.test.tsx.snap
  packages/blade/src/components/Tag/__tests__/__snapshots__/Tag.web.test.tsx.snap
Labels: Review - L1, P0
