Repository razorpay/blade, pull requests merged in 2024-03, with the labels that each got.

#2043 docs(storybook): remove figma embed and add links on top
  packages/blade/docs/tokens/Typography.stories.mdx
  packages/blade/src/components/Accordion/Accordion.stories.tsx
  packages/blade/src/components/ActionList/ActionList.stories.tsx
  packages/blade/src/components/ActionList/docs/ActionListDocs.tsx
  packages/blade/src/components/Alert/Alert.stories.tsx
  packages/blade/src/components/Amount/Amount.stories.tsx
  packages/blade/src/components/Badge/Badge.stories.tsx
  packages/blade/src/components/BottomSheet/BottomSheet.stories.tsx
  packages/blade/src/components/Breadcrumb/Breadcrumb.stories.tsx
  packages/blade/src/components/Button/Button/Button.stories.tsx
  packages/blade/src/components/Button/IconButton/IconButton.stories.tsx
  packages/blade/src/components/Card/Card.stories.tsx
  packages/blade/src/components/Card/CardInteractive.stories.tsx
  packages/blade/src/components/Carousel/Carousel.stories.tsx
  packages/blade/src/components/Checkbox/Checkbox.stories.tsx
  packages/blade/src/components/Checkbox/CheckboxGroup.stories.tsx
  packages/blade/src/components/Chip/Chip.stories.tsx
  packages/blade/src/components/Chip/ChipGroup.stories.tsx
  packages/blade/src/components/Collapsible/Collapsible.stories.tsx
  packages/blade/src/components/Counter/Counter.stories.tsx
  packages/blade/src/components/Divider/Divider.stories.tsx
  packages/blade/src/components/Drawer/docs/Drawer.stories.tsx
  packages/blade/src/components/Dropdown/docs/DropdownDocs.tsx
  packages/blade/src/components/FileUpload/docs/FileUpload.stories.tsx
  packages/blade/src/components/Icons/Icons.stories.tsx
  packages/blade/src/components/Indicator/Indicator.stories.tsx
  packages/blade/src/components/Input/DropdownInputTriggers/AutoComplete.stories.tsx
  packages/blade/src/components/Input/DropdownInputTriggers/SelectInput.stories.tsx
  packages/blade/src/components/Input/OTPInput/OTPInput.stories.tsx
  packages/blade/src/components/Input/PasswordInput/PasswordInput.stories.tsx
  packages/blade/src/components/Input/TextArea/TextArea.stories.tsx
  packages/blade/src/components/Input/TextInput/TextInput.stories.tsx
  packages/blade/src/components/Link/Link/Link.stories.tsx
  packages/blade/src/components/List/List.stories.tsx
  packages/blade/src/components/Modal/docs/ModalDocs.tsx
  packages/blade/src/components/Popover/Popover.stories.tsx
  packages/blade/src/components/ProgressBar/ProgressBar.stories.tsx
  packages/blade/src/components/Radio/Radio.stories.tsx
  packages/blade/src/components/Skeleton/Skeleton.stories.tsx
  packages/blade/src/components/Spinner/BaseSpinner/BaseSpinner.stories.tsx
  packages/blade/src/components/Spinner/Spinner/Spinner.stories.tsx
  packages/blade/src/components/SpotlightPopoverTour/docs/Tour.stories.tsx
  packages/blade/src/components/SpotlightPopoverTour/docs/TourDocs.tsx
  packages/blade/src/components/Switch/Switch.stories.tsx
  packages/blade/src/components/Table/docs/BasicTable.stories.tsx
  packages/blade/src/components/Tabs/Tabs.stories.tsx
  packages/blade/src/components/Tag/Tag.stories.tsx
  packages/blade/src/components/Toast/Toast.stories.tsx
  packages/blade/src/components/Tooltip/Tooltip.stories.tsx
  packages/blade/src/components/Typography/Code/Code.stories.tsx
  packages/blade/src/components/Typography/Display/Display.stories.tsx
  packages/blade/src/components/Typography/Heading/Heading.stories.tsx
  packages/blade/src/components/Typography/Text/Text.stories.tsx
  packages/blade/src/utils/storybook/FigmaEmbed.tsx
  packages/blade/src/utils/storybook/StoryPageWrapper.tsx
Labels: Review - L3

#2033 feat: `TextArea` component redesign
  packages/blade/src/components/Input/TextArea/TextArea.stories.tsx
  packages/blade/src/components/Input/TextArea/TextArea.tsx
  packages/blade/src/components/Input/TextArea/__tests__/TextArea.web.test.tsx
  packages/blade/src/components/Input/TextArea/__tests__/__snapshots__/TextArea.web.test.tsx.snap
Labels: Review - L2

#2032 feat: `TextInput` component redesign
  packages/blade/src/components/Input/TextInput/TextInput.stories.tsx
  packages/blade/src/components/Input/TextInput/TextInput.tsx
  packages/blade/src/components/Input/TextInput/__tests__/TextInput.web.test.tsx
  packages/blade/src/components/Input/TextInput/__tests__/__snapshots__/TextInput.web.test.tsx.snap
Labels: Review - L2

#2050 feat: `PasswordInput` component redesign
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/AutoComplete.web.test.tsx
  packages/blade/src/components/Input/PasswordInput/PasswordInput.stories.tsx
  packages/blade/src/components/Input/PasswordInput/PasswordInput.tsx
  packages/blade/src/components/Input/PasswordInput/__tests__/PasswordInput.native.test.tsx
  packages/blade/src/components/Input/PasswordInput/__tests__/PasswordInput.web.test.tsx
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.native.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.web.test.tsx.snap
Labels: Review - L2

#2066 feat: support `defaultPlacement` prop on `DropdownOverlay`
  .changeset/hot-dodos-sin.md
  packages/blade/src/components/Dropdown/DropdownOverlay.web.tsx
  packages/blade/src/components/Dropdown/types.ts
Labels: Review - L2

#2074 fix(DropdownButton): dropdown focus item scrolling
  .changeset/silly-mayflies-approve.md
  packages/blade/src/components/Dropdown/dropdownUtils.ts
  packages/blade/src/components/Dropdown/useDropdown.ts
Labels: Run Interaction Tests

#2065 feat(Accordion): add new filled variant
  .changeset/late-planes-destroy.md
  packages/blade/.storybook/react-native/storybook.requires.js
  packages/blade/package.json
  packages/blade/src/components/Accordion/Accordion.stories.tsx
  packages/blade/src/components/Accordion/Accordion.tsx
  packages/blade/src/components/Accordion/AccordionButton.native.tsx
  packages/blade/src/components/Accordion/AccordionButton.web.tsx
  packages/blade/src/components/Accordion/AccordionContext.tsx
  packages/blade/src/components/Accordion/AccordionItem.tsx
  packages/blade/src/components/Accordion/AccordionItemBody.tsx
  packages/blade/src/components/Accordion/AccordionItemHeader.tsx
  packages/blade/src/components/Accordion/StyledAccordionButton.web.tsx
  packages/blade/src/components/Accordion/__tests__/Accordion.native.test.tsx
  packages/blade/src/components/Accordion/__tests__/Accordion.ssr.test.tsx
  packages/blade/src/components/Accordion/__tests__/Accordion.web.test.tsx
  packages/blade/src/components/Accordion/__tests__/__snapshots__/Accordion.native.test.tsx.snap
  packages/blade/src/components/Accordion/__tests__/__snapshots__/Accordion.ssr.test.tsx.snap
  packages/blade/src/components/Accordion/__tests__/__snapshots__/Accordion.web.test.tsx.snap
  packages/blade/src/components/Accordion/_decisions/decisions.md
  packages/blade/src/components/Accordion/commonStyles.ts
  packages/blade/src/components/Accordion/componentIds.ts
  packages/blade/src/components/Accordion/index.ts
  packages/blade/src/components/Accordion/types.ts
  packages/blade/src/components/ActionList/ActionListBox.native.tsx
  packages/blade/src/components/BaseHeaderFooter/BaseHeader.tsx
  packages/blade/src/components/BaseHeaderFooter/BaseHeaderFooter.internal.stories.tsx
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.native.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.ssr.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.web.test.tsx.snap
  packages/blade/src/components/Collapsible/CollapsibleBodyContent.native.tsx
  packages/blade/src/components/Collapsible/CollapsibleBodyContent.web.tsx
  packages/blade/src/components/Collapsible/__tests__/__snapshots__/Collapsible.ssr.test.tsx.snap
  packages/blade/src/components/Collapsible/__tests__/__snapshots__/Collapsible.web.test.tsx.snap
  packages/blade/src/components/Drawer/__tests__/__snapshots__/Drawer.web.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.native.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.ssr.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.web.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.native.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.ssr.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.web.test.tsx.snap
  packages/blade/src/components/Modal/__tests__/__snapshots__/Modal.web.test.tsx.snap
  packages/blade/src/utils/metaAttribute/metaConstants.ts
  yarn.lock
Labels: Review - L2

#2061 docs(ButtonGroup): add API decisions
  packages/blade/src/components/ButtonGroup/_decisions/button-group-dropdown-usage.png
  packages/blade/src/components/ButtonGroup/_decisions/button-group-usage.png
  packages/blade/src/components/ButtonGroup/_decisions/button-group-variants.png
  packages/blade/src/components/ButtonGroup/_decisions/decisions.md
Labels: Review - L2

#2068 test: add ButtonGroup test cases
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.ssr.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.native.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.ssr.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.web.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.native.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.ssr.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.web.test.tsx.snap
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.native.test.tsx.snap
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.ssr.test.tsx.snap
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.web.test.tsx.snap
  packages/blade/src/components/ButtonGroup/ButtonGroup.web.tsx
  packages/blade/src/components/ButtonGroup/__tests__/ButtonGroup.ssr.test.tsx
  packages/blade/src/components/ButtonGroup/__tests__/ButtonGroup.web.test.tsx
  packages/blade/src/components/ButtonGroup/__tests__/__snapshots__/ButtonGroup.ssr.test.tsx.snap
  packages/blade/src/components/ButtonGroup/__tests__/__snapshots__/ButtonGroup.web.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.native.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.ssr.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.web.test.tsx.snap
  packages/blade/src/components/Collapsible/__tests__/__snapshots__/Collapsible.native.test.tsx.snap
  packages/blade/src/components/Collapsible/__tests__/__snapshots__/Collapsible.ssr.test.tsx.snap
  packages/blade/src/components/Collapsible/__tests__/__snapshots__/Collapsible.web.test.tsx.snap
  packages/blade/src/components/Drawer/__tests__/__snapshots__/Drawer.web.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.ssr.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.web.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.native.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.ssr.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.web.test.tsx.snap
  packages/blade/src/components/Modal/__tests__/__snapshots__/Modal.web.test.tsx.snap
  packages/blade/src/components/Popover/__tests__/__snapshots__/Popover.native.test.tsx.snap
  packages/blade/src/components/Popover/__tests__/__snapshots__/Popover.web.test.tsx.snap
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.native.test.tsx.snap
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.web.test.tsx.snap
  packages/blade/src/components/SpotlightPopoverTour/__tests__/__snapshots__/Tour.ssr.test.tsx.snap
  packages/blade/src/components/SpotlightPopoverTour/__tests__/__snapshots__/Tour.web.test.tsx.snap
  packages/blade/src/components/Tooltip/__tests__/__snapshots__/Tooltip.native.test.tsx.snap
  packages/blade/src/components/Tooltip/__tests__/__snapshots__/Tooltip.ssr.test.tsx.snap
  packages/blade/src/components/Tooltip/__tests__/__snapshots__/Tooltip.web.test.tsx.snap
  packages/blade/src/tokens/theme/__tests__/__snapshots__/createTheme.native.test.tsx.snap
  packages/blade/src/tokens/theme/__tests__/__snapshots__/createTheme.web.test.tsx.snap
Labels: Review - L1

#2064 feat: add ButtonGroup component
  .changeset/chilled-scissors-arrive.md
  packages/blade/src/components/Alert/__tests__/__snapshots__/Alert.ssr.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.native.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.ssr.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.web.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/AnimatedButtonContent.native.tsx
  packages/blade/src/components/Button/BaseButton/AnimatedButtonContent.web.tsx
  packages/blade/src/components/Button/BaseButton/BaseButton.tsx
  packages/blade/src/components/Button/BaseButton/StyledBaseButton.native.tsx
  packages/blade/src/components/Button/BaseButton/__tests__/BaseButton.native.test.tsx
  packages/blade/src/components/Button/BaseButton/__tests__/BaseButton.web.test.tsx
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.native.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.ssr.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.web.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/types.ts
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.native.test.tsx.snap
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.ssr.test.tsx.snap
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.web.test.tsx.snap
  packages/blade/src/components/ButtonGroup/ButtonGroup.native.tsx
  packages/blade/src/components/ButtonGroup/ButtonGroup.web.tsx
  packages/blade/src/components/ButtonGroup/ButtonGroupContext.tsx
  packages/blade/src/components/ButtonGroup/StyledButtonGroup.tsx
  packages/blade/src/components/ButtonGroup/__tests__/ButtonGroup.ssr.test.tsx
  packages/blade/src/components/ButtonGroup/__tests__/ButtonGroup.web.test.tsx
  packages/blade/src/components/ButtonGroup/__tests__/__snapshots__/ButtonGroup.ssr.test.tsx.snap
  packages/blade/src/components/ButtonGroup/__tests__/__snapshots__/ButtonGroup.web.test.tsx.snap
  packages/blade/src/components/ButtonGroup/docs/ButtonGroup.stories.tsx
  packages/blade/src/components/ButtonGroup/docs/_KitchenSink.ButtonGroup.stories.tsx
  packages/blade/src/components/ButtonGroup/index.ts
  packages/blade/src/components/ButtonGroup/types.ts
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.native.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.ssr.test.tsx.snap
  packages/blade/src/components/Card/__tests__/__snapshots__/Card.web.test.tsx.snap
  packages/blade/src/components/Collapsible/__tests__/__snapshots__/Collapsible.native.test.tsx.snap
  packages/blade/src/components/Collapsible/__tests__/__snapshots__/Collapsible.ssr.test.tsx.snap
  packages/blade/src/components/Collapsible/__tests__/__snapshots__/Collapsible.web.test.tsx.snap
  packages/blade/src/components/Drawer/__tests__/__snapshots__/Drawer.web.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.ssr.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.web.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.native.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.ssr.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.web.test.tsx.snap
  packages/blade/src/components/Modal/__tests__/__snapshots__/Modal.web.test.tsx.snap
  packages/blade/src/components/Popover/__tests__/__snapshots__/Popover.native.test.tsx.snap
  packages/blade/src/components/Popover/__tests__/__snapshots__/Popover.web.test.tsx.snap
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.native.test.tsx.snap
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.web.test.tsx.snap
  packages/blade/src/components/SpotlightPopoverTour/__tests__/__snapshots__/Tour.ssr.test.tsx.snap
  packages/blade/src/components/SpotlightPopoverTour/__tests__/__snapshots__/Tour.web.test.tsx.snap
  packages/blade/src/components/Tooltip/__tests__/__snapshots__/Tooltip.native.test.tsx.snap
  packages/blade/src/components/Tooltip/__tests__/__snapshots__/Tooltip.ssr.test.tsx.snap
  packages/blade/src/components/Tooltip/__tests__/__snapshots__/Tooltip.web.test.tsx.snap
  packages/blade/src/components/index.ts
  packages/blade/src/tokens/theme/__tests__/__snapshots__/createTheme.native.test.tsx.snap
  packages/blade/src/tokens/theme/__tests__/__snapshots__/createTheme.web.test.tsx.snap
  packages/blade/src/utils/metaAttribute/metaConstants.ts
Labels: Review - L1

#2067 docs: add phone number input API
  packages/blade/src/components/Input/PhoneNumberInput/_decisions/decisions.md
  packages/blade/src/components/Input/PhoneNumberInput/_decisions/phonenumber-anatomy.png
  packages/blade/src/components/Input/PhoneNumberInput/_decisions/phonenumber-thumbnail.png
Labels: Review - L2

#2087 tests(AutoComplete): add Interaction tests for AutoComplete
  packages/blade/src/components/Dropdown/useDropdown.ts
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/AutoComplete.test.stories.tsx
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/AutoComplete.web.test.tsx
Labels: Review - L2, Run Interaction Tests

#2078 fix(Button): use height and width to fix sizes in Icon Only Button
  .changeset/few-camels-argue.md
  packages/blade/src/components/Button/BaseButton/BaseButton.tsx
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.native.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.ssr.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.web.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/buttonTokens.ts
  packages/blade/src/components/Button/BaseButton/getStyledBaseButtonStyles.ts
  packages/blade/src/components/Button/BaseButton/types.ts
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.native.test.tsx.snap
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.ssr.test.tsx.snap
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.web.test.tsx.snap
  packages/blade/src/components/ButtonGroup/StyledButtonGroup.tsx
  packages/blade/src/components/ButtonGroup/__tests__/__snapshots__/ButtonGroup.ssr.test.tsx.snap
  packages/blade/src/components/ButtonGroup/__tests__/__snapshots__/ButtonGroup.web.test.tsx.snap
  packages/blade/src/components/Drawer/__tests__/__snapshots__/Drawer.web.test.tsx.snap
Labels: Review - L1

#2091 fix: ButtonGroup focus ring styles
  packages/blade/src/components/ButtonGroup/StyledButtonGroup.tsx
  packages/blade/src/components/ButtonGroup/__tests__/ButtonGroup.ssr.test.tsx
  packages/blade/src/components/ButtonGroup/__tests__/__snapshots__/ButtonGroup.ssr.test.tsx.snap
  packages/blade/src/components/ButtonGroup/__tests__/__snapshots__/ButtonGroup.web.test.tsx.snap
Labels: Review - L1
