Repository razorpay/blade, pull requests merged in 2024-05, with the labels that each got.

#2143 fix: tab item button type
  .changeset/angry-apples-explode.md
  packages/blade/src/components/Tabs/TabItem.web.tsx
  packages/blade/src/components/Tabs/__tests__/__snapshots__/Tabs.ssr.test.tsx.snap
  packages/blade/src/components/Tabs/__tests__/__snapshots__/Tabs.web.test.tsx.snap
Labels: Run Interaction Tests

#2155 fix: i18nify-react version to resolve duplicate i18nifyJs copies
  .changeset/wet-rocks-raise.md
  packages/blade/package.json
  packages/blade/src/components/Amount/__tests__/Amount.native.test.tsx
  packages/blade/src/components/Amount/__tests__/Amount.web.test.tsx
  packages/blade/src/components/Amount/__tests__/mock.ts
  yarn.lock
Labels: Run Interaction Tests

#2152 feat: add label & validation related props to ChipGroup
  .changeset/breezy-penguins-attend.md
  packages/blade/src/components/Chip/Chip.tsx
  packages/blade/src/components/Chip/ChipGroup.stories.tsx
  packages/blade/src/components/Chip/ChipGroup.tsx
  packages/blade/src/components/Chip/__tests__/ChipGroup.native.test.tsx
  packages/blade/src/components/Chip/__tests__/ChipGroup.web.test.tsx
  packages/blade/src/components/Chip/__tests__/__snapshots__/Chip.ssr.test.tsx.snap
  packages/blade/src/components/Chip/__tests__/__snapshots__/Chip.web.test.tsx.snap
  packages/blade/src/components/Chip/__tests__/__snapshots__/ChipGroup.native.test.tsx.snap
  packages/blade/src/components/Chip/__tests__/__snapshots__/ChipGroup.ssr.test.tsx.snap
  packages/blade/src/components/Chip/__tests__/__snapshots__/ChipGroup.web.test.tsx.snap
  packages/blade/src/components/Chip/chipTokens.ts
  packages/blade/src/components/Chip/types.ts
  packages/blade/src/components/Chip/useChipGroup.ts
Labels: Review - L1

#2145 feat(Table): add `compact` rowDensity & update existing densities
  .changeset/eleven-jars-hang.md
  packages/blade/src/components/Table/Table.web.tsx
  packages/blade/src/components/Table/TableBody.web.tsx
  packages/blade/src/components/Table/TableContext.tsx
  packages/blade/src/components/Table/TableFooter.web.tsx
  packages/blade/src/components/Table/TableHeader.web.tsx
  packages/blade/src/components/Table/__tests__/Table.web.test.tsx
  packages/blade/src/components/Table/__tests__/__snapshots__/Table.web.test.tsx.snap
  packages/blade/src/components/Table/tokens.ts
  packages/blade/src/components/Table/types.ts
  packages/blade/src/tokens/global/size.ts
Labels: Review - L2

#2160 fix(DropdownOverlay): use FloatingPortal to portal dropdown outside sticky context
  .changeset/honest-terms-cry.md
  packages/blade/src/components/ButtonGroup/__tests__/__snapshots__/ButtonGroup.web.test.tsx.snap
  packages/blade/src/components/Dropdown/Dropdown.tsx
  packages/blade/src/components/Dropdown/DropdownOverlay.web.tsx
  packages/blade/src/components/Dropdown/__tests__/Dropdown.ssr.test.tsx
  packages/blade/src/components/Dropdown/__tests__/Dropdown.web.test.tsx
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.ssr.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.web.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/AutoComplete.ssr.test.tsx
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.ssr.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.web.test.tsx.snap
  packages/blade/src/components/Input/PhoneNumberInput/__tests__/__snapshots__/PhoneNumberInput.ssr.test.tsx.snap
  packages/blade/src/components/Input/PhoneNumberInput/__tests__/__snapshots__/PhoneNumberInput.web.test.tsx.snap
  packages/blade/src/components/Table/__tests__/__snapshots__/Table.web.test.tsx.snap
Labels: Run Interaction Tests

#2187 fix: Dropdown interaction tests
  packages/blade/src/components/Dropdown/DropdownHeaderFooter.tsx
  packages/blade/src/components/Dropdown/__tests__/Dropdown.test.stories.tsx
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/AutoComplete.test.stories.tsx
Labels: Review - L1, Run Interaction Tests

#2186 test(blade): add datepicker tests
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.ssr.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.web.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.native.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.web.test.tsx.snap
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.native.test.tsx.snap
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.web.test.tsx.snap
  packages/blade/src/components/ButtonGroup/__tests__/__snapshots__/ButtonGroup.web.test.tsx.snap
  packages/blade/src/components/DatePicker/CalendarHeader.web.tsx
  packages/blade/src/components/DatePicker/DatePicker.stories.tsx
  packages/blade/src/components/DatePicker/__tests__/DatePicker.test.stories.tsx
  packages/blade/src/components/Drawer/__tests__/__snapshots__/Drawer.web.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.web.test.tsx.snap
  packages/blade/src/utils/getFocusRingStyles/getFocusRingStyles.web.ts
Labels: Review - L2

#2173 feat: add DatePicker component
  .changeset/short-games-wink.md
  packages/blade/package.json
  packages/blade/scripts/generateBundleDiff.js
  packages/blade/src/components/BottomSheet/BottomSheetBody.web.tsx
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.ssr.test.tsx.snap
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.web.test.tsx.snap
  packages/blade/src/components/BottomSheet/types.ts
  packages/blade/src/components/Button/BaseButton/BaseButton.tsx
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.native.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/__tests__/__snapshots__/BaseButton.web.test.tsx.snap
  packages/blade/src/components/Button/BaseButton/buttonTokens.ts
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.native.test.tsx.snap
  packages/blade/src/components/Button/Button/__tests__/__snapshots__/Button.web.test.tsx.snap
  packages/blade/src/components/ButtonGroup/__tests__/__snapshots__/ButtonGroup.web.test.tsx.snap
  packages/blade/src/components/DatePicker/Calendar.web.tsx
  packages/blade/src/components/DatePicker/CalendarFooter.web.tsx
  packages/blade/src/components/DatePicker/CalendarHeader.web.tsx
  packages/blade/src/components/DatePicker/CalendarStyles.web.tsx
  packages/blade/src/components/DatePicker/DateInput.web.tsx
  packages/blade/src/components/DatePicker/DatePicker.native.tsx
  packages/blade/src/components/DatePicker/DatePicker.stories.tsx
  packages/blade/src/components/DatePicker/DatePicker.web.tsx
  packages/blade/src/components/DatePicker/QuickSelection/PresetSideBar.web.tsx
  packages/blade/src/components/DatePicker/QuickSelection/QuickSelectionItem.web.tsx
  packages/blade/src/components/DatePicker/__tests__/DatePicker.test.stories.tsx
  packages/blade/src/components/DatePicker/constants.ts
  packages/blade/src/components/DatePicker/index.ts
  packages/blade/src/components/DatePicker/types.ts
  packages/blade/src/components/DatePicker/useControlledDates.ts
  packages/blade/src/components/DatePicker/useDatesState.ts
  packages/blade/src/components/DatePicker/usePopup.ts
  packages/blade/src/components/DatePicker/utils.ts
  packages/blade/src/components/Drawer/__tests__/__snapshots__/Drawer.web.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.web.test.tsx.snap
  packages/blade/src/components/index.ts
  packages/blade/src/tokens/global/size.ts
  packages/blade/src/utils/getFocusRingStyles/getFocusRingStyles.web.ts
  packages/blade/src/utils/getFocusRingStyles/types.ts
  packages/blade/src/utils/metaAttribute/metaConstants.ts
  yarn.lock
Labels: Review - L2

#2149 docs(SideNav): API Decision
  packages/blade/src/components/SideNav/_decisions/decisions.md
  packages/blade/src/components/SideNav/_decisions/nav-banner.png
  packages/blade/src/components/SideNav/_decisions/nav-header.png
  packages/blade/src/components/SideNav/_decisions/navfooter-eg.png
  packages/blade/src/components/SideNav/_decisions/navlevels-eg.png
  packages/blade/src/components/SideNav/_decisions/navlink-eg-1.png
  packages/blade/src/components/SideNav/_decisions/navlink-eg-2.png
  packages/blade/src/components/SideNav/_decisions/navlink-eg-3.png
  packages/blade/src/components/SideNav/_decisions/navlink-eg-4.png
  packages/blade/src/components/SideNav/_decisions/navlink-eg-active.png
  packages/blade/src/components/SideNav/_decisions/navlink-eg-tooltip.png
  packages/blade/src/components/SideNav/_decisions/navsection-eg.png
Labels: Review - L1
