Repository razorpay/blade, pull requests merged in 2024-07, with the labels that each got.

#2285 fix(FileUpload): correctly update errortText
  .changeset/dirty-singers-sparkle.md
  packages/blade/src/components/FileUpload/FileUpload.web.tsx
Labels: Run Interaction Tests

#2179 fix: white-labeling issue with surface text primary
  .changeset/olive-spies-provide.md
  packages/blade/src/tokens/theme/__tests__/__snapshots__/createTheme.native.test.tsx.snap
  packages/blade/src/tokens/theme/__tests__/__snapshots__/createTheme.web.test.tsx.snap
  packages/blade/src/tokens/theme/createTheme.ts
Labels: Review - L2

#2299 fix(BaseMenuItem): truncate text without spaces and add htmlTitle
  .changeset/gold-moose-move.md
  packages/blade/src/components/ActionList/ActionList.stories.tsx
  packages/blade/src/components/BaseMenu/BaseMenuItem/BaseMenuItem.tsx
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.web.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.web.test.tsx.snap
  packages/blade/src/components/Menu/__tests__/__snapshots__/Menu.web.test.tsx.snap
  packages/blade/src/components/Typography/BaseText/BaseText.native.tsx
  packages/blade/src/components/Typography/BaseText/BaseText.web.tsx
  packages/blade/src/utils/useTruncationTitle/index.tsx
  packages/blade/src/utils/useTruncationTitle/useTruncationTitle.native.tsx
  packages/blade/src/utils/useTruncationTitle/useTruncationTitle.web.tsx
Labels: Review - L1, P0

#2303 fix: table footer background color
  .changeset/curly-roses-peel.md
  packages/blade/src/components/Table/TablePagination.web.tsx
  packages/blade/src/components/Table/tokens.ts
Labels: Review - L1

#2309 fix: Spinner colors
  .changeset/grumpy-keys-listen.md
  packages/blade/src/components/Spinner/BaseSpinner/BaseSpinner.tsx
  packages/blade/src/components/Spinner/BaseSpinner/__tests__/__snapshots__/BaseSpinner.native.test.tsx.snap
  packages/blade/src/components/Spinner/BaseSpinner/__tests__/__snapshots__/BaseSpinner.ssr.test.tsx.snap
  packages/blade/src/components/Spinner/BaseSpinner/__tests__/__snapshots__/BaseSpinner.web.test.tsx.snap
  packages/blade/src/components/Spinner/Spinner/__tests__/__snapshots__/Spinner.native.test.tsx.snap
  packages/blade/src/components/Spinner/Spinner/__tests__/__snapshots__/Spinner.web.test.tsx.snap
  packages/blade/src/components/Table/__tests__/__snapshots__/Table.web.test.tsx.snap
Labels: P0

#2295 feat(TableEditableCell): refactor TableEditableCell and add TableEditableDropdownCell
  .changeset/tame-stingrays-notice.md
  packages/blade/src/components/BaseMenu/BaseMenuItem/BaseMenuItem.tsx
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.web.test.tsx.snap
  packages/blade/src/components/Dropdown/Dropdown.tsx
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.native.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.ssr.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.web.test.tsx.snap
  packages/blade/src/components/Dropdown/types.ts
  packages/blade/src/components/Input/BaseInput/AnimatedBaseInputWrapper.web.tsx
  packages/blade/src/components/Input/BaseInput/BaseInput.tsx
  packages/blade/src/components/Input/BaseInput/BaseInputTagSlot.web.tsx
  packages/blade/src/components/Input/BaseInput/BaseInputVisuals.tsx
  packages/blade/src/components/Input/BaseInput/__tests__/__snapshots__/BaseInput.native.test.tsx.snap
  packages/blade/src/components/Input/BaseInput/baseInputStyles.ts
  packages/blade/src/components/Input/DropdownInputTriggers/AutoComplete.stories.tsx
  packages/blade/src/components/Input/DropdownInputTriggers/BaseDropdownInputTrigger.tsx
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.native.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.ssr.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.web.test.tsx.snap
  packages/blade/src/components/Input/SearchInput/__tests__/__snapshots__/SearchInput.ssr.test.tsx.snap
  packages/blade/src/components/Input/SearchInput/__tests__/__snapshots__/SearchInput.web.test.tsx.snap
  packages/blade/src/components/Menu/__tests__/__snapshots__/Menu.web.test.tsx.snap
  packages/blade/src/components/Table/TableBody.native.tsx
  packages/blade/src/components/Table/TableBody.web.tsx
  packages/blade/src/components/Table/TableEditableCell.native.tsx
  packages/blade/src/components/Table/TableEditableCell.web.tsx
  packages/blade/src/components/Table/TableEditableCellContext.tsx
  packages/blade/src/components/Table/TablePagination.native.tsx
  packages/blade/src/components/Table/TableToolbar.native.tsx
  packages/blade/src/components/Table/__tests__/Table.web.test.tsx
  packages/blade/src/components/Table/__tests__/__snapshots__/Table.web.test.tsx.snap
  packages/blade/src/components/Table/docs/APIStories/TableEditableCellAPI.stories.tsx
  packages/blade/src/components/Table/docs/BasicTable.stories.tsx
  packages/blade/src/components/Table/docs/stories.ts
  packages/blade/src/components/Table/index.ts
  packages/blade/src/components/Table/tokens.ts
  packages/blade/src/components/Table/types.ts
Labels: Review - L1
