Repository razorpay/blade, pull requests merged in 2024-04, with the labels that each got.

#2080 feat(blade): add PhoneNumber input
  .changeset/heavy-students-study.md
  .github/actions/install-dependencies/action.yml
  .github/workflows/blade-bundle-size.yml
  .github/workflows/blade-chromatic.yml
  .github/workflows/blade-interaction-tests.yml
  .github/workflows/blade-tokens-upload.yml
  .github/workflows/blade-validate.yml
  .github/workflows/release.yml
  packages/blade/package.json
  packages/blade/src/components/Box/BaseBox/BaseBox.web.tsx
  packages/blade/src/components/Box/Box.tsx
  packages/blade/src/components/Button/BaseButton/BaseButton.tsx
  packages/blade/src/components/Dropdown/Dropdown.tsx
  packages/blade/src/components/Dropdown/DropdownOverlay.web.tsx
  packages/blade/src/components/Dropdown/dropdownComponentIds.ts
  packages/blade/src/components/Dropdown/types.ts
  packages/blade/src/components/Input/BaseInput/BaseInput.tsx
  packages/blade/src/components/Input/BaseInput/BaseInputVisuals.tsx
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.native.tsx
  packages/blade/src/components/Input/BaseInput/StyledBaseInput.web.tsx
  packages/blade/src/components/Input/BaseInput/baseInputStyles.ts
  packages/blade/src/components/Input/BaseInput/types.ts
  packages/blade/src/components/Input/BaseInput/utils.ts
  packages/blade/src/components/Input/DropdownInputTriggers/BaseDropdownInputTrigger.tsx
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.native.test.tsx.snap
  packages/blade/src/components/Input/PasswordInput/PasswordInput.tsx
  packages/blade/src/components/Input/PasswordInput/__tests__/__snapshots__/PasswordInput.native.test.tsx.snap
  packages/blade/src/components/Input/PhoneNumberInput/CountrySelector.native.tsx
  packages/blade/src/components/Input/PhoneNumberInput/CountrySelector.web.tsx
  packages/blade/src/components/Input/PhoneNumberInput/PhoneNumberInput.native.tsx
  packages/blade/src/components/Input/PhoneNumberInput/PhoneNumberInput.stories.tsx
  packages/blade/src/components/Input/PhoneNumberInput/PhoneNumberInput.web.tsx
  packages/blade/src/components/Input/PhoneNumberInput/__tests__/PhoneNumberInput.ssr.test.tsx
  packages/blade/src/components/Input/PhoneNumberInput/__tests__/PhoneNumberInput.test.stories.tsx
  packages/blade/src/components/Input/PhoneNumberInput/__tests__/PhoneNumberInput.web.test.tsx
  packages/blade/src/components/Input/PhoneNumberInput/__tests__/__snapshots__/PhoneNumberInput.ssr.test.tsx.snap
  packages/blade/src/components/Input/PhoneNumberInput/__tests__/__snapshots__/PhoneNumberInput.web.test.tsx.snap
  packages/blade/src/components/Input/PhoneNumberInput/index.ts
  packages/blade/src/components/Input/PhoneNumberInput/types.ts
  packages/blade/src/components/Input/TextArea/TextArea.tsx
  packages/blade/src/components/Input/TextArea/__tests__/__snapshots__/TextArea.native.test.tsx.snap
  packages/blade/src/components/Input/TextInput/TextInput.tsx
  packages/blade/src/components/Input/TextInput/__tests__/__snapshots__/TextInput.native.test.tsx.snap
  packages/blade/src/components/index.ts
  packages/blade/src/utils/metaAttribute/metaConstants.ts
  yarn.lock
Labels: Review - L2

#2108 feat: add large size in FileUpload component
  .changeset/bright-berries-sort.md
  packages/blade/src/components/FileUpload/FileUpload.web.tsx
  packages/blade/src/components/FileUpload/FileUploadItem.tsx
  packages/blade/src/components/FileUpload/StyledFileUploadItemWrapper.tsx
  packages/blade/src/components/FileUpload/StyledFileUploadWrapper.tsx
  packages/blade/src/components/FileUpload/__tests__/FileUpload.web.test.tsx
  packages/blade/src/components/FileUpload/__tests__/__snapshots__/FileUpload.ssr.test.tsx.snap
  packages/blade/src/components/FileUpload/__tests__/__snapshots__/FileUpload.web.test.tsx.snap
  packages/blade/src/components/FileUpload/docs/FileUpload.stories.tsx
  packages/blade/src/components/FileUpload/fileUploadTokens.ts
  packages/blade/src/components/FileUpload/types.ts
  packages/blade/src/tokens/global/size.ts
Labels: Review - L1

#2117 fix: additional parameters added to retain fraction digits in humanize Amount figure
  .changeset/tiny-beds-switch.md
  packages/blade/src/components/Amount/Amount.tsx
Labels: Review - L1

#2126 test: add circular ProgressBar test cases
  packages/blade/src/components/ProgressBar/ProgressBar.tsx
  packages/blade/src/components/ProgressBar/__tests__/ProgressBar.native.test.tsx
  packages/blade/src/components/ProgressBar/__tests__/ProgressBar.ssr.test.tsx
  packages/blade/src/components/ProgressBar/__tests__/ProgressBar.web.test.tsx
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.native.test.tsx.snap
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.ssr.test.tsx.snap
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.web.test.tsx.snap
Labels: Review - L1

#2127 feat: add ProgressBar codemod
  .changeset/six-planes-wash.md
  packages/blade/codemods/migrate-progressbar/transformers/__test__/migrate-progressbar.test.ts
  packages/blade/codemods/migrate-progressbar/transformers/index.ts
Labels: Review - L1

#2122 feat: add Circular Progress
  .changeset/six-planes-wash.md
  packages/blade/codemods/migrate-progressbar/transformers/__test__/migrate-progressbar.test.ts
  packages/blade/codemods/migrate-progressbar/transformers/index.ts
  packages/blade/src/components/ProgressBar/CircularProgressBar.native.tsx
  packages/blade/src/components/ProgressBar/CircularProgressBar.web.tsx
  packages/blade/src/components/ProgressBar/CircularProgressLabel.tsx
  packages/blade/src/components/ProgressBar/ProgressBar.stories.tsx
  packages/blade/src/components/ProgressBar/ProgressBar.tsx
  packages/blade/src/components/ProgressBar/ProgressBarFilled.native.tsx
  packages/blade/src/components/ProgressBar/ProgressBarFilled.web.tsx
  packages/blade/src/components/ProgressBar/__tests__/ProgressBar.native.test.tsx
  packages/blade/src/components/ProgressBar/__tests__/ProgressBar.ssr.test.tsx
  packages/blade/src/components/ProgressBar/__tests__/ProgressBar.web.test.tsx
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.native.test.tsx.snap
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.ssr.test.tsx.snap
  packages/blade/src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.web.test.tsx.snap
  packages/blade/src/components/ProgressBar/progressBarTokens.ts
  packages/blade/src/components/ProgressBar/types.ts
  packages/blade/src/tokens/global/size.ts
Labels: Review - L1

#2135 fix(blade): phone number input dropdown not opening
  .changeset/heavy-doors-impress.md
  packages/blade/src/components/Input/PhoneNumberInput/CountrySelector.web.tsx
Labels: Review - L1, bug, Run Interaction Tests

#2059 feat(blade): Alert custom icon added
  .changeset/slimy-toys-sort.md
  packages/blade/src/components/Alert/Alert.tsx
Labels: Ready to Merge

#2131 feat(StepGroup): StepGroup Implementation & Documentation
  packages/blade/src/components/Amount/Amount.tsx
  packages/blade/src/components/Box/BaseBox/baseBoxStyles.ts
  packages/blade/src/components/Box/BaseBox/types/propsTypes.ts
  packages/blade/src/components/Box/Box.tsx
  packages/blade/src/components/Box/styledProps/getStyledProps.ts
  packages/blade/src/components/Icons/_Svg/Svg/types.ts
  packages/blade/src/components/Indicator/Indicator.tsx
  packages/blade/src/components/StepGroup/StepGroup.native.tsx
  packages/blade/src/components/StepGroup/StepGroup.stories.tsx
  packages/blade/src/components/StepGroup/StepGroup.web.tsx
  packages/blade/src/components/StepGroup/StepGroupContext.tsx
  packages/blade/src/components/StepGroup/StepItem.native.tsx
  packages/blade/src/components/StepGroup/StepItem.stories.tsx
  packages/blade/src/components/StepGroup/StepItem.web.tsx
  packages/blade/src/components/StepGroup/StepItemMarker.tsx
  packages/blade/src/components/StepGroup/StepLine.native.tsx
  packages/blade/src/components/StepGroup/StepLine.web.tsx
  packages/blade/src/components/StepGroup/componentIds.ts
  packages/blade/src/components/StepGroup/index.ts
  packages/blade/src/components/StepGroup/tokens.ts
  packages/blade/src/components/StepGroup/types.ts
  packages/blade/src/components/index.ts
  packages/blade/src/tokens/global/size.ts
  packages/blade/src/utils/omitPropsFromHTML/index.ts
Labels: Review - L2

#2134 test(StepGroup): Tests for StepGroup
  .changeset/rare-foxes-develop.md
  packages/blade/package.json
  packages/blade/src/components/Amount/__tests__/__snapshots__/Amount.web.test.tsx.snap
  packages/blade/src/components/Box/__tests__/styledProps.test.ts
  packages/blade/src/components/StepGroup/StepGroup.stories.tsx
  packages/blade/src/components/StepGroup/StepGroup.web.tsx
  packages/blade/src/components/StepGroup/StepItem.web.tsx
  packages/blade/src/components/StepGroup/StepLine.web.tsx
  packages/blade/src/components/StepGroup/_KitchenSink.StepGroup.stories.tsx
  packages/blade/src/components/StepGroup/__tests__/StepGroup.ssr.test.tsx
  packages/blade/src/components/StepGroup/__tests__/StepGroup.web.test.tsx
  packages/blade/src/components/StepGroup/__tests__/__snapshots__/StepGroup.ssr.test.tsx.snap
  packages/blade/src/components/StepGroup/__tests__/__snapshots__/StepGroup.web.test.tsx.snap
  packages/blade/src/utils/metaAttribute/metaConstants.ts
  yarn.lock
Labels: Review - L2

#2139 docs: SearchInput API
  packages/blade/src/components/Input/SearchInput/_decisions/decisions.md
  packages/blade/src/components/Input/SearchInput/_decisions/searchinput-anatomy.png
  packages/blade/src/components/Input/SearchInput/_decisions/searchinput-dropdown.png
  packages/blade/src/components/Input/SearchInput/_decisions/searchinput-thumbnail.png
Labels: Review - L1
