Repository razorpay/blade, pull requests merged in 2024-06, with the labels that each got.

#2212 docs(Menu): API Decision
  packages/blade/src/components/Menu/_decisions/decisions.md
  packages/blade/src/components/Menu/_decisions/dropdown-menu-table.png
  packages/blade/src/components/Menu/_decisions/overview.png
Labels: Review - L2

#2252 fix: Spinner white color
  .changeset/fifty-lemons-bow.md
  packages/blade/src/components/Amount/__tests__/__snapshots__/Amount.ssr.test.tsx.snap
  packages/blade/src/components/Collapsible/__tests__/__snapshots__/Collapsible.ssr.test.tsx.snap
  packages/blade/src/components/Spinner/BaseSpinner/BaseSpinner.tsx
  packages/blade/src/components/Spinner/BaseSpinner/__tests__/__snapshots__/BaseSpinner.native.test.tsx.snap
  packages/blade/src/components/Spinner/BaseSpinner/__tests__/__snapshots__/BaseSpinner.web.test.tsx.snap
  packages/blade/src/components/Spinner/Spinner/__tests__/__snapshots__/Spinner.native.test.tsx.snap
  packages/blade/src/components/Spinner/Spinner/__tests__/__snapshots__/Spinner.ssr.test.tsx.snap
  packages/blade/src/components/Spinner/Spinner/__tests__/__snapshots__/Spinner.web.test.tsx.snap
  packages/blade/src/components/Table/__tests__/__snapshots__/Table.web.test.tsx.snap
Labels: P0

#2258 feat: add iconColor prop to List & ListItem
  .changeset/three-cherries-teach.md
  packages/blade/src/components/List/List.stories.tsx
  packages/blade/src/components/List/List.tsx
  packages/blade/src/components/List/ListContext.ts
  packages/blade/src/components/List/ListItem.tsx
  packages/blade/src/components/List/ListItemIcons.tsx
  packages/blade/src/components/List/__tests__/List.native.test.tsx
  packages/blade/src/components/List/__tests__/List.web.test.tsx
  packages/blade/src/components/List/__tests__/__snapshots__/List.native.test.tsx.snap
  packages/blade/src/components/List/__tests__/__snapshots__/List.web.test.tsx.snap
Labels: P0

#2229 feat(Menu): add Menu implementation
  packages/blade/src/components/Avatar/Avatar.web.tsx
  packages/blade/src/components/Avatar/AvatarButton.tsx
  packages/blade/src/components/Avatar/types.ts
  packages/blade/src/components/BaseHeaderFooter/BaseFooter.tsx
  packages/blade/src/components/BaseHeaderFooter/BaseHeader.tsx
  packages/blade/src/components/BaseMenu/BaseMenuItem.tsx
  packages/blade/src/components/BaseMenu/index.ts
  packages/blade/src/components/BaseMenu/tokens.ts
  packages/blade/src/components/Button/BaseButton/BaseButton.tsx
  packages/blade/src/components/Button/Button/Button.tsx
  packages/blade/src/components/Dropdown/DropdownOverlay.web.tsx
  packages/blade/src/components/Menu/Menu.stories.tsx
  packages/blade/src/components/Menu/Menu.web.tsx
  packages/blade/src/components/Menu/MenuItem.web.tsx
  packages/blade/src/components/Menu/MenuOverlay.web.tsx
  packages/blade/src/components/Menu/VisualSubComponents/MenuDivider.web.tsx
  packages/blade/src/components/Menu/VisualSubComponents/MenuHeaderFooter.web.tsx
  packages/blade/src/components/Menu/index.ts
  packages/blade/src/components/Menu/tokens.ts
  packages/blade/src/components/Menu/types.ts
  packages/blade/src/components/Menu/useMenu.ts
  packages/blade/src/components/types.ts
  packages/blade/src/utils/metaAttribute/metaConstants.ts
Labels: Review - L2

#2232 refactor(ActionListItem): use BaseMenuItem in ActionListItem
  packages/blade/src/components/ActionList/ActionList.stories.tsx
  packages/blade/src/components/ActionList/ActionListItem.tsx
  packages/blade/src/components/ActionList/styles/StyledActionListItem.native.tsx
  packages/blade/src/components/ActionList/styles/StyledActionListItem.web.tsx
  packages/blade/src/components/ActionList/styles/getBaseActionListItemStyles.ts
  packages/blade/src/components/BaseMenu/BaseMenuContext.ts
  packages/blade/src/components/BaseMenu/BaseMenuItem/BaseMenuItem.tsx
  packages/blade/src/components/BaseMenu/BaseMenuItem/StyledMenuItemContainer.native.tsx
  packages/blade/src/components/BaseMenu/BaseMenuItem/StyledMenuItemContainer.web.tsx
  packages/blade/src/components/BaseMenu/BaseMenuItem/getBaseMenuItemStyles.ts
  packages/blade/src/components/BaseMenu/index.ts
  packages/blade/src/components/BaseMenu/types.ts
  packages/blade/src/components/DatePicker/QuickSelection/QuickSelectionItem.web.tsx
  packages/blade/src/components/Dropdown/DropdownOverlay.web.tsx
  packages/blade/src/components/Menu/Menu.stories.tsx
  packages/blade/src/components/Menu/MenuItem.web.tsx
  packages/blade/src/components/Menu/MenuOverlay.web.tsx
  packages/blade/src/components/Menu/VisualSubComponents/MenuHeaderFooter.web.tsx
  packages/blade/src/components/Menu/types.ts
  packages/blade/src/components/Tooltip/Tooltip.web.tsx
  packages/blade/src/components/types.ts
Labels: Review - L2

#2236 docs(Menu): add documentation and tests
  packages/blade/src/components/ActionList/ActionListItem.tsx
  packages/blade/src/components/BaseMenu/BaseMenuItem.tsx
  packages/blade/src/components/BaseMenu/BaseMenuItem/BaseMenuItem.tsx
  packages/blade/src/components/BaseMenu/BaseMenuItem/StyledMenuItemContainer.web.tsx
  packages/blade/src/components/BaseMenu/types.ts
  packages/blade/src/components/BottomSheet/__tests__/__snapshots__/BottomSheet.web.test.tsx.snap
  packages/blade/src/components/Button/Button/Button.tsx
  packages/blade/src/components/ButtonGroup/__tests__/__snapshots__/ButtonGroup.web.test.tsx.snap
  packages/blade/src/components/Collapsible/__tests__/__snapshots__/Collapsible.ssr.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.native.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.ssr.test.tsx.snap
  packages/blade/src/components/Dropdown/__tests__/__snapshots__/Dropdown.web.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.native.test.tsx.snap
  packages/blade/src/components/Input/DropdownInputTriggers/__tests__/__snapshots__/AutoComplete.web.test.tsx.snap
  packages/blade/src/components/Input/PhoneNumberInput/__tests__/__snapshots__/PhoneNumberInput.ssr.test.tsx.snap
  packages/blade/src/components/Input/PhoneNumberInput/__tests__/__snapshots__/PhoneNumberInput.web.test.tsx.snap
  packages/blade/src/components/Input/SearchInput/__tests__/__snapshots__/SearchInput.web.test.tsx.snap
  packages/blade/src/components/Link/BaseLink/BaseLink.tsx
  packages/blade/src/components/Link/Link/Link.tsx
  packages/blade/src/components/Menu/Menu.native.tsx
  packages/blade/src/components/Menu/Menu.stories.tsx
  packages/blade/src/components/Menu/Menu.web.tsx
  packages/blade/src/components/Menu/MenuItem.native.tsx
  packages/blade/src/components/Menu/MenuItem.web.tsx
  packages/blade/src/components/Menu/MenuOverlay.native.tsx
  packages/blade/src/components/Menu/MenuOverlay.web.tsx
  packages/blade/src/components/Menu/VisualSubComponents/MenuDivider.native.tsx
  packages/blade/src/components/Menu/VisualSubComponents/MenuHeaderFooter.native.tsx
  packages/blade/src/components/Menu/VisualSubComponents/MenuHeaderFooter.web.tsx
  packages/blade/src/components/Menu/__tests__/Menu.test.stories.tsx
  packages/blade/src/components/Menu/__tests__/Menu.web.test.tsx
  packages/blade/src/components/Menu/__tests__/__snapshots__/Menu.web.test.tsx.snap
  packages/blade/src/components/Menu/docs/CustomMenu.web.tsx
  packages/blade/src/components/Menu/docs/Menu.stories.tsx
  packages/blade/src/components/Menu/index.ts
  packages/blade/src/components/Menu/tokens.ts
  packages/blade/src/components/Menu/types.ts
  packages/blade/src/components/Menu/useMenu.ts
  packages/blade/src/utils/metaAttribute/metaConstants.ts
Labels: Review - L2, Run Interaction Tests

#2262 ci: push bundle stats to non-master branch
  .github/workflows/blade-bundle-size.yml
  packages/blade/scripts/generateBundleDiff.js
Labels: Run Interaction Tests

#2263 ci: fix flaky drawer tests
  packages/blade/src/components/Drawer/__tests__/Drawer.test.stories.tsx
Labels: Run Interaction Tests

#2261 fix(FileUpload): correctly udpate state in controlled mode
  .changeset/fifty-cougars-fry.md
  packages/blade/src/components/FileUpload/FileUpload.web.tsx
Labels: Run Interaction Tests

#2272 test: add topnav tests
  packages/blade/src/components/TopNav/TabNav/TabNav.web.tsx
  packages/blade/src/components/TopNav/__tests__/TabNav.test.stories.tsx
  packages/blade/src/components/TopNav/__tests__/TopNav.ssr.test.tsx
  packages/blade/src/components/TopNav/__tests__/TopNav.web.test.tsx
  packages/blade/src/components/TopNav/__tests__/TopNavExample.tsx
  packages/blade/src/components/TopNav/__tests__/__snapshots__/TopNav.ssr.test.tsx.snap
  packages/blade/src/components/TopNav/__tests__/__snapshots__/TopNav.web.test.tsx.snap
Labels: Review - L1

#2257 feat(blade): add TopNav component
  .changeset/gorgeous-months-move.md
  packages/blade/.storybook/react/preview.tsx
  packages/blade/src/components/SideNav/SideNav.web.tsx
  packages/blade/src/components/SideNav/__tests__/__snapshots__/SideNav.ssr.test.tsx.snap
  packages/blade/src/components/SideNav/__tests__/__snapshots__/SideNav.web.test.tsx.snap
  packages/blade/src/components/SideNav/index.ts
  packages/blade/src/components/SideNav/tokens.ts
  packages/blade/src/components/TopNav/TabNav/TabNav.native.tsx
  packages/blade/src/components/TopNav/TabNav/TabNav.web.tsx
  packages/blade/src/components/TopNav/TabNav/TabNavContext.tsx
  packages/blade/src/components/TopNav/TabNav/TabNavItem.native.tsx
  packages/blade/src/components/TopNav/TabNav/TabNavItem.web.tsx
  packages/blade/src/components/TopNav/TabNav/index.ts
  packages/blade/src/components/TopNav/TabNav/types.ts
  packages/blade/src/components/TopNav/TabNav/utils.ts
  packages/blade/src/components/TopNav/TopNav.native.tsx
  packages/blade/src/components/TopNav/TopNav.web.tsx
  packages/blade/src/components/TopNav/TopNavContext.tsx
  packages/blade/src/components/TopNav/__tests__/TabNav.test.stories.tsx
  packages/blade/src/components/TopNav/__tests__/TopNav.ssr.test.tsx
  packages/blade/src/components/TopNav/__tests__/TopNav.web.test.tsx
  packages/blade/src/components/TopNav/__tests__/TopNavExample.native.tsx
  packages/blade/src/components/TopNav/__tests__/TopNavExample.web.tsx
  packages/blade/src/components/TopNav/__tests__/__snapshots__/TopNav.ssr.test.tsx.snap
  packages/blade/src/components/TopNav/__tests__/__snapshots__/TopNav.web.test.tsx.snap
  packages/blade/src/components/TopNav/docs/TabNav.stories.tsx
  packages/blade/src/components/TopNav/docs/TopNav.stories.tsx
  packages/blade/src/components/TopNav/docs/_KitchenSink.TabNav.stories.tsx
  packages/blade/src/components/TopNav/docs/_KitchenSink.TopNav.stories.tsx
  packages/blade/src/components/TopNav/docs/code.ts
  packages/blade/src/components/TopNav/index.ts
  packages/blade/src/components/index.ts
  packages/blade/src/tokens/global/size.ts
  packages/blade/src/utils/metaAttribute/metaConstants.ts
Labels: Review - L1

#2276 feat(Menu, Dropdown): add width props on MenuOverlay and allow it in SelectInput Dropdown
  .changeset/lucky-plums-lie.md
  packages/blade/src/components/Dropdown/DropdownOverlay.web.tsx
  packages/blade/src/components/Dropdown/docs/DropdownWithSelect.stories.tsx
  packages/blade/src/components/Dropdown/types.ts
  packages/blade/src/components/Menu/MenuOverlay.web.tsx
  packages/blade/src/components/Menu/types.ts
Labels: P0
