Repository razorpay/blade, pull requests merged in 2025-01, with the labels that each got.

#2471 feat(ActionList): add Virtualization
  .changeset/tidy-lies-confess.md
  packages/blade/package.json
  packages/blade/src/components/ActionList/ActionList.tsx
  packages/blade/src/components/ActionList/ActionListBox.native.tsx
  packages/blade/src/components/ActionList/ActionListBox.web.tsx
  packages/blade/src/components/ActionList/ActionListItem.tsx
  packages/blade/src/components/ActionList/docs/propsTable.tsx
  packages/blade/src/components/ActionList/styles/getBaseListBoxWrapperStyles.ts
  packages/blade/src/components/BaseMenu/BaseMenuItem/BaseMenuItem.tsx
  packages/blade/src/components/BaseMenu/BaseMenuItem/StyledMenuItemContainer.web.tsx
  packages/blade/src/components/BaseMenu/BaseMenuItem/getBaseMenuItemStyles.ts
  packages/blade/src/components/BaseMenu/BaseMenuItem/tokens.ts
  packages/blade/src/components/Dropdown/docs/DropdownWithSelect.stories.tsx
  yarn.lock
Labels: Review - L1, P0

#2472 feat: add dateformat and placeholder prop for datepicker input [DSSUP-199]
  .changeset/yellow-cameras-knock.md
  packages/blade/src/components/DatePicker/Calendar.web.tsx
  packages/blade/src/components/DatePicker/CalendarHeader.web.tsx
  packages/blade/src/components/DatePicker/DateInput.web.tsx
  packages/blade/src/components/DatePicker/DatePicker.web.tsx
  packages/blade/src/components/DatePicker/types.ts
Labels: P0

#2488 feat(SideNav): add description and onLevelChange callback
  .changeset/lucky-toys-hunt.md
  packages/blade/src/components/SideNav/SideNav.web.tsx
  packages/blade/src/components/SideNav/SideNavItems/SideNavLink.web.tsx
  packages/blade/src/components/SideNav/__tests__/__snapshots__/SideNav.ssr.test.tsx.snap
  packages/blade/src/components/SideNav/__tests__/__snapshots__/SideNav.web.test.tsx.snap
  packages/blade/src/components/SideNav/docs/SideNav.stories.tsx
  packages/blade/src/components/SideNav/types.ts
Labels: Review - L1

#2511 feat: add sort and prompt icon [p0]
  .changeset/beige-ligers-fix.md
  packages/blade/scripts/icons.json
  packages/blade/src/components/Icons/PromptIcon/PromptIcon.native.test.tsx
  packages/blade/src/components/Icons/PromptIcon/PromptIcon.tsx
  packages/blade/src/components/Icons/PromptIcon/PromptIcon.web.test.tsx
  packages/blade/src/components/Icons/PromptIcon/__snapshots__/PromptIcon.native.test.tsx.snap
  packages/blade/src/components/Icons/PromptIcon/__snapshots__/PromptIcon.web.test.tsx.snap
  packages/blade/src/components/Icons/PromptIcon/index.ts
  packages/blade/src/components/Icons/SortIcon/SortIcon.native.test.tsx
  packages/blade/src/components/Icons/SortIcon/SortIcon.tsx
  packages/blade/src/components/Icons/SortIcon/SortIcon.web.test.tsx
  packages/blade/src/components/Icons/SortIcon/__snapshots__/SortIcon.native.test.tsx.snap
  packages/blade/src/components/Icons/SortIcon/__snapshots__/SortIcon.web.test.tsx.snap
  packages/blade/src/components/Icons/SortIcon/index.ts
  packages/blade/src/components/Icons/iconMap.ts
  packages/blade/src/components/Icons/index.ts
Labels: P0

#2516 fix(Avatar): add missing ref on default avatar
  .changeset/nasty-frogs-end.md
  packages/blade/src/components/Avatar/Avatar.web.tsx
  packages/blade/src/components/Menu/docs/Menu.stories.tsx
Labels: P0

#2517 fix(Avatar): add missing ref on default avatar for v11
  .changeset/serious-nails-hope.md
  packages/blade/src/components/Avatar/Avatar.web.tsx
  packages/blade/src/components/Menu/docs/Menu.stories.tsx
Labels: P0
