Repository razorpay/blade, pull requests merged in 2025-02, with the labels that each got.

#2521 fix(FileUpload): revert to not calling onChange on file remove
  .changeset/moody-coats-clean.md
  packages/blade/src/components/FileUpload/FileUpload.web.tsx
Labels: Review - L2, P0

#2532 feat(TextArea): expose onKeydown on TextArea
  .changeset/twenty-planets-tell.md
  packages/blade/src/components/Input/BaseInput/BaseInput.tsx
  packages/blade/src/components/Input/TextArea/TextArea.stories.tsx
  packages/blade/src/components/Input/TextArea/TextArea.tsx
Labels: P0

#2524 feat: OTPInput field value clear behaviour changes
  .changeset/eighty-doors-yell.md
  packages/blade/src/components/Input/OTPInput/OTPInput.tsx
  packages/blade/src/components/Input/OTPInput/__tests__/OTPInput.web.test.tsx
Labels: Review - L2

#2457 fix: remove js check that allows brand token for Box backgroundColor
  .changeset/mean-guests-reflect.md
  packages/blade/src/components/Box/Box.tsx
  packages/blade/src/components/Box/__tests__/Box.native.test.tsx
  packages/blade/src/components/Box/__tests__/Box.web.test.tsx
Labels: Ready to Merge
